= content_for :title, "Basics #{@recipient.name}"

= javascript_include_tag 'chosen-jquery'
= javascript_include_tag 'chosen'
= stylesheet_link_tag 'chosen'
= stylesheet_link_tag 'overrides/chosen_overrides'
= javascript_include_tag 'signup'
= javascript_include_tag 'profiles'

= render partial: 'signup/subnav', locals: { current_step: 0 }

.uk-container.uk-container-center.uk-margin-large
  %h2 Basics
  %h4 Which type of organisation or project you are seeking funding for?

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    = render partial: 'proposals/cta'

    = simple_form_for @recipient, url: edit_signup_recipient_path(@recipient), remote: true, authenticity_token: true do |f|

      = cell(:recipient_form, @recipient, f: f, scrape_success: @scrape_success).call(:lookup)
      = cell(:recipient_form, @recipient, f: f)

      .uk-width-medium-1-1.uk-margin-top.next
        = f.button :button, 'Next', class: 'uk-button uk-button-primary uk-button-large uk-width-medium-1-2 uk-float-right', data: {disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> We're off the mark...</span>"}
