.uk-modal{id: "#{k}-modal"}
  .uk-modal-dialog.uk-modal-dialog-medium
    .uk-modal-close.uk-close
    .uk-modal-header
      %h3.uk-text-bold
        Recipients shared with
        = Funder.find(k).name
      .uk-text-muted
        In
        = @funder.current_attribute.year

    - Recipient.where(id: @funder.current_attribute.shared_recipient_ids[k]).each do |r|
      %hr.thick
      %h4.uk-text-bold.uk-margin-remove
        %a.blue{"data-uk-tooltip" => "{pos:'right'}", :title => "Recipients profiles coming soon."}= r.name
      %table.uk-table.uk-table-striped.uk-margin-top-remove
        %thead
          %tr
            %th Funder
            %th Amount awarded
            %th Funding stream
        %tfoot
          %tr
            %td Total
            %td= number_to_currency(r.recent_grants(@funder.current_attribute.year).sum(:amount_awarded), unit: '£', precision: 0)
        %tbody
          - r.recent_grants(@funder.current_attribute.year).order(amount_awarded: :desc).each do |g|
            %tr
              %td= Funder.find(g.funder_id).name
              %td= number_to_currency(g.amount_awarded, unit: '£', precision: 0)
              %td= g.funding_stream
              %td
                %a.blue{"data-uk-tooltip" => "{pos:'left'}", :title => "Coming soon"} More info
