%script{:src => "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"}
%link{:href => "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css", :rel => "stylesheet"}

%script{:src => "https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"}
%link{:href => "https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css", :rel => "stylesheet"}
%link{:href => "https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css", :rel => "stylesheet"}

= javascript_include_tag 'map'

:css
  .info {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
  }
  .info div {
    background: #fafafa;
    padding: 10px;
    border-radius: 3px;
    width: 200px;
    height: 100px;
  }

= render partial: 'funders/funding/subnav'

.uk-container.uk-container-center.uk-margin-large

  = render partial: 'funders/prototype'

  %h2 Map
  %h4
    A map of
    = @funder.name.pluralize
    funding distribution in
    = @funder.current_attribute.year
    by UK Local Autority Districts.

    %a#all amount_awarded_hue
    %a#count grant_count_hue

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    - if @funder.districts.any?

      #map
        Map loading...
        #info.info
        #variables.info
      #geojson{data: @geojson}
    - else
      .cta.red
        %strong Sorry, missing information.
        %br
          It looks like we don't have suitable location data for
          = succeed '.' do
            = @funder.name
          %strong= link_to 'Get in touch', 'mailto:support@beehivegiving.org', class: 'blue'
          if you think this is a mistake.
