= content_for :title, "Update #{@profile.year} profile"

= simple_form_for [@recipient, @profile], method: :patch, remote: true do |f|
  = f.hidden_field :year, value: Date.today.year.to_s
  = f.error :year, class: 'uk-text-small uk-text-warning'

  .uk-form.uk-form-stacked.form
    %h3 Target
    .uk-width-1-1
      .label People...
      %small.muted Select as many as applicable. More options below.
      = f.association :beneficiaries, as: :check_boxes, collection: Beneficiary.order(:sort).where(category: 'People'), label_method: :label, value_method: :id
      .uk-grid
        .uk-width-medium-1-3.uk-margin-top
          .label Gender
          = f.input :gender, collection: Profile::GENDERS, input_html: { class: 'large uk-width-1-1' }
          = f.error :gender, class: 'error-message'
        .uk-width-medium-1-3.uk-margin-top
          .label Minimum age
          = f.input :min_age, error: false, type: 'text', input_html: { class: 'large uk-width-1-1', min: 0 }
          = f.error :min_age, class: 'error-message'
        .uk-width-medium-1-3.uk-margin-top
          .label Maximum age
          = f.input :max_age, error: false, type: 'text', input_html: { class: 'large uk-width-1-1', min: 0 }
          = f.error :max_age, class: 'error-message'

    .uk-width-1-1.uk-margin-top
      %a.uk-button.uk-button-primary.uk-button-small.more-options
        More options
        %i.uk-icon-caret-down
      #more-beneficiary-options.uk-margin-top.uk-hidden
        = f.association :beneficiaries, as: :check_boxes, collection: Beneficiary.order(:sort).where(category: 'Other'), label_method: :label, value_method: :id
        .uk-width-medium-1-2
          .checkbox.wide= f.input :beneficiaries_other_required, as: :boolean, inline_label: 'Other', input_html: { class: 'toggle-other' }
          .other.uk-hidden
            = f.input :beneficiaries_other, input_html: { class: 'large other uk-width-medium-1-1' }
            = f.error :beneficiaries_other, class: 'error-message other'
    %hr.thick

    %h3 Location
    .uk-width-1-1
      .label List the countries where your organisation or project has impact
      = f.association :countries, collection: Country.order('priority DESC'), input_html: { class: 'chosen-select large' }
      = f.error :countries, class: 'error-message'

    .uk-width-1-1.uk-margin-top
      .label List the regions where your organisation or project has impact
      = f.association :districts, collection: Country.includes(:districts), as: :grouped_select, group_method: :districts, label_method: :label, value_method: :id, input_html: { multiple: true, class: 'chosen-select large' }
      = f.error :districts, class: 'error-message'
      %small.muted This list will populate once you've selected some countries
    %hr.thick

    %h3 Team
    .uk-grid
      .uk-width-large-1-3.uk-margin-bottom
        .label No. of employees
        = f.input :staff_count, error: false, type: 'text', input_html: { class: 'uk-width-1-1 large', min: 0 }
        = f.error :staff_count, class: 'error-message'
      .uk-width-large-1-3.uk-margin-bottom
        .label No. of volunteers
        = f.input :volunteer_count, type: 'text', input_html: { class: 'uk-width-1-1 large', min: 0 }
        = f.error :volunteer_count, class: 'error-message'
      .uk-width-large-1-3.uk-margin-bottom
        .label No. of trustees
        = f.input :trustee_count, error: false, type: 'text', input_html: { class: 'uk-width-1-1 large', min: 0 }
        = f.error :trustee_count, class: 'error-message'
    .uk-width-medium-1-1
      .label Who implements your work?
      %small.muted Select as many as applicable
      = f.association :implementors, as: :check_boxes, label_method: :label, value_method: :id
      .uk-width-medium-1-2
        .checkbox.wide= f.input :implementors_other_required, as: :boolean, inline_label: 'Other', input_html: { class: 'toggle-other' }
        .other.uk-hidden
          = f.input :implementors_other, input_html: { class: 'large other uk-width-medium-1-1' }
          = f.error :implementors_other, class: 'error-message other'
    %hr.thick

    %h3 Work
    .uk-width-1-1.uk-margin-bottom
      .label What does your organisation or project provide?
      %small.muted Select as many as applicable
      = f.association :implementations, as: :check_boxes, label_method: :label, value_method: :id
      .uk-width-medium-1-2
        .checkbox.wide= f.input :implementations_other_required, as: :boolean, inline_label: 'Other', input_html: { class: 'toggle-other' }
        .other.uk-hidden
          = f.input :implementations_other, input_html: { class: 'large other uk-width-medium-1-1' }
          = f.error :implementations_other, class: 'error-message other'
    .uk-width-medium-1-1.uk-margin-bottom
      .label Do you receive financial payment (not donations) for your work?
      = f.input :does_sell, as: :radio_buttons, input_html: { class: 'uk-width-1-1' }
      = f.error :does_sell, class: 'error-message'
    .uk-width-1-1
      .label
        How many beneficiaries has or will your work affected this year
        = succeed '?' do
          = surround '(', ')' do
            = Date.today.year
      .uk-grid
        .uk-width-medium-1-2
          = f.input :beneficiaries_count, input_html: { class: 'uk-width-1-1 large' }
          = f.error :beneficiaries_count, class: 'error-message'
        .uk-display-block.boolean-padding
          = f.input :beneficiaries_count_actual, as: :boolean, checked_value: false, unchecked_value: true, inline_label: 'Are these estimated figures?'
    %hr.thick

    %h3 Finance
    .uk-width-1-1
      .uk-width-1-1
        .label
          Income in
          = @profile.year || get_year
      .uk-grid
        .uk-width-medium-1-2
          = f.input :income, as: :currency, input_html: { class: 'numeric integer uk-width-1-1 large', min: 0 }, placeholder: 'e.g. 1234'
          = f.error :income, class: 'error-message'
        .uk-display-block.boolean-padding
          = f.input :income_actual, as: :boolean, checked_value: false, unchecked_value: true, inline_label: 'Are these estimated figures?'

      .uk-width-1-1.uk-margin-top
        .label
          Expenditure in
          = @profile.year || get_year
        .uk-grid
          .uk-width-medium-1-2
            = f.input :expenditure, as: :currency, input_html: { class: 'numeric integer uk-width-1-1 large', min: 0 }, placeholder: 'e.g. 2345'
            = f.error :expenditure, class: 'error-message'
          .uk-display-block.boolean-padding
            = f.input :expenditure_actual, as: :boolean, checked_value: false, unchecked_value: true, inline_label: 'Are these estimated figures?'

  = f.button :button, 'Update', class: 'uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin-large-top', data: {disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> Updating funder matches...</span>"}
