= content_for :title, 'Location'

= simple_form_for [@recipient, @profile], method: :patch, remote: true do |f|
  .cta
    %strong Remember:
    You can select multiple options, and easily find the locations you want by typing the name in the box below. Importantly, being specific will improve your funder matches.

  .uk-form.uk-form-stacked.form
    .uk-width-1-1.countries{class: ('uk-hidden' unless @recipient.multi_national?)}
      .label List the countries where your organisation or project has impact
      = f.association :countries, collection: Country.order('priority DESC'), input_html: { class: 'country_field chosen-select large' }
      = f.error :countries, class: 'error-message'

    .uk-width-1-1.uk-margin-top
      .label
        List the regions where your organisation or project has impact
        %span
          %small
            %a.show-countries Work in another country?
      = f.association :districts, collection: Country.includes(:districts).order('districts.id'), as: :grouped_select, group_method: :districts, label_method: :label, value_method: :id, input_html: { multiple: true, class: 'district_field chosen-select large' }
      = f.error :districts, class: 'error-message'
      %small.muted.countries{class: ('uk-hidden' unless @recipient.multi_national?)} This list will populate once you've selected some countries

  - unless @profile.state == 'complete'
    = f.button :button, 'Next', class: 'uk-button uk-button-primary uk-margin-top uk-button-large uk-width-medium-1-2 uk-float-right', data: {disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> Now we're cooking...</span>"}
