- if mode == :new
  %ul.progress-indicator
    %li.completed
      %span.bubble
      Basics
    %li.completed
      %span.bubble
      Target
    %li.warning
      %span.bubble
      Location
    %li
      %span.bubble
      Team
    %li
      %span.bubble
      Work
    %li
      %span.bubble
      Finance

.uk-form.uk-form-stacked
  .uk-width-1-1
    .uk-alert
      %h4.uk-margin-remove Remember
      %p.uk-margin-remove The more specific you are, the more specific your results will be.
    %label.uk-form-label The countries where my organisation has impact...
    .uk-form-controls
      = f.association :countries, collection: Country.order('priority DESC'), input_html: {class: 'chosen-select'}
      = f.error :countries, class: 'uk-text-small uk-text-warning'
  .uk-width-1-1.uk-margin-top
    %label.uk-form-label The regions where my organisation has impact...
    .uk-form-controls
      = f.association :districts, collection: Country.includes(:districts), as: :grouped_select, group_method: :districts, label_method: :label, value_method: :id, input_html: {multiple: true, class: 'chosen-select'}
      = f.error :districts, class: 'uk-text-small uk-text-warning'
    %small.uk-text-muted This list will populate once you've selected some countries

- unless @profile.state == 'complete'
  .uk-modal-footer
    = f.button :button, 'Next', class: 'uk-button uk-button-primary uk-margin-top uk-width-1-1', style: 'color: #fff;', data: {disable_with: "<i style='color: #999;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #999;'> Now we're cooking...</span>"}
