= content_for :title, 'Work'

= simple_form_for [@recipient, @profile], method: :patch, remote: true, authenticity_token: true do |f|
  .uk-form.uk-form-stacked.form
    .uk-width-1-1.uk-margin-bottom
      .label What does your organisation or project provide?
      %small.muted Select as many as applicable
      = f.association :implementations, as: :check_boxes, label_method: :label, value_method: :id
      .uk-width-medium-1-2
        .checkbox.wide= f.input :implementations_other_required, as: :boolean, inline_label: 'Other', input_html: { class: 'toggle-other' }
        .other.uk-hidden
          = f.input :implementations_other, input_html: { class: 'large other uk-width-medium-1-1' }
          = f.error :implementations_other, class: 'error-message other'
    .uk-width-medium-1-1.uk-margin-bottom
      .label Do you receive financial payment (not donations) for your work?
      = f.input :does_sell, as: :radio_buttons, input_html: { class: 'uk-width-1-1' }
      = f.error :does_sell, class: 'error-message'

  - unless @profile.state == 'complete'
    = f.button :button, 'Next', class: 'uk-button uk-button-primary uk-margin-top uk-button-large uk-width-medium-1-2 uk-float-right', data: {disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> You're getting the hang of this...</span>"}
