= f.input :year, collection: Profile::VALID_YEARS
= f.input :gender, collection: Profile::GENDERS
= f.input :currency
= f.input :goods_services
= f.input :who_pays
= f.input :who_buys
= f.input :min_age
= f.input :max_age
= f.input :income
= f.input :expenditure
= f.input :volunteer_count
= f.input :staff_count
= f.input :job_role_count
= f.input :department_count
= f.input :goods_count
= f.input :units_count
= f.input :services_count
= f.input :beneficiaries_count
= f.association :beneficiaries, label_method: :label, value_method: :id
= f.submit
