= stylesheet_link_tag 'signup'

- if @profile.state == 'location' || @profile.state == 'complete'
  = javascript_include_tag 'chosen-jquery'
  = javascript_include_tag 'chosen'
  = stylesheet_link_tag 'chosen'
  = stylesheet_link_tag 'overrides/chosen_overrides'

:javascript
  mixpanel.track("View Profile #{@profile.state.capitalize} Page");

- if @profile.state == 'complete'
  .uk-container.uk-container-center.uk-margin-large
    %h2 Update profile
    %h4= "#{@profile.year}"

    .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
      = render partial: "profiles/states/#{@profile.state}"

- else
  - content_for :signup do
    = render partial: 'signup/subnav', locals: { current_step: profile_state_step_helper(@profile.state)[:count] }

    .uk-container.uk-container-center.uk-margin-large
      %h2= @profile.state.capitalize
      %h4= profile_state_step_helper(@profile.state)[:message]

      .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
        = render partial: "profiles/states/#{@profile.state}"
