#bg-color
  .uk-container.uk-container-center
    .uk-grid.uk-margin.uk-margin-top

      .uk-width-medium-1-1.uk-float-left.uk-animation-fade
        = simple_form_for [@recipient, @profile], method: :post do |f|
          .uk-grid
            .uk-width-medium-1-1.uk-margin-bottom
              %h2
                Complete your
                = get_year
                profile
                %a.uk-text-small{"data-uk-toggle" => "{target:'#about_profiles'}"} What is a profile?
            .uk-width-medium-1-1.uk-margin-bottom.uk-animation-fade.uk-hidden#about_profiles
              .uk-width-medium-1-1
                .uk-grid
                  .uk-width-medium-3-4
                    %h3 What is a profile?
                    .uk-text-bold
                      Beehive is the first ‘matchmaking’ system of its kind. It uses publically observable, and verifiable measurements to build a personalised profile for your organisation.
                    %p
                      A measurement is simply something, which you can reasonably evidence. For example, you shouldn’t say that you've affected unemployed people if every person you've helped in a given year had a job. Beehive measures where you work, who/what you target, how you work with them, your team, and finances.
                    %p
                      Our unique approach means we’re able to understand how organisations are similar to each other based on measurable characteristics, enabling Beehive to accurately connect non-profits and funders.
                    %p
                      Drop us a
                      = link_to 'line', 'mailto:support@beehivegiving.org', target: '_blank'
                      if you have any questions.
                      - if current_user_should_render_feedback?
                        Or give us some
                        = succeed '.' do
                          %a{"data-uk-modal" => "{target:'#feedback'}"} feedback
                  .uk-width-medium-1-4.uk-hidden-small
                    = image_tag 'signup/fingerprint_b.png'

          = render partial: 'profiles/form', locals: {f: f, mode: :new}
