= stylesheet_link_tag 'modals'

:javascript
  mixpanel.track("Page View", {"Page Name": "New Profile"});
  mixpanel.track_forms("#new_profile", "Create Profile Form");

:javascript
  var google_conversion_id = 958190855;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "2cu5CMnWrF8Qh6rzyAM";
  var google_remarketing_only = false;
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/958190855/?label=2cu5CMnWrF8Qh6rzyAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/

- content_for :signup do
  = render partial: 'funders/static_background'

#new-profile-modal.uk-modal
  .uk-modal-dialog
    = simple_form_for [@recipient, @profile], method: :post do |f|
      = f.hidden_field :year, value: Date.today.year.to_s
      = f.error :year, class: 'uk-text-small uk-text-warning'
      = render partial: "profiles/states/#{@profile.state}", locals: { f: f, mode: :new }
  = render 'snippets/need_help'

:javascript
  var modal = $.UIkit.modal('#new-profile-modal');
  modal.options.bgclose = false;
  modal.options.keyboard = false;
  modal.show();
