= stylesheet_link_tag 'signup'

:javascript
  mixpanel.track("View Profile #{@profile.state.capitalize} Page");
  mixpanel.identify('#{current_user.id}');
  mixpanel.people.set({
    'Profile State': '#{@profile.state}'
  });

:javascript
  var google_conversion_id = 958190855;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "2cu5CMnWrF8Qh6rzyAM";
  var google_remarketing_only = false;
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/958190855/?label=2cu5CMnWrF8Qh6rzyAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/

- content_for :signup do
  = render partial: 'signup/subnav', locals: { current_step: 1 }

  .uk-container.uk-container-center.uk-margin-large

    - if @recipient.profiles.count > 0
      .cta.red.tight.uk-margin-large-bottom.uk-animation-slide-top
        %strong Your profile is out of date.

        Please follow the steps on the next few pages to update your profile for
        = succeed '.' do
          = Date.today.year

    %h2 Target
    %h4= profile_state_step_helper(@profile.state)[:message]

    .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
      = render partial: "profiles/states/#{@profile.state}"
