= content_for :title, 'Sign in'

%header#header-offset
  #hex

  .maxw1080.mx-auto
    .perc33.md.mt120.mx-auto
      .center.my40
        = link_to 'Beehive', root_path, id: 'navbar-logo', alt: 'Beehive logo', class: 'white block mx-auto'

      .bg-white.p15.rounded.shadow

        - if flash[:error]
          .mb20.p15.bg-red.white.center
            = flash[:error]

        = form_tag sign_in_path, method: 'post', class: '', id: 'sign-in' do
          = text_field_tag :email, nil, placeholder: 'Email', type: 'email', class: 'input mb10'
          = password_field_tag :password, nil, placeholder: 'Password', type: 'password', class: 'input mb10'
          = button_tag 'Sign in', class: 'button-wide white bg-olive caps truncate mb10'
          %label.gray.mb20
            = check_box_tag :remember_me, 1, params[:remember_me]
            Remember me
        
        .fit.lh20.mb10
          = link_to 'Forgot Password?', new_password_reset_path, class: 'blue fs12 right'

- content_for :footer do
  %div
    \
