.uk-vertical-align.uk-text-center.uk-height-1-1
  .uk-vertical-align-middle{:style => "width: 250px;"}
    %a{href: root_path}
      .logo
    = form_tag login_path, method: 'post', class: 'uk-panel uk-panel-box uk-form' do
      .uk-form-row
        = text_field_tag :email, nil, placeholder: 'Email', type: 'email', class: 'uk-width-1-1 uk-form-large'
      .uk-form-row.uk-form-password
        = password_field_tag :password, nil, placeholder: 'Password', type: 'password', class: 'form-password uk-width-1-1 uk-form-large'
        %a.uk-form-password-toggle{"data-uk-form-password" => "", :href => ""} Show
      .uk-form-row
        = submit_tag 'Login', class: 'uk-width-1-1 uk-button uk-button-primary uk-button-large', style: 'color: #fff; font-size: 16px'
      .uk-form-row.uk-text-small
        %label.uk-float-left
          = check_box_tag :remember_me, 1, params[:remember_me]
          Remember Me
        = link_to 'Forgot Password?', new_password_reset_path, class: 'uk-float-right uk-link uk-link-muted'
        -# %a.uk-float-right.uk-link.uk-link-muted{:href => "#"} Forgot Password?
    = link_to 'Sign up', sign_up_path, class: 'uk-button uk-width-1-1'
