.uk-container.uk-container-center
  .uk-grid.uk-margin-large.uk-margin-large-top
    .uk-width-1-1.uk-margin
      %h2 Reset your password
      .uk-form.uk-form-stacked.uk-panel.uk-panel-box
        %fieldset
        = simple_form_for @user, url: password_reset_path(params[:id]) do |f|
          .uk-grid
            .uk-width-medium-1-2.uk-margin-bottom
              .uk-form-controls{style: 'position: relative;'}
                = f.input :password, label: false, error: false, type: 'password', input_html: { class: 'uk-width-1-1' }
                .uk-form-password-toggle
                  = f.error :password, class: 'uk-text-small uk-text-warning'
            .uk-width-medium-1-2.uk-margin-bottom
              .uk-form-controls{style: 'position: relative;'}
                = f.input :password_confirmation, label: false, error: false, type: 'email', input_html: { class: 'uk-width-1-1' }
                .uk-form-password-toggle
                  = f.error :password_confirmation, class: 'uk-text-small uk-text-warning'
            .uk-width-medium-1-1
              = f.submit 'Change password', class: 'uk-button uk-button-primary uk-width-1-1', style: 'color: #fff;'
