:sass
  h1, h2, h3, h4, h5, h6, p, a, table
    font-family: arial
    color: #333
  table
    width: 100%
  td
    width: 25%
    text-align: center
  .container
    margin: 0 auto
    max-width: 600px

.container
  %h2= @subject

  %table
    %tbody
      %tr
        %td
        %td
          %strong Users
        %td
          %strong Non-profits
        %td
          %strong Profiles

      - 7.times do |i|
        %tr
          %td
            %strong= (Date.today.day - i).ordinalize
          %td= @users[i]
          %td
            = @recipients[i]
            %small= "(#{((@recipients[i].to_d / @users[i].to_d).round(3) * 100)}%)"
          %td
            = @profiles[i]
            %small= "(#{((@profiles[i].to_d / @users[i].to_d).round(3) * 100)}%)"

      %tr
        %td
        %td
          %strong= @users.inject{|sum,x| sum + x }
        %td
          %strong= @recipients.inject{|sum,x| sum + x }
        %td
          %strong= @profiles.inject{|sum,x| sum + x }
