%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    :css
      @media only screen and (max-width: 480px){
        body,table,td,p,a,li,blockquote{
          -webkit-text-size-adjust:none !important;
        }

      }	@media only screen and (max-width: 480px){
        body{
          width:100% !important;
          min-width:100% !important;
        }

      }	@media only screen and (max-width: 480px){
        table[class=mcnTextContentContainer]{
          width:100% !important;
        }

      }	@media only screen and (max-width: 480px){
        table[class=mcnBoxedTextContentContainer]{
          width:100% !important;
        }

      }	@media only screen and (max-width: 480px){
        table[class=mcpreview-image-uploader]{
          width:100% !important;
          display:none !important;
        }

      }	@media only screen and (max-width: 480px){
        img[class=mcnImage]{
          width:100% !important;
        }

      }	@media only screen and (max-width: 480px){
        table[class=mcnImageGroupContentContainer]{
          width:100% !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnImageGroupContent]{
          padding:9px !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnImageGroupBlockInner]{
          padding-bottom:0 !important;
          padding-top:0 !important;
        }

      }	@media only screen and (max-width: 480px){
        tbody[class=mcnImageGroupBlockOuter]{
          padding-bottom:9px !important;
          padding-top:9px !important;
        }

      }	@media only screen and (max-width: 480px){
        table[class=mcnCaptionTopContent],table[class=mcnCaptionBottomContent]{
          width:100% !important;
        }

      }	@media only screen and (max-width: 480px){
        table[class=mcnCaptionLeftTextContentContainer],table[class=mcnCaptionRightTextContentContainer],table[class=mcnCaptionLeftImageContentContainer],table[class=mcnCaptionRightImageContentContainer],table[class=mcnImageCardLeftTextContentContainer],table[class=mcnImageCardRightTextContentContainer]{
          width:100% !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
          padding-right:18px !important;
          padding-left:18px !important;
          padding-bottom:0 !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnImageCardBottomImageContent]{
          padding-bottom:9px !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnImageCardTopImageContent]{
          padding-top:18px !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnImageCardLeftImageContent],td[class=mcnImageCardRightImageContent]{
          padding-right:18px !important;
          padding-left:18px !important;
          padding-bottom:0 !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnImageCardBottomImageContent]{
          padding-bottom:9px !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnImageCardTopImageContent]{
          padding-top:18px !important;
        }

      }	@media only screen and (max-width: 480px){
        table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent],table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent]{
          padding-top:9px !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent]{
          padding-top:18px !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnBoxedTextContentColumn]{
          padding-left:18px !important;
          padding-right:18px !important;
        }

      }	@media only screen and (max-width: 480px){
        td[class=mcnTextContent]{
          padding-right:18px !important;
          padding-left:18px !important;
        }

      }	@media only screen and (max-width: 480px){
        table[class=templateContainer]{
          max-width:600px !important;
          width:100% !important;
        }
      }	@media only screen and (max-width: 480px){
        h1{
          font-size:24px !important;
          line-height:125% !important;
        }
      }	@media only screen and (max-width: 480px){
        h2{
          font-size:20px !important;
          line-height:125% !important;
        }
      }	@media only screen and (max-width: 480px){
        h3{
          font-size:18px !important;
          line-height:125% !important;
        }
      }	@media only screen and (max-width: 480px){
        h4{
          font-size:16px !important;
          line-height:125% !important;
        }
      }	@media only screen and (max-width: 480px){
        table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent],td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p{
          font-size:18px !important;
          line-height:125% !important;
        }
      }	@media only screen and (max-width: 480px){
        table[id=templatePreheader]{
          display:block !important;
        }
      }	@media only screen and (max-width: 480px){
        td[class=preheaderContainer] td[class=mcnTextContent],td[class=preheaderContainer] td[class=mcnTextContent] p{
          font-size:14px !important;
          line-height:115% !important;
        }
      }	@media only screen and (max-width: 480px){
        td[class=headerContainer] td[class=mcnTextContent],td[class=headerContainer] td[class=mcnTextContent] p{
          font-size:18px !important;
          line-height:125% !important;
        }
      }	@media only screen and (max-width: 480px){
        td[class=bodyContainer] td[class=mcnTextContent],td[class=bodyContainer] td[class=mcnTextContent] p{
          font-size:18px !important;
          line-height:125% !important;
        }
      }	@media only screen and (max-width: 480px){
        td[class=footerContainer] td[class=mcnTextContent],td[class=footerContainer] td[class=mcnTextContent] p{
          font-size:14px !important;
          line-height:115% !important;
        }
      }	@media only screen and (max-width: 480px){
        td[class=footerContainer] a[class=utilityLink]{
          display:block !important;
        }
      }

%body{:leftmargin => "0", :marginheight => "0", :marginwidth => "0", :offset => "0", :style => "margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;height: 100% !important;width: 100% !important;", :topmargin => "0"}
  %center
    %table#bodyTable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #ffffff;height: 100% !important;width: 100% !important;", :width => "100%"}
      %tr
        %td#bodyCell{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;border-top: 0;height: 100% !important;width: 100% !important;", :valign => "top"}
          / BEGIN TEMPLATE //
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
            %tr
              %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
            %tr
              %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                / BEGIN HEADER //
                %table#templateHeader{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #f7ba0e;border-top: 0;border-bottom: 0;", :width => "100%"}
                  %tr
                    %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                        %tr
                          %td.headerContainer{:style => "padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                            %table.mcnImageBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                              %tbody.mcnImageBlockOuter
                                %tr
                                  %td.mcnImageBlockInner{:style => "padding: 4px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                    %table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                                      %tbody
                                        %tr
                                          %td.mcnImageContent{:style => "padding-right: 4px;padding-left: 14px;padding-top: 0;padding-bottom: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                            = link_to image_tag("email/beehive-email-logo.png"), "http://www.beehivegiving.org", target: "_blank"
                / // END HEADER
            %tr
              %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                / BEGIN BODY //
                %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", :width => "100%"}
                  %tr
                    %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                        %tr
                          %td.bodyContainer{:style => "padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                              %tbody.mcnTextBlockOuter
                                %tr
                                  %td.mcnTextBlockInner{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                                      %tbody
                                        %tr
                                          %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", :valign => "top"}
                                            %h1{:style => "margin: 0 0 12px -2px;padding: 0;display: block;font-family: Helvetica;font-size: 35px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #000000 !important;"}
                                              Thanks for signing up
                                              = @user.first_name

                                            %h3{:style => "margin: 0 0 0 -1px;padding: 0;display: block;font-family: Helvetica;font-size: 18px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -.5px;text-align: left;color: #000000 !important;"}
                                              Understand how your organisation fits with top funders in three easy steps:

                                            %ol
                                              %li Register your organisation.
                                              %li Complete your unique profile.
                                              %li See how you compare to previously funded organisations.

                                            = link_to 'Sign in to get started', 'http://www.beehivegiving.org', style: "background-color:#01a8e5; border: none; display:inline-block; cursor:pointer; padding:12px 18px; width: 100%; color:#ffffff; font-family:arial; font-size:17px; text-decoration:none; text-align:center;", target: '_blank'

                                            %p{:style => "margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;"}
                                              Or drop us a line at
                                              %a.mc-template-link{:href => "mailto:support@beehivegiving.org", :style => "word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #f7ba0e;font-weight: normal;text-decoration: underline;"}
                                                support@beehivegiving.org
                                              and we'll help you get started. And if your curious you can find out more about the
                                              %a.mc-template-link{:href => "http://www.beehivegiving.org/about", :target => "_blank", :style => "word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #f7ba0e;font-weight: normal;text-decoration: underline;"}
                                                origins of Beehive.

                                            %p{:style => "margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;"}
                                              Suraj

                                            %p{:style => "margin: 1em 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;"}
                                              P.S. Beehive is currently in active development, and we'd love your feedback and comments. Just reply to this email with your thoughts.
                / // END BODY
            %tr
              %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                / BEGIN FOOTER //
                %table#templateFooter{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #f2f2f2;border-top: 0;border-bottom: 0;", :width => "100%"}
                  %tr
                    %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                        %tr
                          %td.footerContainer{:style => "padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                              %tbody.mcnTextBlockOuter
                                %tr
                                  %td.mcnTextBlockInner{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                                      %tbody
                                        %tr
                                          %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #888;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;", :valign => "top"}
                                            %p
                                              You are recieving this email because you signed up to
                                              = link_to 'Beehive', 'http://www.beehivegiving.org', target: '_blank', style: "color: #888; text-decoration:none;"
                                              by
                                              = link_to 'Forward Foundation','http://www.forwardfoundation.org.uk', target: '_blank', style: "color: #888; text-decoration:none;"
                                              ©
                                              = succeed '.' do
                                                = Date.today.year
                / // END FOOTER
          / // END TEMPLATE
