:javascript
  mixpanel.track("Page View", {"Page Name": "Find Page"});
  mixpanel.track_forms("#find", "Search for Organisation");
  mixpanel.track_links("#mp-skip", "Skipped search for organisation");

- content_for :signup do
  #bg-color
    .uk-container.uk-container-center.uk-animation-fade
      .uk-margin-large.uk-margin-large-top
        .uk-width-1-1.uk-text-center
          %h4
            %span.uk-text-muted
              Sign up
              %i.uk-icon.uk-icon-angle-right.uk-icon-small
            Register

        .uk-width-1-1.uk-text-center
          .uk-width-medium-2-3.uk-container-center
            %h2
              Thanks for signing up
              = succeed '!' do
                = current_user.first_name
              %br You'll have recommendations of funders in minutes.
            %p.uk-text-large Beehive uses a personalised profile of your organisation, along with a funders preferences to provide tailored funding recommendations...
            .illus.puzzle
            %p.uk-text-large ...so let's start by adding your organisation.

            .uk-width-1-1.uk-margin-top
              .uk-form.uk-form-stacked.uk-panel.uk-panel-box#panel.shadow
                = form_for '/find', :html => { :id => "find" } do
                  .uk-width-large-1-1
                    .uk-form-controls
                      %label.uk-form-label.uk-float-left Find your organisation
                      = text_field_tag :charity_number, nil, { class: 'uk-width-1-1 uk-form-large', placeholder: "Your charity number" }
                  .uk-width-large-1-1
                    = button_tag "Next".html_safe, class: 'uk-button uk-button-primary uk-width-1-1', data: {disable_with: "<i class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i> Finding..."}
              .uk-margin-top.uk-text-center= link_to "Don't have a charity number? Skip this step", signup_organisation_path, id: 'mp-skip'
