= stylesheet_link_tag 'modals'

:javascript
  mixpanel.track("Page View", {"Page Name": "Create Organisation Page"});

:javascript
  var google_conversion_id = 958190855;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "oXACCPCrr18Qh6rzyAM";
  var google_remarketing_only = false;
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/958190855/?label=oXACCPCrr18Qh6rzyAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/

- content_for :signup do
  = render partial: 'funders/static_background'

#your-organisation.uk-modal.modal-scroll-touch
  .uk-modal-dialog
    #welcome-message
      .uk-modal-header
        %h2
          Welcome to Beehive
          = succeed '!' do
            = current_user.first_name.titleize
      %p.uk-text-large Beehive helps you quickly and easily understand which funders to approach, it's simple...
      .uk-grid.uk-text-center
        .uk-width-small-1-3.uk-margin-bottom
          .illus.small.profile
          %p.uk-margin-top-remove Create a unique profile for your non-profit.
        .uk-width-small-1-3.uk-margin-bottom
          .illus.small.recommendation
          %p.uk-margin-top-remove Get recommendations of suitable funders.
        .uk-width-small-1-3.uk-margin-bottom
          .illus.small.eligibility
          %p.uk-margin-top-remove Check to see if you’re eligible for support.

      %a.uk-button.uk-button-primary.uk-width-1-1.js-record-welcome-close Let's get started

    #new-organisation-form.uk-hidden
      %ul.progress-indicator
        %li.warning
          %span.bubble
          Basics
        %li
          %span.bubble
          Target
        %li
          %span.bubble
          Location
        %li
          %span.bubble
          Team
        %li
          %span.bubble
          Work
        %li
          %span.bubble
          Finance

      .uk-form.uk-form-stacked
        = render 'organisations/form'

  = render 'snippets/need_help'

:javascript
  var modal = $.UIkit.modal("#your-organisation");
  modal.options.bgclose = false;
  modal.options.keyboard = false;
  modal.show();
