:javascript
  mixpanel.track("Page View", {"Page Name": "Create Organisation Page"});

:javascript
  var google_conversion_id = 958190855;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "oXACCPCrr18Qh6rzyAM";
  var google_remarketing_only = false;
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/958190855/?label=oXACCPCrr18Qh6rzyAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/

- content_for :signup do
  #bg-color
    .uk-container.uk-container-center.uk-animation-fade

      .uk-grid.uk-margin-top.uk-animation-fade{"data-uk-grid-match" => ""}
        - Funder.all.sample(12).each do |funder|
          .uk-width-medium-1-2.uk-width-large-1-3.uk-margin-bottom
            .uk-width-1-1.uk-panel#panel.shadow
              .uk-panel-teaser.uk-text-center.uk-vertical-align{style: 'height: 100px;'}
                .uk-vertical-align-middle
                  .funder{class: "#{funder.slug}", alt: "#{funder.name} Logo"}
              .uk-panel-box{style: 'height: 60px;'}
                .uk-width-1-1
                  = truncate("#{funder.mission}", length: 120, separator: ' ')

#your-organisation.uk-modal
  .uk-modal-dialog
    .uk-modal-header
      %h2
        Welcome to Beehive
        = succeed '!' do
          = current_user.first_name.titleize
    %p.uk-text-large Beehive helps you quickly and easily understand which funders to approach, in three simple steps...
    .uk-grid.uk-text-center
      .uk-width-small-1-3.uk-margin-bottom
        .illus.small.profile
        %p.uk-margin-top-remove 1. Create a unique profile for your non-profit.
      .uk-width-small-1-3.uk-margin-bottom
        .illus.small.recommendation
        %p.uk-margin-top-remove 2. Get recommendations of suitable funders.
      .uk-width-small-1-3.uk-margin-bottom
        .illus.small.eligibility
        %p.uk-margin-top-remove 3. Check to see if you’re eligible for support.

    %hr

    %p.uk-text-large 1. Create a unique profile for your non-profit.

    .uk-form.uk-form-stacked
      = render partial: 'organisations/form'

:javascript
  var modal = $.UIkit.modal("#your-organisation");
  modal.options.bgclose = false;
  modal.options.keyboard = false;
  modal.show();
