= content_for :title, 'Waiting for access'

%header
  = link_to 'Beehive', root_path, id: 'navbar-logo', alt: 'Beehive logo', class: 'mx-auto mt25 flex blue'

%main.flex.justify-center.items-center
  %section.perc50.md.my80.mx40.center
    %h1.mb20 Waiting for access

    .fs18.lh25.slate You have tried to register a funding recipient that already has an account.

    %hr.my40

    %p.mb20 An email has been sent to the funding recipient or the site administrator to approve your access.

    %p.mb20
      If you think you are receiving this message in error, please contact
      = succeed '.' do
        = link_to 'support', 'mailto:support@beehivegiving.org'

    = link_to 'Sign out', logout_path, class: 'btn blue mb10'