= content_for :title, 'Beehive - Intelligently connecting non-profits with funders'

:javascript
  mixpanel.track("View Welcome Page");

%header#header-offset
  #hex

  .pb30.mb80
    = cell(:v2_navbar, @current_user, type: 'white')

  .maxw1080.mx-auto
    .m40.flex.flex-wrap
      .perc66.md
        .fs14.white.mb40
          .bg-darken-blue.circle.shadow.inline-block.py5.pr14.pl5.truncate
            .fs12.bg-green.caps.bold.circle.inline-block.py3.px5 LIVE
            Over 100+ charitable funds offering grants
        %h1.fs40.white.mb30.pt20
          Get connected to the right funders
        %p.fs18.white.mb30
          Funder recommendations and eligibility checking for your non-profit organisation or project

        %blockquote.fs15.white.col-three-quarters.mb30.md.lh18
          .italic
            "I have been fundraising for 20 years and even though it is still in development this tool is long over-due and is brilliant!"
          Catherine,
          = link_to 'Bright Ideas Trust', 'http://www.brightideastrust.com/', target: '_blank', class: 'yellow'

        .mb40
          = link_to 'http://www.thirdsectorexcellenceawards.com/finalists/beehive/', target: '_blank' do
            = image_tag 'third-sector-awards-finalist-logo.svg', width: 150, class: 'bg-ice rounded shadow mb40'

      .perc33.md
        .bg-white.p15.rounded.shadow
          = render partial: 'users/form'

%main
  %section.mb40
    .maxw1000.mx-auto

      .m40
        %h2.regular Beehive is...

      .flex.flex-wrap.items-center
        .f1.m40
          .feature.smart
        .f2.minw250.m40
          %h3 Smart
          .fs18 Beehive analyses thousands of grants to identify suitable funds for your organisation or project.

      .flex.flex-wrap.items-center
        .f1.m40
          .feature.personal
        .f2.minw250.m40
          %h3 Personal
          .fs18 Beehive gets to know your organisation or project, and provides tailored insights based on how you fit with a funder.

      .flex.flex-wrap.items-center
        .f1.m40
          .feature.quick
        .f2.minw250.m40
          %h3 Quick
          .fs18 Beehive lets you easily check a funders critera, preventing you from making an application to the wrong funder.

  #banner
    .maxw1000.mx-auto.flex.flex-wrap
      .f2.white.fs18.minw250.m40
        %p “The option to click on a few additional questions to rule [funders] in or out was a HUGE bonus for me – it saved me trawling through myriad websites to ascertain whether or not our project was eligible for funding”
        %p.mt10
          Karen,
          = link_to "Erb's Palsy Group", 'http://www.erbspalsygroup.co.uk/', target: '_blank', class: 'yellow'
      .f1.white.center.minw250.m40
        .fs40 12,500+
        projects matched
        %br/
        with funders

  .m40
    .maxw1000.mx-auto.center
      %h3 Ready to make data-backed funding decisions?
      = link_to 'Create an account', root_path, class: 'button white bg-olive caps truncate my20'
      %p
        Still have questions?
        = link_to 'Check out our FAQ', faq_path, class: 'yellow bold'
