= content_for :title, 'Beehive - Intelligently connecting non-profits with funders'

:javascript
  mixpanel.track("View Welcome Page");

%header#header-offset
  #hex

  .pb30.mb80
    = cell(:v2_navbar, @current_user, type: 'white')

  .maxw1080.mx-auto
    .m40.flex.flex-wrap
      .perc66.md
        .fs14.white.mb40
          .bg-darken-blue.circle.shadow.inline-block.py5.pr14.pl5.truncate
            .fs12.bg-green.caps.bold.circle.inline-block.py3.px5 LIVE
            Over 100+ charitable funds offering grants
        %h1.fs40.white.mb30.pt20
          Get connected to the right funders
        %p.fs20.white.mb30
          Free, personal grant funding advice & eligibility checking

        %blockquote.white.col-three-quarters.mb30.md
          I have been fundraising for 20 years and even though it is still in development this tool is long over-due and is brilliant!
          .mt10.heading.bold
            Catherine,
            = link_to 'Bright Ideas Trust', 'http://www.brightideastrust.com/', target: '_blank', class: 'yellow'

        .mb40
          = link_to 'http://www.thirdsectorexcellenceawards.com/finalists/beehive/', target: '_blank' do
            = image_tag 'third-sector-awards-finalist-logo.svg', width: 150, class: 'bg-ice rounded shadow mb40'

      .perc33.md
        .bg-white.p15.rounded.shadow
          = render partial: 'users/form'

%main
  %section.maxw1080.mx-auto
    .mx40.mt40.pb20
      %h2.mb40.py20 See if you should apply to 100+ charitable funds

      .flex.flex-wrap
        .perc50.md.px40.pb20.mb40
          %h4.bold.mb20
            Know if you should apply at a glance
            .fs12.white.bg-green.caps.bold.circle.inline-block.py3.px5 Free
          %p Beehive analyses criteria such as funding theme, location, amount sought to generate a personal report card for over a hundred Funds in seconds. Letting you quickly see which charitable Funds are right for you.

        .perc50.md.px40.pb20.mb40
          %h4.bold.mb20
            Avoid wasted effort
            .fs12.white.bg-green.caps.bold.circle.inline-block.py3.px5 Free
          %p No more time trawling through funding guidance, only to find out you’re ineligible! We’ve gathered all the key Eligibility criteria so you can quickly answer a few questions to see if you’re a good fit.

        .perc50.md.px40.pb20.mb40
          %h4.bold.mb20
            Fundraising advice backed by data
            .fs12.white.bg-green.caps.bold.circle.inline-block.py3.px5 Free
          %p
            = link_to 'How much should I apply for?', article_path('finding-funding-how-much')
            Am I eligible? What type of funding is offered? Questions that are time intensive and costly to answer. That’s why we make high quality, data backed fundraising advice available for free.

        .perc50.md.px40.pb20.mb40
          %h4.bold.mb20
            Find grant funding relevant to you
            .fs12.white.bg-green.caps.bold.circle.inline-block.py3.px5 Free
          %p
            We’ve an ever growing number of funders and funding themes ranging from the
            = succeed ',' do
              = link_to 'Arts', public_funds_theme_path('arts')
            to
            = link_to 'Youth', public_funds_theme_path('children-and-young-people')
            (and everything in between) which you can easily use to narrow your search and find the right funding opportunity.

        .perc50.md.px40.pb20.mb40
          %h4.bold.mb20
            No more duplication
            .fs12.white.bg-green.caps.bold.circle.inline-block.py3.px5 Free
          %p Ever get tired of answering the same question over, and over again? We do. That’s why we’ve combined combined common eligibility questions. Meaning answering one question can check many funds.

        .perc50.md.px40.pb20.mb40
          %h4.bold.mb20
            Unlimited access to Funds
            .fs12.white.bg-blue.caps.bold.circle.inline-block.py3.px5 Unlimited
          %p When you’ve found a Fund you’re a good fit for, you’ll need to ‘Reveal’ their identity to proceed with your application. You can do this up to 3 times for free, or go Unlimited and have unrestricted access to Funds.

        .perc50.md.px40.pb20.mb40
          %h4.bold.mb20
            Tailored analysis per funding Proposal
            .fs12.white.bg-blue.caps.bold.circle.inline-block.py3.px5 Unlimited
          %p Need funding for different projects - no problem. Go Unlimited on Beehive and you can create as many different funding Proposals as you want, and get results specific to each.

        .perc50.md.px40.pb20.mb40
          %h4.bold.mb20
            Collaborate with colleagues
            .fs12.white.bg-blue.caps.bold.circle.inline-block.py3.px5 Unlimited
          %p Coming soon - Need more people at your organisation to have access to Beehive? Go Unlimited on Beehive and enable colleagues to each create an account linked to your organisations.

  %section.bg-silver
    .maxw1080.mx-auto
      .flex.flex-wrap.mx40
        .perc66.md.p40
          %blockquote.border-black
            The option to click on a few additional questions to rule [funders] in or out was a HUGE bonus for me – it saved me trawling through myriad websites to ascertain whether or not our project was eligible for funding.
            .mt10.heading.bold
              Karen,
              = link_to "Erb's Palsy Group", 'http://www.erbspalsygroup.co.uk/', target: '_blank'
        .perc33.md.p40.center
          %h2.bold 12,500+
          projects matched
          %br/
          with funders

  %section.maxw1080.mx-auto
    .mx40.mt40
      %h2.mb40.py20 How Beehive works

      .flex.flex-wrap
        .perc50.md.px40.pb20.mb40
          %h2.bold.yellow.mb5 01.
          %h4.bold.mb10 Create a free account
          %p Describe what you’re looking to fund, and Beehive will analyse 100+ charitable funds.

        .perc50.md.px40.pb20.mb40
          = image_tag 'feature-one.png', alt: 'Sign up form', class: 'rounded shadow'

        .perc50.md.px40.pb20.mb40
          = image_tag 'feature-two.png', alt: 'Fund report card', class: 'rounded shadow'

        .perc50.md.px40.pb20.mb40
          %h2.bold.yellow.mb5 02.
          %h4.bold.mb10 See if you should apply
          %p View your results and quickly answer simple questions to see if you should apply to a Fund.

        .perc50.md.px40.pb20.mb40
          %h2.bold.yellow.mb5 03.
          %h4.bold.mb10 Reveal & Apply
          %p Reveal the identity of appropriate funds to find out how to apply.

        .perc50.md.px40.pb20.mb40
          = image_tag 'feature-three.png', alt: 'Hidden fund', class: 'rounded shadow'

  = render partial: 'layouts/sign_up_cta'
