-# refactor
.uk-panel.funder-card
  = render partial: 'recipients/funders/badge', locals: { funder: funder }

  .uk-panel-teaser.uk-text-center.uk-vertical-align{style: 'height: 140px;'}
    .uk-vertical-align-middle
      .funder{class: "#{funder.slug}", alt: "#{funder.name} Logo"}

  .cta
    .uk-grid.uk-grid-small
      .uk-width-1-2
        = funder_card_cta_button_copy(@recipient, funder)
      .uk-width-1-2
        = link_to 'More info', recipient_comparison_path(funder), class: 'uk-width-1-1 uk-button uk-button-large uk-button-primary invert'
