.uk-width-1-1.uk-panel#panel.uk-overlay.shadow.bounce

  - if @recipient.questions_remaining?(funder)
    - if @recipient.recommended_funder?(funder) && @recipient.profiles.count > 0
      .uk-panel-badge{style: 'margin: 6px; left: 0px;'}
        %i.uk-icon.uk-icon-star.uk-icon-small.yellow
  - elsif @recipient.eligible?(funder)
    - if @recipient.recommended_funder?(funder) && @recipient.profiles.count > 0
      .uk-panel-badge{style: 'margin: 6px; left: 0px;'}
        %i.uk-icon.uk-icon-star.uk-icon-small.yellow
    .uk-panel-badge.uk-badge.uk-badge-success{style: 'margin: 6px;'} Eligible
  - elsif !@recipient.eligible?(funder) && @recipient.eligibility_count(funder) > 0
    .uk-panel-badge.uk-badge.uk-badge-danger{style: 'margin: 8px 6px;'} Not eligible

  .uk-panel-teaser.uk-text-center.uk-vertical-align{style: 'height: 100px;'}
    .uk-vertical-align-middle
      .funder{class: "#{funder.slug}", alt: "#{funder.name} Logo"}

  - if funder.active_on_beehive? && funder.attributes.count > 0
    %a.uk-overlay-area{ href: recipient_comparison_path(funder), id: ('#locked_funder' if @recipient.locked_funder?(funder)), class: ('unsuitable' unless @recipient.recommended_funder?(funder)) }
      .uk-overlay-area-content
        .uk-button.uk-button-primary.uk-button-large.uk-width-1-1.shadow.bounce
          - if @recipient.eligible?(funder)
            Approach for funding
          - elsif !@recipient.eligible?(funder) && @recipient.questions_remaining?(funder)
            Check eligibility
          - else
            Browse
          - if @recipient.locked_funder?(funder)
            %i.uk-icon-lock
  - else
    - if @recipient.can_request_funder?(funder, 'data_requested')
      .uk-overlay-area
        .uk-overlay-area-content
          .uk-alert.uk-alert-warning
            %p
              We don't have enough information from
              = funder.name
              to offer recommendations just yet. Why not hit the 'request' button below to help us decide what to focus on.
            = link_to 'Request', vote_recipient_path(@recipient.id,  data_requested: true, funder_id: funder.id, recipient_id: @recipient.id), method: 'post', class: 'uk-button uk-button-large uk-width-1-1 shadow bounce', data: {disable_with: "<i style='color: #999;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #999;'> Requesting...</span>"}
    - else
      .uk-overlay-area
        .uk-overlay-area-content
          %button.uk-button.uk-button-primary.uk-button-large.uk-width-1-1{:disabled => "", :type => "button"}
            %i.uk-icon-check Requested

  .uk-panel-box{style: 'height: 60px;'}
    .uk-width-1-1
      = truncate("#{funder.mission}", length: 120, separator: ' ')
