.uk-container.uk-container-center
  %h1
    Funder is
    = @funder.name
  %hr
  %p= @recipient
  %h3 Grants
  %ul
    - @grants.each do |grant|
      %li
        = link_to number_to_currency(grant.amount_awarded, unit: '£'), edit_funder_grant_path(@funder, grant)
        from
        = grant.organisation.name
    %li= link_to 'New Grant', new_funder_grant_path(@funder)
