= content_for :title, "Should you apply to #{@funder.name}?"

%main
  %section.bg-ice
    .maxw1080.mx-auto.p40.mb40
      .perc75.md.px20.mx-auto.center
        %h1.mb5
          Should you apply to
          = succeed '?' do
            = @funder.name
        .fs18.night Quickly check your eligibility and suitability to avoid wasted effort

  .maxw1080.mx-auto.px20
    %section.perc75.md.mb40.mx-auto.px20
      .flex.justify-between.items-center
        %h6.mx-auto.bold.blue Basics
        .slate ❯
        %h6.mx-auto.slate Eligibility
        .slate ❯
        %h6.mx-auto.slate Results

  %section.maxw1080.mx-auto.px40
    .flex.flex-wrap.justify-center
      %article.perc75.md.border.border-silver.rounded.shadow
        .flex.justify-between.items-baseline.p20.bg-ice
          %h2 Basics
          .fs18.night Step 1 of 3

        = simple_form_for @microsite.step, url: microsite_basics_path do |f|
          %fieldset.border-top.border-silver.p20
            = f.hidden_field :funder_id, value: @funder.id
            .mb40= f.input :funding_type, collection: FUNDING_TYPES
            .mb40= f.input :total_costs, as: :currency
            .mb20= f.input :org_type, collection: ORG_TYPES

            -# TODO: refactor
            .individual_notice.fs14.p10.my15.white.bg-red.rounded
              %strong Important.
              This funder checking service does not currently support grants for individuals. See our
              = link_to 'FAQ', faq_path(anchor: 'individual'), class: 'bold white'
              for more details.

            .mb40.mx20
              = f.input :charity_number, wrapper_html: { class: 'mt20' }
              = f.input :company_number, wrapper_html: { class: 'mt20' }

            = f.input :country, include_blank: true, priority: ['United Kingdom']

          %fieldset.border-top.border-silver.p20
            = f.button :button, 'Next ❯', class: 'button white bg-olive caps truncate', data: { disable_with: 'Saving...' }
