= content_for :title, "Eligibility - Should you apply to #{@funder.name}?"

%main
  %section.bg-ice.bg-primary
    .maxw1080.mx-auto.p20.mb40
      .perc75.md.px20.mx-auto.center
        %h2.fs22.headline
          Should you apply to
          = succeed '?' do
            = @funder.name

  .maxw1080.mx-auto.px20
    %section.perc75.md.mb40.mx-auto.px20
      .flex.justify-between.items-center
        %h6.mx-auto.slate Basics
        .slate ❯
        %h6.mx-auto.bold.blue.primary Eligibility
        .slate ❯
        %h6.mx-auto.slate Results

%main
  .maxw1080.mx-auto.px20
    %section.perc75.md.mx-auto.border.border-silver.border-primary.rounded.shadow
      .p20.bg-ice.bg-primary.headline
        .flex.justify-between.items-baseline.mb10
          %h1.fs30 Eligibility
          .fs18.night.subtitle Step 2 of 3
        .night.subtitle
          The following eligibility questions have been set by
          = succeed '.' do
            = @funder.name

      = simple_form_for @microsite.step, url: microsite_eligibility_path(@funder, @attempt) do |f|

        %section.border-top.border-silver.p20
          %h3.mb20.slate Your organisation
          %strong.block.mb20 Are you seeking funding for?

          -# TODO: DRY
          .mb0
            - @recipient_answers.each_with_index do |answer, i|
              = f.simple_fields_for "answers[#{answer.criterion_id}]", answer do |a|
                -# TODO: avoid multiple db calls on validation
                .flex.items-center.quiz.mb20
                  = a.input :eligible, label: false do |r|
                    %fieldset
                      = a.radio_button :eligible, :true
                      = a.label :eligible_true, 'Yes'
                      = a.radio_button :eligible, :false
                      = a.label :eligible_false, 'No'
                  %label.mx20= raw(a.object.criterion.details)

          %fieldset
            - if @recipient.errors.added?(:name, :blank)
              .mb20= f.input :name
            - if @recipient.errors.added?(:street_address, :blank)
              .mb20= f.input :street_address
            - if @recipient.errors.added?(:income_band, :blank)
              .mb20= f.input :income_band, collection: INCOME_BANDS
            - if @recipient.errors.added?(:operating_for, :blank)
              .mb20= f.input :operating_for, collection: OPERATING_FOR
            - if @recipient.errors.added?(:employees, :blank)
              .mb20= f.input :employees, collection: EMPLOYEES
            - if @recipient.errors.added?(:volunteers, :blank)
              = f.input :volunteers, collection: EMPLOYEES

        %section.border-top.border-silver.p20
          %h3.mb20.slate Your proposal
          %strong.block.mb20 Are you seeking funding for?

          -# TODO: DRY
          .mb20
            - @proposal_answers.each do |answer|
              = f.simple_fields_for "answers[#{answer.criterion_id}]", answer do |a|
                -# TODO: avoid multiple db calls on validation
                .flex.items-center.quiz.mb20
                  = a.input :eligible, label: false do |r|
                    %fieldset
                      = a.radio_button :eligible, a.object.criterion.invert
                      = a.label "eligible_#{a.object.criterion.invert}", 'Yes'
                      = a.radio_button :eligible, !a.object.criterion.invert
                      = a.label "eligible_#{!a.object.criterion.invert}", 'No'
                  %label.mx20= raw(a.object.criterion.details)

          = cell(:proposal_form, @attempt.proposal, f: f).call(:location_microsite)

        %fieldset.border-top.border-silver.p20
          = f.button :button, 'Next ❯', class: 'button white bg-olive caps truncate bg-primary headline', data: { disable_with: 'Saving...' }