= content_for :title, "Eligibility - Should you apply to #{@funder.name}?"

-# TODO: refactor
= stylesheet_link_tag 'proposals'
= stylesheet_link_tag 'chosen'
= stylesheet_link_tag 'overrides/chosen_overrides'
= javascript_include_tag 'proposals'
= javascript_include_tag 'chosen-jquery'
= javascript_include_tag 'chosen'
= javascript_include_tag 'jquery.tree-multiselect.min'

%main.pt40
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      Should you apply to
      = succeed '?' do
        = @funder.name

    %section.perc75.md.mb80.px20
      .mb40
        %h2.mb10 Step 2 of 3 - Eligibility
        The following eligibility questions have been set by
        = succeed '.' do
          = @funder.name

      = simple_form_for @microsite.step, url: microsite_eligibility_path(@funder, @attempt) do |f|

        %section
          %h3.mb20 Your organisation
          %h4.mb20 Are you seeking funding for?

          -# TODO: DRY
          .mb40
            - @recipient_answers.each_with_index do |answer, i|
              = f.simple_fields_for "answers[#{answer.criterion_id}]", answer do |a|
                -# TODO: avoid multiple db calls on validation
                .flex.items-center.quiz.mb20
                  = a.input :eligible, label: false do |r|
                    %fieldset
                      = a.radio_button :eligible, :true
                      = a.label :eligible_true, 'Yes'
                      = a.radio_button :eligible, :false
                      = a.label :eligible_false, 'No'
                  %label.mx20= a.object.criterion.details

        %section.mb40
          - if @recipient.errors.added?(:name, :blank)
            .mb20= f.input :name
          - if @recipient.errors.added?(:street_address, :blank)
            .mb20= f.input :street_address
          - if @recipient.errors.added?(:income_band, :blank)
            .mb20= f.input :income_band, collection: INCOME_BANDS
          - if @recipient.errors.added?(:operating_for, :blank)
            .mb20= f.input :operating_for, collection: OPERATING_FOR
          - if @recipient.errors.added?(:employees, :blank)
            .mb20= f.input :employees, collection: EMPLOYEES
          - if @recipient.errors.added?(:volunteers, :blank)
            = f.input :volunteers, collection: EMPLOYEES

        %section
          %h3.mb20 Your proposal
          %h4.mb20 Are you seeking funding for?

          -# TODO: DRY
          .mb20
            - @proposal_answers.each do |answer|
              = f.simple_fields_for "answers[#{answer.criterion_id}]", answer do |a|
                -# TODO: avoid multiple db calls on validation
                .flex.items-center.quiz.mb20
                  = a.input :eligible, label: false do |r|
                    %fieldset
                      = a.radio_button :eligible, a.object.criterion.invert
                      = a.label "eligible_#{a.object.criterion.invert}", 'Yes'
                      = a.radio_button :eligible, !a.object.criterion.invert
                      = a.label "eligible_#{!a.object.criterion.invert}", 'No'
                  %label.mx20= a.object.criterion.details

          = cell(:proposal_form, @attempt.proposal, f: f).call(:location_microsite)

        = f.button :button, 'Next', class: 'button white bg-olive caps truncate', data: { disable_with: 'Saving...' }
