= content_for :title, "Results - Should you apply to #{@funder.name}?"

%main
  %section.bg-ice.bg-primary
    .maxw1080.mx-auto.p20.mb40
      .perc75.md.px20.mx-auto.center
        %h2.fs22.headline
          Should you apply to
          = succeed '?' do
            = @funder.name

  .maxw1080.mx-auto.px20
    %section.perc75.md.mb40.mx-auto.px20
      .flex.justify-between.items-center
        %h6.mx-auto.slate Basics
        .slate ❯
        %h6.mx-auto.slate Eligibility
        .slate ❯
        %h6.mx-auto.bold.blue.primary Results

    %section.perc75.md.mx-auto
      .p20.rounded.bg-ice.bg-primary.headline
        .flex.justify-between.items-baseline.mb10
          %h1.fs30 Results
          .fs18.night.subtitle
            = pluralize(@funder.funds.active.count, 'fund')
            checked
        .night.subtitle
          = [number_to_currency(@proposal.total_costs, unit: '£', precision: 0), { 1 => 'Capital', 2 => 'Revenue' }[@proposal.funding_type]].compact.join(' • ')

      - @funds.each do |fund|
        .mt40.border.border-silver.rounded.shadow
          .p20
            .flex.justify-between.items-center
              .flex.items-center
                - status = fund.eligibility_status
                .dot.mr20{ class: Progress::Eligibility.new(status: status).indicator }
                %div
                  %h3.mb5= fund.name
                  .fs15.night
                    by
                    = @funder.name
              -# TODO: refactor
              %div
                - if fund.eligibility_status == ELIGIBLE
                  = link_to 'Apply ❯', fund.application_link, target: '_blank', class: 'fs15 btn white bg-blue shadow bg-primary headline'
                - else
                  = link_to 'More funds', new_password_reset_path, class: 'fs15 btn blue border border-blue border-primary primary'

          .p20.border-top.border-silver
            %h6.bold.mb10= cell(:fund_insight, fund, proposal: @proposal).call(:summary)
            .night= raw strip_tags(fund.description_html).truncate_words(30, omission: "... #{link_to 'more on Beehive', '/', class: 'primary'}")

          .bg-ice= cell(:results, @assessments[fund.id]).call(:eligibility)
