.uk-width-small-1-1.uk-width-medium-1-4.uk-width-large-1-4.uk-vertical-align.uk-text-center{style: 'height: 220px;'}
  .uk-vertical-align-middle
    .uk-border-circle.uk-vertical-align.shadow{style: 'background: #fff; height: 160px; width: 160px; border: 3px solid #F7BA0E; position: relative;'}
      - if @recipient.recommended_funder?(@funder) && @recipient.profiles.count > 0
        .funder-logo-banner.shadow
          %p Suggested
      .uk-vertical-align-middle
        .funder{class: "#{@funder.slug}-small", alt: "#{@funder.name} Logo"}
.uk-width-small-1-1.uk-width-medium-3-4.uk-width-large-2-4.uk-vertical-align{style: 'height: 220px;'}
  .uk-vertical-align-middle
    %h6.uk-text-muted.uk-text-bold.upcase.uk-margin-bottom-remove Mission
    %p.uk-margin-top-remove= @funder.mission
    -# %h6.uk-text-muted.uk-text-bold.upcase.uk-margin-bottom-remove.uk-margin-top-remove Focus
    -# .uk-width-1-1.uk-margin-small-top.uk-margin-bottom
    -#   .uk-button.uk-button-small Youth
    -#   .uk-button.uk-button-small Employment
    %h6.uk-text-muted.uk-text-bold.upcase.uk-margin-bottom-remove.uk-margin-top-remove Countries targeted
    .uk-width-1-1.uk-margin-small-top
      - if @funder.attributes.count < 1
        %h2.uk-text-primary Missing
      - else
        - @funder_attribute.countries.each do |country|
          = link_to country.name, funders_path(:'q[grants_countries_id_eq]' => "#{country.id}"), class: 'uk-button uk-button-small', style: 'margin-bottom: 3px;'
