#overview.overview-offset{style: 'background: #454545'}
%div{style: 'background: #454545; padding-top: 30px;'}
  %h3.uk-text-center{style: 'color: #eee;'}
    In
    - if @funder.attributes
      = succeed '...' do
        = @year_of_funding
        -# .uk-form-select.uk-active{"data-uk-form-select" => "", style: "top: -2px"}
        -#   %span= @funding_years.first
        -#   %select
        -#     - @funding_years.each do |year|
        -#       %option{:value => "#{year}"}= year
    - else
      = succeed '...' do
        = Date.today.year - 1
  .uk-margin-top
    %ul.uk-subnav.uk-subnav-pill.uk-text-center.uk-margin-bottom-remove{"data-uk-scrollspy-nav" => "{closest:'li', topoffset:-350}", "data-uk-sticky" => "{top:40}"}
      %li
        %a{:href => "#top", "data-uk-smooth-scroll" => ""}
          %i.uk-icon-arrow-up
      %li
        %a{:href => "#overview", "data-uk-smooth-scroll" => "", style: 'margin-bottom: 3px;'} Funding overview
      %li
        %a{:href => "#funded", "data-uk-smooth-scroll" => "", style: 'margin-bottom: 3px;'} Funded organisations
      %li
        %a{:href => "#similar", "data-uk-smooth-scroll" => "{offset: 92}", style: 'margin-bottom: 3px;'} Similar funders

  .uk-container.uk-container-center.uk-animation-fade
    %hr
    %h2.uk-text-center.upcase.white
      Funding overview
    %p.white
      - if params[:funding_stream]
        Funding stream:
        %span.uk-button-group
          = link_to "#{@funding_stream} &#10006;".html_safe, recipient_comparison_path(@funder, :funding_stream => nil, :anchor => 'overview'), class: 'uk-button uk-button-mini'

      -# .uk-button.uk-button-mini.roboto Compare
    .uk-grid.uk-margin-bottom{"data-uk-grid-match" => "{target:'.uk-panel'}"}
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0 && @funder_attribute.grant_count.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funding awarded
          .uk-text-center
            %h6.uk-text-bold.upcase Grants
            - if @funder.attributes.count < 1 || @funder_attribute.grant_count.nil?
              = simple_data_not_available('request_grant_count')
            - else
              %h1.uk-margin-top-remove.stat-big
                = @funder_attribute.grant_count
          %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              %h6.uk-text-bold.upcase Applications
              - if @funder.attributes.count < 1 || @funder_attribute.application_count.nil?
                = simple_data_not_available('request_applications_count')
              - else
                %h2.uk-margin-top-remove.stat-normal
                  = @funder.attributes.where('funding_stream = ?', @funding_stream).first.application_count
            .uk-width-1-2
              %h6.uk-text-bold.upcase Enquiries
              - if @funder.attributes.count < 1 || @funder_attribute.enquiry_count.nil?
                = simple_data_not_available('request_enquiry_count')
              - else
                %h2.uk-margin-top-remove.stat-normal
                  = @funder_attribute.enquiry_count

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0 && @funder_attribute.funding_size_average.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funding size
          .uk-text-center
            - if @funder.attributes.count < 1 || @funder_attribute.funding_size_min.nil?
              = data_not_available('request_amount_awarded')
            - elsif @funder.grants.count == 0
              %h6.uk-text-bold.upcase Average
              %h1.uk-margin-top-remove.stat-big
                - unless @funder.attributes.count < 1 || @funder_attribute.funding_size_average.nil?
                  = number_to_currency(@funder_attribute.funding_size_average, unit: '£', precision: 0)
                - else
                  %h2.uk-text-primary Not provided
              %hr
              .uk-grid.uk-text-center
                .uk-width-1-2
                  - unless @funder.attributes.count < 1 || @funder_attribute.funding_size_min.nil?
                    %h6.uk-text-bold.upcase Min
                    %h2.uk-margin-top-remove.stat-normal
                      = number_to_currency(@funder_attribute.funding_size_min, unit: '£', precision: 0)
                .uk-width-1-2
                  - unless @funder.attributes.count < 1 || @funder_attribute.funding_size_max.nil?
                    %h6.uk-text-bold.upcase Max
                    %h2.uk-margin-top-remove.stat-normal
                      = number_to_currency(@funder_attribute.funding_size_max, unit: '£', precision: 0)
            - else
              - if @funder.grants.where('approved_on IS NOT NULL').count == @funder.grants.count
                #funding_frequency_distribution{ data: {data: funding_frequency_distribution(@funder, @year_of_funding).to_json} }

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0 && @funder_attribute.funding_duration_average.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funding duration
          .uk-text-center
            - if @funder.attributes.count < 1 || @funder_attribute.funding_duration_average.nil?
              = data_not_available('request_funding_dates')
            - else
              %h6.uk-text-bold.upcase Average
              %h1.uk-margin-top-remove.stat-big
                = (@funder_attribute.funding_duration_average / 365).round(2)
                %span.uk-text-small year(s)
              %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder_attribute.funding_duration_min.nil?
                %h6.uk-text-bold.upcase Min
                %h2.uk-margin-top-remove.stat-normal
                  = (@funder_attribute.funding_duration_min / 365).round(2)
                  %span.uk-text-small year(s)
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder_attribute.funding_duration_max.nil?
                %h6.uk-text-bold.upcase Max
                %h2.uk-margin-top-remove.stat-normal
                  = (@funder_attribute.funding_duration_max / 365).round(2)
                  %span.uk-text-small year(s)

      - unless @funder.name == 'Big Lottery Fund'
        .uk-width-medium-1-3.uk-margin-bottom
          .uk-panel.uk-panel-box#panel.uk-text-center
            - if @funder.grants.count > 0 && @funder_attribute.funding_types.count > 0
              .uk-panel-badge
                %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
            - unless @funder.attributes.count < 1 || @funder_attribute.funding_types.count < 1
              %h1.uk-margin-top-remove.stat-big
                = @funder_attribute.funding_types.count
            %h5.uk-text-bold.upcase.uk-margin-bottom-remove Type(s) of funding
            %hr
              - if @funder.attributes.count < 1 || @funder_attribute.funding_types.count < 1
                = data_not_available('request_funding_types')
              - else
                - @funder_attribute.funding_types.pluck(:label).uniq.each do |type|
                  .uk-button.uk-button-small{style: 'margin-bottom: 3px;'}= type

      .uk-margin-bottom{class: (@funder.name == 'Big Lottery Fund' ? 'uk-width-medium-2-3' : 'uk-width-medium-1-3')}
        .uk-panel.uk-panel-box#panel.uk-text-center
          - if @funder.grants.count > 0 && @funder.attributes.pluck(:funding_stream).uniq.count > 1
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          - unless @funder.attributes.count < 1 || @funder.attributes.where('year = ? AND funding_stream != ?', @year_of_funding, 'All').pluck(:funding_stream).uniq.count == 0
            %h1.uk-margin-top-remove.stat-big
              = @funder.attributes.where('year = ? AND funding_stream != ?', @year_of_funding, 'All').pluck(:funding_stream).uniq.count
          %h5.uk-text-bold.upcase Funding stream(s)
          %hr
            - if @funder.attributes.count < 1 || @funder.attributes.where('year = ? AND funding_stream != ?', @year_of_funding, 'All').pluck(:funding_stream).uniq.count == 0
              = data_not_available('request_funding_streams')
            - else
              - @funder.attributes.order('funding_stream asc').pluck(:funding_stream).uniq.each do |stream|
                - unless stream == 'All'
                  = link_to stream, recipient_comparison_path(@funder, :anchor => 'overview', :funding_stream => "#{stream}", :anchor => 'overview'), class: 'uk-button uk-button-small', style: 'margin-bottom: 3px;'

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.uk-text-center
          - if @funder.grants.count > 0 && @funder_attribute.approval_months.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          - unless @funder.attributes.count < 1 || @funder_attribute.approval_months.count < 1
            %h1.uk-margin-top-remove.stat-big
              = @funder_attribute.approval_months.count
          %h5.uk-text-bold.upcase Approval month(s)
          %hr
            - if @funder.attributes.count < 1 || @funder_attribute.approval_months.count < 1
              = data_not_available('request_approval_months')
            - else
              - @funder_attribute.approval_months.order(:id).pluck(:month).uniq.each do |month|
                .uk-button.uk-button-small{style: 'margin-bottom: 3px;'}= month
