#overview.overview-offset{style: 'background: #454545'}
%div{style: 'background: #454545; padding-top: 30px;'}
  %h3.uk-text-center{style: 'color: #eee;'}
    In
    = succeed '...' do
      = Date.today.year - 1
  .uk-margin-top
    %ul.uk-subnav.uk-subnav-pill.uk-text-center.uk-margin-bottom-remove{"data-uk-scrollspy-nav" => "{closest:'li', topoffset:-350}", "data-uk-sticky" => "{top:40}"}
      %li
        %a{:href => "#top", "data-uk-smooth-scroll" => ""}
          %i.uk-icon-arrow-up
      %li
        %a{:href => "#overview", "data-uk-smooth-scroll" => ""} Funding overview
      %li
        %a{:href => "#funded", "data-uk-smooth-scroll" => ""} Funded organisations
      %li
        %a{:href => "#similar", "data-uk-smooth-scroll" => "{offset: 92}"} Similar funders

  .uk-container.uk-container-center.uk-animation-fade
    %hr
    %h2.uk-text-center.upcase.white
      Funding overview
    %p.white
      - if params[:funding_stream]
        Funding stream:
        %span.uk-button-group
          = link_to "#{@funding_stream} &#10006;".html_safe, recipient_comparison_path(@funder, :funding_stream => nil, :anchor => 'overview'), class: 'uk-button uk-button-mini'

      -# .uk-button.uk-button-mini.roboto Compare
    .uk-grid.uk-margin-bottom{"data-uk-grid-match" => "{target:'.uk-panel'}"}
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0 && @funder.attributes.first.grant_count.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funded organisations
          .uk-text-center
            %h6.uk-text-bold.upcase Funded
            - if @funder.attributes.count < 1 || @funder.attributes.first.grant_count.nil?
              = simple_data_not_available('request_grant_count')
            - else
              %h1.uk-margin-top-remove.stat-big
                = @funder.attributes.where('funding_stream = ?', @funding_stream).first.grant_count
          %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              %h6.uk-text-bold.upcase Applications
              - if @funder.attributes.count < 1 || @funder.attributes.first.application_count.nil?
                = simple_data_not_available('request_applications_count')
              - else
                %h2.uk-margin-top-remove.stat-normal
                  = @funder.attributes.where('funding_stream = ?', @funding_stream).first.application_count
            .uk-width-1-2
              %h6.uk-text-bold.upcase Enquiries
              - if @funder.attributes.count < 1 || @funder.attributes.where('funding_stream = ?', @funding_stream).first.enquiry_count.nil?
                = simple_data_not_available('request_enquiry_count')
              - else
                %h2.uk-margin-top-remove.stat-normal
                  = @funder.attributes.where('funding_stream = ?', @funding_stream).first.enquiry_count

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0 && @funder.attributes.first.funding_size_average.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funding size
          .uk-text-center
            - if @funder.attributes.count < 1 || @funder.attributes.first.funding_size_average.nil?
              = data_not_available('request_amount_awarded')
            - else
              %h6.uk-text-bold.upcase Average
              %h1.uk-margin-top-remove.stat-big
                = number_to_currency(@funder.attributes.where('funding_stream = ?', @funding_stream).first.funding_size_average, unit: '£', precision: 0)
              %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_size_min.nil?
                %h6.uk-text-bold.upcase Min
                %h2.uk-margin-top-remove.stat-normal
                  = number_to_currency(@funder.attributes.where('funding_stream = ?', @funding_stream).first.funding_size_min, unit: '£', precision: 0)
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_size_max.nil?
                %h6.uk-text-bold.upcase Max
                %h2.uk-margin-top-remove.stat-normal
                  = number_to_currency(@funder.attributes.where('funding_stream = ?', @funding_stream).first.funding_size_max, unit: '£', precision: 0)

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0 && @funder.attributes.first.funding_duration_average.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funding duration
          .uk-text-center
            - if @funder.attributes.count < 1 || @funder.attributes.first.funding_duration_average.nil?
              = data_not_available('request_funding_dates')
            - else
              %h6.uk-text-bold.upcase Average
              %h1.uk-margin-top-remove.stat-big
                = (@funder.attributes.where('funding_stream = ?', @funding_stream).first.funding_duration_average / 365).round(2)
                %span.uk-text-small year(s)
              %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_duration_min.nil?
                %h6.uk-text-bold.upcase Min
                %h2.uk-margin-top-remove.stat-normal
                  = (@funder.attributes.where('funding_stream = ?', @funding_stream).first.funding_duration_min / 365).round(2)
                  %span.uk-text-small year(s)
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_duration_max.nil?
                %h6.uk-text-bold.upcase Max
                %h2.uk-margin-top-remove.stat-normal
                  = (@funder.attributes.where('funding_stream = ?', @funding_stream).first.funding_duration_max / 365).round(2)
                  %span.uk-text-small year(s)

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.uk-text-center
          - if @funder.grants.count > 0 && @funder.attributes.first.funding_types.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_types.count < 1
            %h1.uk-margin-top-remove.stat-big
              = @funder.attributes.first.funding_types.count
          %h5.uk-text-bold.upcase.uk-margin-bottom-remove Type(s) of funding
          %hr
            - if @funder.attributes.count < 1 || @funder.attributes.first.funding_types.count < 1
              = data_not_available('request_funding_types')
            - else
              - @funder.attributes.where('funding_stream = ?', @funding_stream).first.funding_types.pluck(:label).uniq.each do |type|
                .uk-button.uk-button-small{style: 'margin-bottom: 3px;'}= type
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.uk-text-center
          - if @funder.grants.count > 0 && @funder.attributes.count > 1
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          - unless @funder.attributes.count < 1 || @funder.attributes.where('funding_stream != ?', 'All').count == 0
            %h1.uk-margin-top-remove.stat-big
              = @funder.attributes.count - 1
          %h5.uk-text-bold.upcase Funding stream(s)
          %hr
            - if @funder.attributes.count < 1 || @funder.attributes.where('funding_stream != ?', 'All').count == 0
              = data_not_available('request_funding_streams')
            - else
              - @funder.attributes.order('funding_stream asc').each do |attr|
                - unless attr.funding_stream == 'All'
                  = link_to attr.funding_stream, recipient_comparison_path(@funder, :anchor => 'overview', :funding_stream => "#{attr.funding_stream}", :anchor => 'overview'), class: 'uk-button uk-button-small', style: 'margin-bottom: 3px;'
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.uk-text-center
          - if @funder.grants.count > 0 && @funder.attributes.first.approval_months.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          - unless @funder.attributes.count < 1 || @funder.attributes.first.approval_months.count < 1
            %h1.uk-margin-top-remove.stat-big
              = @funder.attributes.where('funding_stream = ?', @funding_stream).first.approval_months.count
          %h5.uk-text-bold.upcase Approval month(s)
          %hr
            - if @funder.attributes.count < 1 || @funder.attributes.first.approval_months.count < 1
              = data_not_available('request_approval_months')
            - else
              - @funder.attributes.where('funding_stream = ?', @funding_stream).first.approval_months.pluck(:month).uniq.each do |month|
                .uk-button.uk-button-small{style: 'margin-bottom: 3px;'}= month
