= content_for :title, 'Blog'

%header
  = cell :breadcrumb, { 'Blog' => articles_path }, color: 'blue'

%main
  %section.maxw1080.mx-auto
    .mb40.mx40
      %h1.center Blog

  .maxw790.mx-auto

    - @articles.each do |article|
      %hr.maxw1000.mx40

      %section.p40
        .mb20
          %h3= link_to(article.title, article_path(article), class: 'blue')
        .markdown= strip_tags(article.body_html).truncate_words(50, omission: "... #{link_to('more', article_path(article), class: 'bold')}").html_safe
