= content_for :title, 'Blog'

%main.bg-ice
  %header
    = render partial: 'shared/nav', locals: { color: 'blue' }
    = cell(:breadcrumb, { 'Blog' =>  articles_path }, color: 'blue')

  %section.col2.mx-auto.mb40.px15
    %h1.h2.center Blog

    - @articles.each do |article|
      .bg-white.rounded.shadow.my40
        .p20.border-bottom.border-mist
          %h3= link_to(article.title, article_path(article))
        .p20.markdown= strip_tags(article.body_html).truncate_words(50, omission: "... #{link_to('more', article_path(article))}").html_safe

    -# TODO: pagination

.bg-ice
  = render partial: 'shared/footer', locals: { color: 'slate' }
