= content_for :title, @article.title

%main.bg-ice
  %header
    = render partial: 'shared/nav', locals: { color: 'blue' }
    = cell :breadcrumb, { 'Blog' => articles_path, @article.title => article_path(@article) }, color: 'blue'

  %section.col2.mx-auto.my40.px15
    .bg-white.rounded.shadow
      .p20.border-bottom.border-mist
        %h3= link_to(@article.title, article_path(@article))

      .pt20.px20.pb5.markdown= raw(@article.body_html)

.bg-ice
  = render partial: 'shared/footer', locals: { color: 'slate' }
