= content_for :title, @article.title

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Research' => articles_path, @article.title => article_path(@article)

%main
  = cell(:article, @article).call(:show)

  = render partial: 'layouts/sign_up_cta'
