= content_for :title, 'Sign in'

.bg-rich-blue.vh100

  .maxw1050.mx-auto
    = simple_form_for @form, url: sign_in_lookup_path do |f|
      = f.input :email, autofocus: true, input_html: { value: params[:email] }
      = f.submit 'Next', class: 'btn-wide bg-rich-blue white shadow', data: { disable_with: 'Finding...' }

    = render 'shared/footer'
