= content_for :title, 'Sign in'

.bg-rich-blue
  .maxw1050.mx-auto.flex.justify-center.items-center.vh100.flex-column
    .p20
      =image_tag('logo',height:18, width:102)
    .bg-white.rounded.shadow
      .bg-ice.p20.border-bottom.border-mist
        %h1.h4.bold Sign in
      .p20
        = simple_form_for @form, url: sign_in_lookup_path do |f|
          .mb20
            = f.input :email, autofocus: true, input_html: { value: params[:email] }
          = f.submit 'Next', class: 'btn-wide bg-rich-blue white shadow', data: { disable_with: 'Finding...' }
  .maxw1050.mx-auto.mb40
    = render 'shared/footer'


