.uk-grid.uk-form.form
  .uk-width-medium-1-1
    .uk-grid
      .uk-width-large-1-2
        .label.uk-form-label Seeking funds for...
        = f.input :org_type, as: :select, collection: Organisation::ORG_TYPE, input_html: { class: 'large uk-width-1-1' }
        = f.error :org_type, class: 'error-message'

  .uk-width-medium-1-1.uk-margin-bottom
    .uk-grid
      .uk-width-large-1-2.uk-margin-top.fade-out.charity-number
        .label Charity No.
        .uk-form-controls
          = f.input :charity_number, type: 'text', input_html: { class: 'large uk-width-1-1' }
          = f.error :charity_number, class: 'error-message'

      .uk-width-large-1-2.uk-margin-top.fade-out.company-number
        .label Company No.
        .uk-form-controls
          = f.input :company_number, type: 'text', input_html: { class: 'large uk-width-1-1' }
          = f.error :company_number, class: 'error-message'

      .uk-width-1-1.uk-margin-top.registered-on
        .cta.tight.green.uk-margin-bottom.find-success{class: ('fade-out' unless @scrape_success) }
          %strong Success!
          We found your organisations details, please complete any missing information below and hit 'Next' to continue.

        .cta.tight.red.uk-margin-bottom.find-organisation{class: ('fade-out' if @scrape_success) }
          .uk-grid
            .uk-width-medium-2-3
              %strong Uh oh!
              We couldn't find your organisations details. Please check your charity/company number is correct and hit 'Find charity/company', OR manually answer the questions below.
            .uk-width-medium-1-3.uk-margin-small-top
              %a.uk-button.uk-button-primary.uk-button-large.uk-width-1-1.check-numbers{href: ''} Find charity/company

    %hr.thick.uk-margin-bottom

  .uk-width-medium-1-1.fade-out.name
    .label Organisation or project name
    = f.input :name, type: 'text', input_html: { class: 'large uk-width-1-1' }
    = f.error :name, class: 'error-message'

  .uk-width-medium-1-1.uk-margin-top.country
    .label Where is your organisation or project based?
    .street-address.uk-margin-bottom.fade-out
      = f.input :street_address, type: 'text', input_html: { class: 'large uk-width-1-1' }
      = f.error :street_address, class: 'error-message'
    = f.input :country, error: false, type: 'text', input_html: { class: 'large uk-width-1-1 chosen-select' }, include_blank: true, priority: ['United Kingdom']
    = f.error :country, class: 'error-message'

    -# TODO: refactor
    -# - if @recipient.show_postal_code?
    -#   .uk-margin-top
    -#     = f.input :postal_code, type: 'text', placeholder: 'Postal Code', input_html: { class: 'large uk-width-1-1' }
    -#     = f.error :postal_code, class: 'error-message'

  .uk-width-medium-1-1.uk-margin-top.fade-out.name
    .label How long has your organisation or project been operating for?
    = f.input :operating_for, as: :select, collection: Organisation::OPERATING_FOR, input_html: { class: 'large uk-width-1-1' }
    = f.error :operating_for, class: 'error-message'

  .uk-width-medium-1-1.uk-margin-top.name
    .label What is the annual income of your organisation or project?
    = f.input :income, as: :select, collection: Organisation::INCOME, input_html: { class: 'large uk-width-1-1' }
    = f.error :income, class: 'error-message'

  .uk-width-medium-1-1.uk-margin-top.name
    .label How many employees does your organisation or project have?
    = f.input :employees, as: :select, collection: Organisation::EMPLOYEES, input_html: { class: 'large uk-width-1-1' }
    = f.error :employees, class: 'error-message'

  .uk-width-medium-1-1.uk-margin-top.name
    .label How many volunteers does your organisation or project have?
    = f.input :volunteers, as: :select, collection: Organisation::EMPLOYEES, input_html: { class: 'large uk-width-1-1' }
    = f.error :volunteers, class: 'error-message'

  .uk-width-medium-1-1
    .uk-grid
      .uk-width-medium-1-2.uk-margin-top.website
        .label Your organisation or projects website
        = f.input :website, as: :url, input_html: { class: 'large uk-width-1-1' }
        = f.error :website, class: 'error-message'

  .uk-width-medium-1-1.uk-margin-top.next
    = f.button :button, 'Next', class: 'uk-button uk-button-primary uk-button-large uk-width-medium-1-2 uk-float-right', data: {disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> We're off the mark...</span>"}
