= simple_form_for [@organisation] do |f|
  = f.input :name
  = f.input :contact_name
  = f.input :contact_role
  = f.input :contact_email
  = f.input :contact_number
  = f.input :website
  = f.input :street_address
  = f.input :city
  = f.input :region
  = f.input :postal_code
  = f.input :charity_number
  = f.input :company_number
  = f.input :founded_on
  = f.input :registered_on
  = f.submit
