= simple_form_for [@organisation] do |f|
  = f.input :name
  = f.input :contact_number
  = f.input :website
  = f.input :street_address
  = f.input :city
  = f.input :region
  = f.input :postal_code
  = f.input :charity_number
  = f.input :company_number
  = f.date_select :founded_on, as: :date, start_year: Date.today.year, end_year: Date.today.year-100, order: [:day, :month, :year], include_blank: :true, default: nil
  = f.input :registered_on, as: :date, start_year: Date.today.year, end_year: Date.today.year-100, order: [:day, :month, :year]
  = f.submit
