.uk-grid{"data-uk-grid-margin" => ""}
  .uk-width-medium-3-4
    %h1
      New Organisation
      = simple_form_for [@organisation] do |f|
        = f.input :name
        = f.input :contact_number
        = f.input :website
        = f.input :street_address
        = f.input :city
        = f.input :region
        = f.input :postal_code
        = f.input :charity_number
        = f.input :company_number
        = f.input :founded_on
        = f.input :registered_on
        = f.input :type
        = f.submit
    -# %form.uk-form.uk-margin-top
    -#   .uk-grid
    -#     %h4
    -#       Find out how you fit with:
    -#       %span
    -#         .uk-button.uk-form-select{"data-uk-form-select" => ""}
    -#           %span Forward Foundation
    -#           %i.uk-icon-caret-down
    -#           %select
    -#             %option Forward Foundation
    -#             %option More coming soon...
    -# .uk-form.uk-form-stacked
    -#   %fieldset
    -#   = simple_form_for @organisation do |f|
    -#     .uk-grid{"data-uk-grid-margin" => ""}
    -#       .uk-width-medium-1-4.uk-margin-top
    -#         .uk-form-controls{style: 'position: relative;'}
    -#           = f.input :contact_first_name, error: false, type: 'text', input_html: { class: 'uk-width-1-1' }
    -#           .uk-form-password-toggle
    -#             = f.error :contact_first_name, class: 'uk-text-small uk-text-warning'
    -#       .uk-width-medium-1-4.uk-margin-top
    -#         .uk-form-controls{style: 'position: relative;'}
    -#           = f.input :contact_last_name, error: false, type: 'text', input_html: { class: 'uk-width-1-1' }
    -#           .uk-form-password-toggle
    -#             = f.error :contact_last_name, class: 'uk-text-small uk-text-warning'
    -#       .uk-width-medium-1-2.uk-margin-top
    -#         .uk-form-controls{style: 'position: relative;'}
    -#           = f.input :contact_role, label: false, error: false, type: 'text', input_html: { class: 'uk-width-1-1' }
    -#           .uk-form-password-toggle
    -#             = f.error :contact_role, class: 'uk-text-small uk-text-warning'
    -#       .uk-width-medium-1-2.uk-margin-top
    -#         .uk-form-controls{style: 'position: relative;'}
    -#           = f.input :name, label: false, error: false, type: 'text', input_html: { class: 'uk-width-1-1' }
    -#           .uk-form-password-toggle
    -#             = f.error :name, class: 'uk-text-small uk-text-warning'
    -#       .uk-width-medium-1-2.uk-margin-top
    -#         .uk-form-controls{style: 'position: relative;'}
    -#           = f.input :contact_email, label: false, error: false, type: 'email', input_html: { class: 'uk-width-1-1' }
    -#           .uk-form-password-toggle
    -#             = f.error :contact_email, class: 'uk-text-small uk-text-warning'
    -#       .uk-width-medium-1-2.uk-margin-top
    -#         .uk-form-controls{style: 'position: relative;'}
    -#           = f.input :password, label: false, error: false, type: 'password', input_html: { class: 'uk-width-1-1' }
    -#           .uk-form-password-toggle
    -#             = f.error :password, class: 'uk-text-small uk-text-warning'
    -#       .uk-width-medium-1-2.uk-margin-top
    -#         .uk-form-controls{style: 'position: relative;'}
    -#           = f.input :password_confirmation, label: false, error: false, type: 'email', input_html: { class: 'uk-width-1-1' }
    -#           .uk-form-password-toggle
    -#             = f.error :password_confirmation, class: 'uk-text-small uk-text-warning'
    -#       .uk-width-medium-1-1.uk-margin-top
    -#         = f.submit 'See how you fit', class: 'uk-button uk-button-primary uk-width-1-1', style: 'color: #fff;'
