= simple_form_for @organisation do |f|
  = f.input :name
  = f.input :contact_name
  = f.input :contact_role
  = f.input :contact_email
  = f.input :password
  = f.input :password_confirmation
  = f.submit
