.uk-container.uk-container-center
  %h1= @organisation.name
  %hr
  %h3 Profiles
  %ul
    - @profiles.each do |profile|
      %li= link_to profile.year, edit_organisation_profile_path(@organisation, profile)
    %li= link_to 'New Profile', new_organisation_profile_path(@organisation)
  %hr
  %h3 Grants received
  %ul
    - @grants.each do |grant|
      %li
        = grant.funder.name
        |
        = number_to_currency(grant.amount_awarded)
    -#   %li= link_to grant.amount_awarded, edit_organisation_grant_path(@organisation, grant)
    -# %li= link_to 'New Grant', new_organisation_grant_path(@organisation)
  %h3 Users
  %ul
    - @users.each do |user|
      %li= link_to @user.first_name, user_path(@user)
      %li= link_to 'New User', new_organisation_grant_path(@organisation)
