= simple_form_for @user, url: root_path, remote: true, authenticity_token: true do |f|

  %noscript
    .fs14.p10.mb15.white.bg-red.rounded
      %strong You have JavaScript disabled
      and you may be unable to use the site properly.

  .flex.mb10
    .f1.mr5= f.input :first_name, label: false
    .f1= f.input :last_name, label: false

  .mb10
    = f.input :org_type, as: :select, collection: ORG_TYPES, label_html: { class: 'normal fs15 mb5' }

  .individual_notice.fs14.p10.my15.white.bg-red.rounded
    %strong Important.
    None of the funders on Beehive provide grants for individuals. See our
    = link_to 'FAQ', faq_path(anchor: 'individual'), class: 'bold white'
    for more details.

  .mb10= f.input :charity_number, label: false

  .mb10= f.input :company_number, label: false

  .mb10= f.input :email, as: :email, label: false

  .mb10= f.input :password, as: :password, label: false

  .mb10.fs12.center.slate
    Accept
    = link_to 'terms of service', '', class: 'blue', onclick: "window.open('#{terms_path}','Terms of Service','width=600,height=400')"
    and
    = succeed '?' do
      = link_to 'privacy policy', '', class: 'blue', onclick: "window.open('#{privacy_path}','Privacy Policy','width=600,height=400')"
    = f.input_field :agree_to_terms, checked: true

  = f.button :button, 'Create account', class: 'button-wide white bg-olive caps truncate', data: { disable_with: 'Welcome aboard...' }
