= simple_form_for @user, url: root_path, remote: true, authenticity_token: true do |f|

  %noscript
    .fs14.p10.mb15.white.bg-red.rounded
      %strong You have JavaScript disabled
      and you may be unable to use the site properly.

  .flex.mb10
    .f1.mr5
      = f.input :first_name, input_html: { class: 'input' }
    .f1
      = f.input :last_name, input_html: { class: 'input' }

  .fs15.mb5
    %label Are you seeking funds for...

  .mb10
    = f.input :org_type, as: :select, collection: ORG_TYPES, input_html: { class: 'input' }

  .fs14.p10.my15.white.bg-red.rounded
    %strong Important.
    None of the funders on Beehive provide grants for individuals. See our
    = link_to 'FAQ', faq_path(anchor: 'individual'), class: 'bold white'
    for more details.

  .mb10#charity-number{ class: ('fade-out' unless charity_hidden?(@user.org_type)) }
    = f.input :charity_number, input_html: { class: 'input' }

  .mb10#company-number{ class: ('fade-out' unless company_hidden?(@user.org_type)) }
    = f.input :company_number, input_html: { class: 'input' }

  .seeking-individual
    .mb10
      = f.input :email, as: :email, input_html: { class: 'input' }

    .mb10
      = f.input :password, as: :password, input_html: { class: 'input' }

  .mb10.fs12.center.slate
    Accept
    = link_to 'terms of service', '#terms', class: 'blue', onclick: "window.open('#{terms_path}','Terms of Service','width=600,height=400')"
    and
    = succeed '?' do
      = link_to 'privacy policy', '#privacy', class: 'blue', onclick: "window.open('#{privacy_path}','Privacy Policy','width=600,height=400')"
    = f.input_field :agree_to_terms, checked: true

  = f.button :button, 'Create account (for free!)', class: 'button-wide white bg-olive caps truncate', data: { disable_with: 'Welcome aboard...' }, id: 'submit_user'
