= content_for :title, 'Edit Profile'

%header
  = cell :navbar, @current_user
  = cell :breadcrumb, 'Account' => account_path

%main
  .maxw1080.mx-auto.px20

    %section.md.mb20.px20
      %h1.mb20 Dashboard

    = render partial: 'accounts/subnav'

  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      %h2.mb20 Profile
      %h4 Update your personal account details.

    %section.perc75.md.mb80.px20
      = simple_form_for @current_user, url: account_path do |f|
        .mb20= f.input :first_name
        .mb20= f.input :last_name
        .mb20= f.input :email
        .mb20= f.input :password
        .mb20= f.input :password_confirmation
        = f.submit 'Update', class: 'btn-wide bg-rich-blue white shadow', data: { disable_with: 'Saving...' }
