= content_for :title, 'Edit Profile'

:javascript
  mixpanel.track("View Edit Profile Page");
  mixpanel.identify("#{@current_user.id}");

= render partial: 'accounts/subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Profile
  %h4 Update your personal account details.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    = simple_form_for @current_user, url: account_path do |f|

      = cell(:user_form, @current_user, f: f)

      .uk-width-medium-1-1.uk-margin-top
        = cell(:submit_form, @current_user, f: f, button_text: 'Update', disable_with_text: 'Saving')
