%h1
  Welcome
  = @user.first_name
%hr
%h4
  Logged in as
  = @user.first_name
  |
  = link_to 'Edit', edit_user_path(@user)
  |
  = link_to 'Logout', logout_path, method: :delete
%hr
%h3 Organisations on Beehive
%ul
  - @organisations.each do |organisation|
    %li
      = link_to organisation.name, organisation_path(organisation), class: 'uk-text-bold'
      |
      = link_to "Edit", edit_organisation_path(organisation)
      |
      = link_to "Delete", organisation_path(organisation), method: :delete
  %li= link_to 'New Organisation', new_organisation_path
%hr
%h3 Users on Beehive
%ul
  - @users.each do |user|
    %li= user.first_name
