- proposal = recipient.proposals.first
- if recipient.charity_name.present?
  %table.uk-table.uk-table-striped.uk-margin-top-remove
    %thead
      %tr
        %th Field
        %th Data
        %th Beehive
    %tbody
      %tr
        %td Charity number
        %td= recipient.charity_number
      %tr
        %td Charity filing year ending
        -# %td= recipient.charity_year_ending.to_date.strftime('%d %b %Y')
        %td= recipient.profiles.first.year
      %tr
        %td Charity name
        %td= recipient.charity_name
        %td= recipient.name
      %tr
        %td Charity status
        %td= recipient.charity_status
      %tr
        %td Charity income
        %td= number_to_currency(recipient.charity_income, unit: '£', precision: 0)
        %td
          = number_to_currency(recipient.profiles.first.income, unit: '£', precision: 0)
          = recipient.profiles.first.income_actual
      %tr
        %td Charity spending
        %td= number_to_currency(recipient.charity_spending, unit: '£', precision: 0)
        %td
          = number_to_currency(recipient.profiles.first.expenditure, unit: '£', precision: 0)
          = recipient.profiles.first.expenditure_actual
      %tr
        %td Charity trustees count
        %td= recipient.charity_trustees
        %td= recipient.profiles.first.trustee_count
      %tr
        %td Charity employees count
        %td= recipient.charity_employees
        %td= recipient.profiles.first.staff_count
      %tr
        %td Charity volunteers count
        %td= recipient.charity_volunteers
        %td= recipient.profiles.first.volunteer_count
      %tr
        %td Charity registered date
        %td= recipient.charity_registered_date
        -# %td= recipient.registered_on.strftime('%d %b %Y')
      %tr
        %td Charity days overdue
        %td= recipient.charity_days_overdue
      %tr
        %td Charity accounts
        %td= link_to 'Link', recipient.charity_recent_accounts_link, target: '_blank'

- if recipient.company_name.present?
  %table.uk-table.uk-table-striped.uk-margin-top-remove
    %thead
      %tr
        %th Field
        %th Data
    %tbody
      %tr
        %td Company number
        %td= recipient.company_number
      %tr
        %td Company last accounts date
        %td= recipient.company_last_accounts_date
      %tr
        %td Company next accounts date
        %td= recipient.company_next_accounts_date
      %tr
        %td Company accounts due date
        %td= recipient.company_accounts_due_date
      %tr
        %td Company last annual return date
        %td= recipient.company_last_annual_return_date
      %tr
        %td Company next annual return date
        %td= recipient.company_next_annual_return_date
      %tr
        %td Company annual return due date
        %td= recipient.company_annual_return_due_date
      %tr
        %td Company name
        %td= recipient.company_name
      %tr
        %td Company type
        %td= recipient.company_type
      %tr
        %td Company status
        %td= recipient.company_status
      %tr
        %td Company incorporatd dates
        -# %td= recipient.company_incorporated_date.strftime('%d %b %Y')
      %tr
        %td Company sic
        %td= recipient.company_sic.to_sentence
      %tr
        %td Company accounts
        %td= link_to 'Link', recipient.company_recent_accounts_link, target: '_blank'
