%script{:src => "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"}
%link{:href => "https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css", :rel => "stylesheet"}

= render partial: 'funders/recipients/subnav'

.uk-container.uk-container-center.uk-margin-large

  = render partial: 'funders/prototype'

  %h2 Recent funding proposals
  %h4 You are seeing recent proposals that Beehive thinks would be suitable for you.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    - @recipients.each do |recipient|
      - if recipient.proposals.count > 0
        .uk-grid
          .uk-width-medium-1-3
            .card
              .details
                .content
                  %h3= link_to recipient.name, '#', class: 'blue', style: 'font-size: 18px;'
                %hr
              .details
                .content.center
                  .uk-grid.uk-grid-small
                    .uk-width-1-2
                      - if recipient.charity_number.present?
                        %strong Charity No.
                        = recipient.charity_number
                    .uk-width-1-2
                      - if recipient.company_number.present?
                        %strong Company No.
                        = recipient.company_number
                %hr
                  -# = funder_card_cta_button_copy(@recipient, funder)
              .details
                .content.center
                  %i.uk-icon.uk-icon-map-marker
                  = Country.find_by_alpha2(recipient.country).name
                  - if recipient.website.present?
                    %i.uk-icon.uk-icon-globe
                    = recipient.website

          .uk-width-medium-2-3
            %h3.uk-margin-top
              = link_to recipient.proposals.first.title, '#', class: 'blue'
            -# %p= some_scope.tagline
            %p= recipient.proposals.first.tagline
            %ul.insights
              %li
                Also suggested to
                = succeed '.' do
                  %strong= recipient.recommended_funders.pluck(:name).reject {|i| i == @funder.name}.take(3).to_sentence
              -# %li
              -#   Interested in
              -#   = succeed '.' do
              -#     %strong= recipient.enquiries.first.funding_stream
              -#   -# Also interested in other funders?
              -# %li
              -#   Visited your website
              -#   %strong= recipient.enquiries.first.approach_funder_count
              -#   time(s).
              %li
                Seeking funds to affect
                = succeed '.' do
                  %strong= recipient.proposals.first.beneficiaries.pluck(:label).to_sentence
              %li
                Seeking funds to affect
                = succeed '.' do
                  %strong= recipient.proposals.first.districts.pluck(:district).to_sentence
              - if recipient.grants.count > 0
                %li
                  %strong= recipient.grants.last.funder.name
                  awarded
                  = recipient.name
                  %strong= number_to_currency(recipient.grants.last.amount_awarded, unit: '£', precision: 0)
                  in
                  = succeed '.' do
                    %strong= recipient.grants.last.approved_on.strftime('%Y')
              %li
                Seeking
                %strong= number_to_currency(recipient.proposals.first.total_costs, unit: '£', precision: 0)
                over
                %strong= recipient.proposals.first.funding_duration
                month(s).
              %li
                %strong= number_to_percentage((recipient.load_recommendation(@funder).grant_amount_recommendation * 100), precision: 0)
                of funding was similar to the
                %strong amount
                sought.
              %li
                %strong= number_to_percentage((recipient.load_recommendation(@funder).grant_duration_recommendation * 100), precision: 0)
                of funding was similar to the
                %strong duration
                sought.

            -# = render partial: 'recipients/funders/insights', locals: {funder: funder}
