%footer.fs14.maxw1050.mx-auto.px15{ class: color }

  %hr.mb30

  .flex.flex-wrap.justify-between.items-center.mb40
    .footer-links
      = link_to('About', about_path, class: 'mr10')
      = link_to('Pricing', pricing_path, class: 'mx10')
      = link_to('Blog', articles_path, class: 'mx10')
      = mail_to('support@beehivegiving.org', 'Contact', class: 'mx10')

    -# TODO: changes colour based on background
    = link_to(root_path, class: 'mx-auto footer-logo') do
      = image_tag('footer-hex.svg', width: 28)

    .footer-links.right-align
      = link_to('FAQ', faq_path, class: 'mx10')
      = link_to('Privacy', privacy_path, class: 'mx10')
      = link_to('Terms', terms_path, class: 'mx10')

      = link_to("© #{Date.today.year} CAST", 'http://www.wearecast.org.uk', class: 'ml10', target: '_blank', rel: 'noopener', onclick: "trackOutboundLink('http://www.wearecast.org.uk');")