.js-dashboard-search-form{:class => ('uk-hidden' unless params[:q]) }
  .uk-width-1-1.uk-margin-top.uk-margin-bottom
    %p
      In
      = succeed  '...' do
        = Date.today.year - 1
    %label.uk-form-label
      = f.label "Country where funding has been given"
    .uk-form-controls
      = f.input :grants_countries_id_eq, collection: Country.all, input_html: { class: 'uk-width-1-1 chosen-select' }
  -# .uk-grid.uk-margin-top-remove
  -#   .uk-width-small-1-2.uk-width-medium-1-2.uk-width-large-1-1.uk-margin-bottom
  -#     %label.uk-form-label
  -#       = f.label "Regions where funding has been given"
  -#     .uk-form-controls
  -#       = f.input :grants_districts_id_eq, collection: District.all, input_html: { class: 'uk-width-1-1 chosen-select' }, label_method: :label
  .uk-grid.uk-margin-top-remove
    .uk-width-small-1-2.uk-width-medium-1-2.uk-width-large-1-1.uk-margin-bottom
      %label.uk-form-label
        = f.label "Given funding greater than"
      .uk-form-controls
        = f.input :grants_amount_awarded_gt, input_html: { class: 'uk-width-1-1' }, placeholder: 'e.g. 10000'
    .uk-width-small-1-2.uk-width-medium-1-2.uk-width-large-1-1.uk-margin-bottom
      %label.uk-form-label
        = f.label "Given funding less than"
      .uk-form-controls
        = f.input :grants_amount_awarded_lt, input_html: { class: 'uk-width-1-1' }, placeholder: 'e.g. 75000'
  .uk-grid.uk-margin-top-remove
    .uk-width-small-1-2.uk-width-medium-1-2.uk-width-large-1-1.uk-margin-bottom
      %label.uk-form-label
        = f.label "Funding duration greater than (months)"
      .uk-form-controls
        = f.input :grants_months_from_start_to_end_gt, input_html: { class: 'uk-width-1-1' }, placeholder: 'e.g. 6'
    .uk-width-small-1-2.uk-width-medium-1-2.uk-width-large-1-1.uk-margin-bottom
      %label.uk-form-label
        = f.label "Funding duration less than (months)"
      .uk-form-controls
        = f.input :grants_months_from_start_to_end_lt, input_html: { class: 'uk-width-1-1' }, placeholder: 'e.g. 12'

  -# .uk-width-1-1
  -#   %label.uk-form-label
  -#     = f.label "Type of funding given"
  -#   .uk-form-controls
  -#     = f.input :grants_grant_type_cont, collection: FundingType.all.pluck(:label), as: :select, input_html: { class: 'uk-width-1-1' }

  -# .uk-width-1-1.uk-margin-top
  -#   %label.uk-form-label
  -#     = f.label "Who/what affected"
  -#   .uk-form-controls
  -#     = f.input :profiles_beneficiaries_id_eq, collection: Beneficiary.order(:label), input_html: { class: 'uk-width-1-1 chosen-select' }, label_method: :label, value_method: :id
