.uk-container.uk-container-center
  .uk-grid
    - unless @current_user.feedbacks.count >= 1 || @current_user.sign_in_count < 2
      = render partial: 'recipients/feedback'

    .uk-width-1-1
      - if @current_user.sign_in_count < 2
        .uk-alert{'data-uk-alert' => ''}
          %a.uk-alert-close.uk-close
          %p.uk-text-large Now that's a lot of data
          %o On this page you can explore a funders previous giving in detail. You can see charts detailing the different characteristics of previously funded organisations, and contrast them against your own organisation. Some funders will have lots of information available, whilst others will just have the basics. So by using Beehive you're helping to improve the quality of data in the non-profit sector.
          %p We're currently only able to present this data in a basic way, though we're working hard to build cutting edge technology to make sense of it all and present it in a useful and easy to understand way.
          %p
            Remember, just drop us an
            = link_to 'email', 'mailto:support@beehivegiving.org'
            if you get stuck or have any feedback.

%nav#bg{"data-uk-sticky" => "{top:42}", style: 'border-bottom: solid #dddddd 1px; height: 36px'}
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-2-3
        %ul.uk-tab.uk-text-center{"data-uk-tab" => "{connect:'#tab-content'}"}
          -# %li.uk-width-medium-1-5.uk-active
          -#   %a{:href => ""} Overview
          %li.uk-width-medium-1-5.uk-active
            %a{:href => ""} Organisation
          %li.uk-width-medium-1-5
            %a{:href => ""} Beneficiaries
          %li.uk-width-medium-1-5
            %a{:href => ""} Team
          %li.uk-width-medium-1-5
            %a{:href => ""} Work
          %li.uk-tab-responsive.uk-active.uk-hidden
            %a Tab
            .uk-dropdown.uk-dropdown-small
              %ul.uk-nav.uk-nav-dropdown
      .uk-width-1-3.uk-text-right
        .uk-vertical-align{:style => "height: 36px;"}
          .uk-vertical-align-middle
            .uk-text-muted.uk-text-truncate
              Viewing:
              = @funder.name

.uk-container.uk-container-center
  .uk-width-1-1#tab-content.uk-switcher

    -# .uk-width-medium-1-1.uk-animation-fade.uk-active
    -#   .uk-grid
    -#     .uk-width-medium-1-2
    -#       .uk-panel.uk-margin-bottom
    -#         %h1 Overview
    -#     .uk-width-medium-1-2
    -#       .uk-panel.uk-margin-bottom
    -#         %h1 Overview

    .uk-width-medium-1-1.uk-animation-fade.uk-active
      .uk-grid.uk-grid-divider{"data-uk-grid-match" => ""}
        .uk-width-large-1-3.uk-margin-top
          .uk-panel
            .uk-panel-title
              %h4 Location of funded organisations
            #grants_location
            %p You work in the following areas:
            %ul
            .uk-scrollable-text{style: 'height:41px;'}
              - @current_organisation.profiles.first.districts.each do |d|
                %li= d.label
            .uk-alert
              %o Forward Foundation tends to fund work in Ethiopia, Kenya, Uganda, and London in the United Kingdom.
        .uk-width-large-1-3.uk-margin
          .uk-panel
            .uk-panel-title
              %h4 Age of funded organisations
            #recipient_age
            %p Your age:
            %h2.uk-text-center{ class: ('uk-text-danger' if ((Date.today - @current_organisation.founded_on).to_f / 356).round(1) > 3) }
              = ((Date.today - @current_organisation.founded_on).to_f / 356).round(1)
              years old
            .uk-alert
              %o Forward Foundation tends to fund organisations younger than 3 years old.
        .uk-width-large-1-3.uk-margin
          .uk-panel
            .uk-panel-title
              %h4 Income of funded organisations
            #recipient_income
            %p Your income:
            %h2.uk-text-center{ class: ('uk-text-danger' if @current_organisation.profiles.first.income > 250000) }
              = number_to_currency(@current_organisation.profiles.first.income, unit: '£', precision: 0)
            .uk-alert
              %o Forward Foundation tends to fund organisations with income less than £250,000.

    .uk-width-medium-1-1.uk-animation-fade
      .uk-grid
        .uk-width-medium-2-3.uk-margin-top
          .uk-panel-title
            %h4 Beneficiary category of funded organisations
          #beneficiaries_focus
        .uk-width-medium-1-3.uk-margin
          %p You target:
          %ul
          .uk-scrollable-text{style: 'height:100px;'}
            - @current_organisation.profiles.first.beneficiaries.each do |b|
              %li= b.label
          .uk-alert
            %o Forward Foundation tends to focus on Education, Unemployment, and Income Poverty.
      %hr.uk-grid-divider.uk-margin-remove
        .uk-grid.uk-grid-divider{"data-uk-grid-match" => ""}
          .uk-width-medium-1-2.uk-margin-top
            .uk-panel-title
              %h4 Age range targeted by funded organisations
            #beneficiaries_age
            %p Your target age range:
            .uk-grid.uk-text-center
              .uk-width-1-2
                %h2.uk-text-center.uk-margin-remove
                  = @current_organisation.profiles.first.min_age
                  .your-data.age
                    Min. age:
              .uk-width-1-2
                %h2.uk-text-center.uk-margin-remove
                  = @current_organisation.profiles.first.max_age
                  .your-data.age
                    Max. age:
          .uk-width-medium-1-2.uk-margin
            .uk-panel-title
              %h4 Gender targeted by funded organisations
            #beneficiaries_gender
            %p Your target gender:
            %h2.uk-text-center.uk-margin-remove
              = @current_organisation.profiles.first.gender

    .uk-width-medium-1-1.uk-animation-fade
      .uk-grid.uk-grid-divider{"data-uk-grid-match" => ""}
        .uk-width-medium-1-2.uk-margin-top
          .uk-panel-title
            %h4 Number of staff from funded organisations
          #recipient_staff
          %h2.uk-text-center.uk-margin-remove
            = pluralize(@current_organisation.profiles.first.staff_count, 'person')
            .your-data.staff
              Your staff:
          .uk-alert
            %o Forward Foundation tends to fund teams with less than 17 paid members of staff.
        .uk-width-medium-1-2.uk-margin
          .uk-panel-title
            %h4 Number of volunteers from funded organisations
          #recipient_volunteers
          %h2.uk-text-center.uk-margin-remove
            = pluralize(@current_organisation.profiles.first.volunteer_count, 'person')
            .your-data.volunteers
              Your volunteers:
          .uk-alert
            %o Forward Foundation tends to fund teams with less than 6 volunteers.

    .uk-width-medium-1-1.uk-animation-fade
      .uk-grid
        .uk-width-medium-2-3.uk-margin-top
          .uk-panel-title
            %h4 How funded organisations implement their work
          #recipient_implement
        .uk-width-medium-1-3.uk-margin
          %p You implement your work with:
          %ul
          .uk-scrollable-text{style: 'height:100px;'}
            - @current_organisation.profiles.first.implementations.each do |i|
              %li= i.label
      %hr.uk-grid-divider.uk-margin-remove
        .uk-grid.uk-grid-divider{"data-uk-grid-match" => ""}
          .uk-width-medium-1-2.uk-margin-top
            .uk-panel-title
              %h4 Funded organisations delivery focus
            #recipient_goods_or_services
            %h2.uk-text-center.uk-margin-remove
              = @current_organisation.profiles.first.goods_services
              .your-data.deliver
                You deliver:
          .uk-width-medium-1-2.uk-margin
            .uk-panel-title
              %h4 What funded organisations sell
            #recipient_sells
            %h2.uk-text-center.uk-margin-remove
              = @current_organisation.profiles.first.who_pays
              .your-data.sell
                You sell:
