#bg-color{style: 'border-bottom: solid 3px #EAEAEA;'}
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-small-1-1.uk-width-medium-1-4.uk-width-large-1-4.uk-vertical-align.uk-text-center{style: 'height: 220px;'}
        .uk-vertical-align-middle
          .uk-border-circle.uk-vertical-align{style: 'background: #fff; height: 160px; width: 160px; border: 3px solid #F7BA0E;'}
            .uk-vertical-align-middle
              = image_tag "logos/#{@funder.slug}-logo.png", width: 120
      .uk-width-small-1-1.uk-width-medium-3-4.uk-width-large-2-4.uk-vertical-align{style: 'height: 220px;'}
        .uk-vertical-align-middle
          %h6.uk-text-muted.uk-text-bold.upcase.uk-margin-bottom-remove Mission
          %p.uk-margin-top-remove= @funder.mission
          -# %h6.uk-text-muted.uk-text-bold.upcase.uk-margin-bottom-remove.uk-margin-top-remove Focus
          -# .uk-width-1-1.uk-margin-small-top.uk-margin-bottom
          -#   .uk-button.uk-button-small Youth
          -#   .uk-button.uk-button-small Employment
          %h6.uk-text-muted.uk-text-bold.upcase.uk-margin-bottom-remove.uk-margin-top-remove Countries targeted
          .uk-width-1-1.uk-margin-small-top
            - if @funder.attributes.count < 1
              %h2.uk-text-primary Missing
            - else
              - @funder.attributes.where('funding_stream_id = ?', 1).first.countries.each do |country|
                = link_to country.name, funders_path(:'q[grants_country_eq]' => "#{country.alpha2}"), class: 'uk-button uk-button-small', style: 'margin-bottom: 3px;'

      .uk-width-medium-1-1.uk-width-large-1-4.uk-vertical-align.uk-text-center{style: 'height: 220px;'}
        .uk-vertical-align-middle
          -# %h1.stat-big 19%
          -# %h6.uk-text-bold.upcase Of funded organisations are similar to yours
          -# .uk-button.uk-button-primary.uk-button-large Send enquiry

#overview{style: 'background: #454545; padding-top: 30px;'}
  %h3.uk-text-center{style: 'color: #eee;'} In the past 12 months...
  .uk-margin-top
    %ul.uk-subnav.uk-subnav-pill.uk-text-center.uk-margin-bottom-remove{"data-uk-scrollspy-nav" => "{closest:'li', topoffset:-350}", "data-uk-sticky" => "{top:40}"}
      %li
        %a{:href => "#top", "data-uk-smooth-scroll" => "{offset: 40}"}
          %i.uk-icon-arrow-up
      %li
        %a{:href => "#overview", "data-uk-smooth-scroll" => "{offset: 40}"} Funding overview
      %li
        %a{:href => "#beneficiaries", "data-uk-smooth-scroll" => "{offset: 92}"} Funded organisations
      %li
        %a{:href => "#similar", "data-uk-smooth-scroll" => ""} Similar funders

  .uk-container.uk-container-center.uk-animation-fade
    %hr
    %h2.uk-text-center.upcase.white
      Funding overview
    %p.white
      - if params[:funding_stream]
        Funding stream:
        %span.uk-button-group
          = link_to "#{FundingStream.where('id = ?', params[:funding_stream]).first.label} &#10006;".html_safe, params.merge(:funding_stream => nil), class: 'uk-button uk-button-mini'

      -# .uk-button.uk-button-mini.roboto Compare
    .uk-grid.uk-margin-bottom{"data-uk-grid-match" => "{target:'.uk-panel'}"}
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funded organisations
          .uk-text-center
            %h6.uk-text-bold.upcase Funded
            - if @funder.attributes.count < 1 || @funder.attributes.first.grant_count.nil?
              = simple_data_not_available('request_grant_count')
            - else
              %h1.uk-margin-top-remove.stat-big
                = @funder.attributes.first.grant_count
          %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              %h6.uk-text-bold.upcase Applications
              - if @funder.attributes.count < 1 || @funder.attributes.first.application_count.nil?
                = simple_data_not_available('request_applications_count')
              - else
                %h2.uk-margin-top-remove.stat-normal
                  = @funder.attributes.first.application_count
            .uk-width-1-2
              %h6.uk-text-bold.upcase Enquiries
              - if @funder.attributes.count < 1 || @funder.attributes.first.enquiry_count.nil?
                = simple_data_not_available('request_enquiry_count')
              - else
                %h2.uk-margin-top-remove.stat-normal
                  = @funder.attributes.first.enquiry_count

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funding size
          .uk-text-center
            - if @funder.attributes.count < 1 || @funder.attributes.first.funding_size_average.nil?
              = data_not_available('request_amount_awarded')
            - else
              %h6.uk-text-bold.upcase Average
              %h1.uk-margin-top-remove.stat-big
                = number_to_currency(@funder.attributes.first.funding_size_average, unit: '£', precision: 0)
              %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_size_min.nil?
                %h6.uk-text-bold.upcase Min
                %h2.uk-margin-top-remove.stat-normal
                  = number_to_currency(@funder.attributes.first.funding_size_min, unit: '£', precision: 0)
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_size_max.nil?
                %h6.uk-text-bold.upcase Max
                %h2.uk-margin-top-remove.stat-normal
                  = number_to_currency(@funder.attributes.first.funding_size_max, unit: '£', precision: 0)

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel
          - if @funder.grants.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          .uk-panel-title.uk-text-center Funding duration
          .uk-text-center
            - if @funder.attributes.count < 1 || @funder.attributes.first.funding_duration_average.nil?
              = data_not_available('request_funding_dates')
            - else
              %h6.uk-text-bold.upcase Average
              %h1.uk-margin-top-remove.stat-big
                = (@funder.attributes.first.funding_duration_average / 365).round(2)
                %span.uk-text-small year(s)
              %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_duration_min.nil?
                %h6.uk-text-bold.upcase Min
                %h2.uk-margin-top-remove.stat-normal
                  = (@funder.attributes.first.funding_duration_min / 365).round(2)
                  %span.uk-text-small year(s)
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_duration_max.nil?
                %h6.uk-text-bold.upcase Max
                %h2.uk-margin-top-remove.stat-normal
                  = (@funder.attributes.first.funding_duration_max / 365).round(2)
                  %span.uk-text-small year(s)

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.uk-text-center
          - if @funder.grants.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          - unless @funder.attributes.count < 1 || @funder.attributes.first.funding_types.count < 1
            %h1.uk-margin-top-remove.stat-big
              = @funder.attributes.first.funding_types.count
          %h5.uk-text-bold.upcase.uk-margin-bottom-remove Type(s) of funding
          %hr
            - if @funder.attributes.count < 1 || @funder.attributes.first.funding_types.count < 1
              = data_not_available('request_funding_types')
            - else
              - @funder.attributes.first.funding_types.pluck(:label).uniq.each do |type|
                .uk-button.uk-button-small{style: 'margin-bottom: 3px;'}= type
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.uk-text-center
          - if @funder.grants.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          - unless @funder.attributes.count < 1 || @funder.attributes.count < 1
            %h1.uk-margin-top-remove.stat-big
              = @funder.attributes.count
          %h5.uk-text-bold.upcase Funding stream(s)
          %hr
            - if @funder.attributes.count < 1 || @funder.attributes.count < 1
              = data_not_available('request_funding_streams')
            - else
              - @funder.attributes.each do |attr|
                = link_to attr.funding_stream.label, params.merge(:funding_stream => "#{attr.funding_stream.id}"), class: 'uk-button uk-button-small', style: 'margin-bottom: 3px;'
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.uk-text-center
          - if @funder.grants.count > 0
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'bottom-right'}", :title => "This information is from open grants data made possible by 360 Giving."}
          - unless @funder.attributes.count < 1 || @funder.attributes.first.approval_months.count < 1
            %h1.uk-margin-top-remove.stat-big
              = @funder.attributes.first.approval_months.count
          %h5.uk-text-bold.upcase Approval month(s)
          %hr
            - if @funder.attributes.count < 1 || @funder.attributes.first.approval_months.count < 1
              = data_not_available('request_approval_months')
            - else
              - @funder.attributes.first.approval_months.pluck(:month).uniq.each do |month|
                .uk-button.uk-button-small{style: 'margin-bottom: 3px;'}= month

.uk-container.uk-container-center.uk-margin-large.uk-margin-large-bottom#beneficiaries
  %h2.uk-text-center.upcase Funded organisations
  .uk-grid.uk-margin-bottom{"data-uk-grid-match" => "{target:'.uk-panel'}"}
    .uk-width-medium-1-3.uk-margin-bottom
      .uk-panel.uk-panel-box#panel
        %h3.uk-text-center Age
        .uk-text-center
          - if @funder.attributes.count < 1 || @funder.attributes.first.funded_average_age.nil?
            = data_progress(@funder)
          - else
            %h6.uk-text-bold.upcase Average
            %h1.uk-margin-top-remove.stat-big
              = (@funder.attributes.first.funded_average_age / 365).round(1)
              %span.uk-text-small year(s) old
          %hr
          %h6.uk-margin-top-remove.uk-text-bold.upcase Your age
          %h2.uk-margin-top-remove.uk-margin-bottom-remove.stat-normal.yellow
            = ((Date.today - @recipient.founded_on).to_f / 365).round(1)
            %span.uk-text-small year(s) old
    .uk-width-medium-1-3.uk-margin-bottom
      .uk-panel.uk-panel-box#panel
        %h3.uk-text-center Income
        .uk-text-center
          - if @funder.attributes.count < 1 || @funder.attributes.first.funded_average_income.nil?
            = data_progress(@funder)
          - else
            %h6.uk-text-bold.upcase Average
            %h1.uk-margin-top-remove.stat-big
              = number_to_currency(@funder.attributes.where('funding_stream_id = ?', @funding_stream).first.funded_average_income, unit: '£', precision: 0)
          %hr
          %h6.uk-margin-top-remove.uk-text-bold.upcase Your income
          %h2.uk-margin-top-remove.uk-margin-bottom-remove.stat-normal.yellow
            - if @recipient.profiles.where('year = ? OR year = ?', Date.today.year, Date.today.year - 365).any?
              = number_to_currency(@recipient.profiles.where('year = ? OR year = ?', Date.today.year, Date.today.year - 365).first.income, unit: '£', precision: 0)
    .uk-width-medium-1-3.uk-margin-bottom
      .uk-panel.uk-panel-box#panel
        %h3.uk-text-center Paid staff
        .uk-text-center
          - if @funder.attributes.count < 1 || @funder.attributes.first.funded_average_paid_staff.nil?
            = data_progress(@funder)
          - else
            %h6.uk-text-bold.upcase Average
            %h1.uk-margin-top-remove.stat-big
              = @funder.attributes.where('funding_stream_id = ?', @funding_stream).first.funded_average_paid_staff
              %span.uk-text-small Full time eqivalent
          %hr
          %h6.uk-margin-top-remove.uk-text-bold.upcase Your paid staff
          %h2.uk-margin-top-remove.uk-margin-bottom-remove.stat-normal.yellow
            - if @recipient.profiles.where('year = ? OR year = ?', Date.today.year, Date.today.year - 365).any?
              = @recipient.profiles.where('year = ? OR year = ?', Date.today.year, Date.today.year - 365).first.staff_count
            %span.uk-text-small Full time eqivalent

  .uk-width-large-1-1
    = render partial: 'recipients/charts/beneficiaries/beneficiary_target'
    %hr
      .uk-text-center
        %h6.uk-text-bold.upcase Who/what you affect
        - if @recipient.profiles.where('year = ? OR year = ?', Date.today.year, Date.today.year - 365).any?
          - @recipient.profiles.where('year = ? OR year = ?', Date.today.year, Date.today.year - 365).first.beneficiaries.pluck(:label).each do |b|
            .uk-button.uk-button-small= b

#bg-color{style: 'background: #454545;'}
  .uk-container.uk-container-center#similar
    .uk-margin-large-top.uk-margin-large-bottom
      %h2.uk-text-center.upcase.white Similar funders
      .uk-grid.uk-text-center
        .uk-width-medium-1-3.uk-margin-bottom.uk-hidden-small
          .uk-panel{style: 'border: 3px #555 dashed; height: 110px;'}
        .uk-width-medium-1-3.uk-margin-bottom
          .uk-panel.uk-vertical-align{style: 'border: 3px #555 dashed; height: 110px;'}
            .uk-vertical-align-middle
              %h3.uk-margin-top.uk-text-muted Coming soon...
        .uk-width-medium-1-3.uk-margin-bottom.uk-hidden-small
          .uk-panel{style: 'border: 3px #555 dashed; height: 110px;'}
