= stylesheet_link_tag 'overrides/morris_overrides'
= javascript_include_tag 'raphael'
= javascript_include_tag 'morris'

:javascript
  mixpanel.track("View Funder Comparison Page", {"Funder": "#{@funder.name}"});
  mixpanel.identify('#{current_user.id}');
  mixpanel.people.set({
    'Funder Unlocks': '#{@recipient.recipient_funder_accesses_count}'
  });

- if @recipient.recipient_funder_accesses.any?
  :javascript
    mixpanel.people.set({
      'Last Unlocked Funder': '#{Funder.find(@recipient.recipient_funder_accesses.last.funder_id).name}',
      'Last Funder Eligibility': '#{@recipient.eligible?(Funder.find(@recipient.recipient_funder_accesses.last.funder_id))}'
    });

.base.background
  .uk-container.uk-container-center
    .uk-grid
      = render partial: 'recipients/sections/header'

.uk-panel.uk-width-1-1.uk-text-center.uk-text-large{"data-uk-sticky" => "{top:40, media: 959}"}
  - if @funder.restrictions.any?
    - if @recipient.questions_remaining?(@funder)
      - if @recipient.profiles.where(year: Date.today.year).count == 0
        .cta
          Before you continue, get recommendations of which funders to look at
          = link_to "Recommend funders", new_recipient_profile_path(@recipient), class: 'uk-button uk-button-large uk-button-primary', id: 'mp-complete-profile'
      - elsif @recipient.locked_funder?(@funder) && @recipient.unlocked_funders.count < Recipient::MAX_FREE_LIMIT
        .cta
          Like what you see? Let's see if you're eligible.
          = link_to "Check eligibility", recipient_eligibility_path(@funder), class: 'uk-button uk-button-large uk-button-primary'
      - elsif !@recipient.locked_funder?(@funder)
        .cta
          Like what you see? Let's see if you're eligible.
          = link_to 'Check eligibility', recipient_eligibility_path(@funder), class: 'uk-button uk-button-primary uk-button-large'
      - else
        .cta.primary
          You can only check your eligibility with
          = Recipient::MAX_FREE_LIMIT
          funders at the moment.
          %a.uk-button.uk-button-large{"data-uk-modal" => "{target:'#next'}"} Next step
    - else
      - if @recipient.eligible?(@funder)
        .uk-width-1-1.cta.success
          You're eligible for one or more of
          = succeed ',' do
            = @funder.name.pluralize
          funding streams.
          = link_to "Approach for funding", '#approach', class: "uk-button uk-button-primary uk-button-large", onclick: '$.UIkit.modal("#eligible").show();'
      - else
        .cta.danger
          Drat! It looks like you're ineligible for
          = succeed '.' do
            = @funder.name
          = link_to 'Find another funder', funders_path, class: 'uk-button uk-button-primary uk-button-large'
          = link_to 'Made a mistake?', recipient_eligibilities_path(current_user.organisation), class: 'uk-text-small white'
  - elsif Funder::CLOSED_FUNDERS.include?(@funder.name)
    .cta Sorry, this funder has currently stopped accepting funding applications.
  - else
    %p What would you like to do next?
    %a.uk-button.uk-button-large.uk-button-primary.uk-width-1-1.shadow.bounce{"data-uk-modal" => "{target:'#next'}"} Next step

= render partial: 'recipients/sections/overview'

= render partial: 'recipients/sections/similar'

- if @recipient.eligible?(@funder)
  = render partial: 'recipients/eligible'

- if params[:proceed]
  :javascript
    $.UIkit.modal("#eligible").show();

#next.uk-modal
  .uk-modal-dialog
    %a.uk-modal-close.uk-close
    :plain
      <style>.embed-container { position: relative; padding-bottom: 95%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://docs.google.com/forms/d/1AVr3pcIvkz-LYZbtpUyOCh52uxQNiOw5YO0QaHcwTS0/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></div>
