:javascript
  mixpanel.track("Page View", {"Page Name": "Recipient Dashboard"});
  mixpanel.track_forms("#funder_search", "Find Funders Form");
  mixpanel.track_links("#mp-the-foundation", "Clicked 'The Foundation' Link");

#bg-color{style: 'min-height: 550px'}
  .uk-container.uk-container-center.uk-animation-fade
    .uk-grid.uk-margin
      .uk-width-1-1.uk-margin

        %h2.uk-margin-top
          Dashboard
          %a.uk-text-small{"data-uk-modal" => "{target:'#about-dashboard'}"} What's this?

        .uk-grid.uk-margin-top-remove.uk-margin-bottom
          .uk-width-medium-1-3
            - unless @recipient.unlocked_funders.any?
              .uk-panel.uk-panel-box#panel.uk-margin-top-remove
                .uk-panel-title Get started
                %ul.uk-nav.uk-nav-side
                  %li
                    %a{href: recipient_comparison_gateway_path(Funder.find_by_name('The Foundation'))}
                      %i.uk-icon-info-circle
                        See how you with The Foundation

            .uk-panel.uk-panel-box.uk-overlay-panel#panel
              %h3 Your recommended funders
              .uk-panel.uk-text-center.uk-vertical-align{style: 'border: 3px #ddd dashed; height: 110px;'}
                .uk-vertical-align-middle
                  %h3.uk-margin-top.uk-text-muted Coming soon...
            .uk-width-1-1.uk-button.uk-margin-bottom#mp-find-out-more{"data-uk-modal" => "{target:'#about-recommendation'}"} Find out more

            .uk-width-1-1
              - if @recipient.attribute
                = link_to 'Edit problem/solution', edit_recipient_attribute_path(@recipient, @recipient.attribute)
              - else
                = link_to 'Add problem/solution', new_recipient_attribute_path(@recipient)

            -#     %li
            -#       %a.uk-text-muted
            -#         %i.uk-icon-check-circle-o.uk-icon-small.uk-text-muted
            -#           Add problem
            -#     %li
            -#       %a
            -#         %i.uk-icon-circle-o.uk-icon-small
            -#           Add solution
            -#     %li
            -#       %a
            -#         %i.uk-icon-circle-o.uk-icon-small
            -#           Complete a profile for 2013
            -#     %li
            -#       %a
            -#         %i.uk-icon-circle-o.uk-icon-small
            -#           Get your first endorsment
            -# .uk-margin-bottom
            -#   = link_to 'Your profile', recipient_public_path(@recipient), class: 'uk-button uk-button-primary uk-width-1-1'

            -# .uk-panel.uk-panel-box#panel
            -#   .uk-panel-title Notifications
            -#   %ul.uk-nav.uk-nav-side
            -#     %li
            -#       %a.uk-text-success
            -#         %i.uk-icon-check-circle.uk-icon-small
            -#           A funder likes you
            -#         %div Paul Hamlyn Foundation thinks your a good fit
            -#     %li
            -#       %a.uk-text-warning
            -#         %i.uk-icon-exclamation-circle.uk-icon-small
            -#           Funding opportunity
            -#         %div The Foundation is looking for organisations like yours
            -#     %li
            -#       %a.uk-text-primary
            -#         %i.uk-icon-info-circle.uk-icon-small
            -#           You're getting noticed
            -#         %div Big Lottery Fund has viewed your enquiry

          .uk-width-medium-2-3.uk-margin-bottom
            -# .uk-width-1-1.uk-margin-bottom
            -#   .uk-panel.uk-panel-box.uk-overlay-panel#panel
            -#     %h3 Your recommended funders
            -#   .uk-width-1-1.uk-button{"data-uk-modal" => "{target:'#about-recommendation'}"} Find out more

            = search_form_for @search, url: funders_path do |f|
              .uk-width-1-1.uk-margin-bottom
                .uk-panel.uk-panel-box#panel.uk-margin-top-remove
                  .uk-panel-title
                    Find funders
                    %a.uk-text-small{:'data-uk-toggle' => "{target: '.js-dashboard-search-form'}"} More options
                  .uk-grid.uk-margin-top-remove
                    .uk-width-1-1
                      .uk-form.uk-form-stacked
                        .uk-width-1-1
                          %label.uk-form-label
                            = f.label "Funder name"
                          .uk-form-controls
                            = f.input :name_cont, input_html: { class: 'uk-width-1-1' }
                        = render :partial => 'recipients/filter', locals: {f: f}
                .uk-grid
                  .uk-width-2-3
                    = f.submit 'Find funders', class: "uk-width-1-1 uk-button uk-button-primary", style: 'color: #fff;'
                  .uk-width-1-3{style: 'padding-left: 0;'}
                    = link_to "Clear", request.path, class: "uk-width-1-1 uk-button"

#about-dashboard.uk-modal
  .uk-modal-dialog
    %a.uk-modal-close.uk-close
    .uk-modal-header
      %h2 Your Dashboard
    %o From here you can start to discover and compare which funders are best for your organisation. Right now it's a little basic, but we'll be adding more funders, and features in the coming months. Importantly, by signing up you've provided us with vital information to help us develop advanced recommendation features, so watch this space...
    %p
      Drop us a
      = link_to 'line', 'mailto:support@beehivegiving.org', target: '_blank'
      if you have any questions.
      - if current_user_should_render_feedback?
        Or give us some
        = succeed '.' do
          %a{"data-uk-modal" => "{target:'#feedback'}"} feedback

#about-recommendation.uk-modal
  .uk-modal-dialog
    %a.uk-modal-close.uk-close
    .uk-modal-header
      %h2 Recommended funders
    %o From here you can start to discover and compare which funders are best for your organisation. Right now it's a little basic, but we'll be adding more funders, and features in the coming months. Importantly, by signing up you've provided us with vital information to help us develop advanced recommendation features, so watch this space...
