= content_for :title, 'Edit Organisation'

= javascript_include_tag 'chosen-jquery'
= javascript_include_tag 'chosen'
= stylesheet_link_tag 'chosen'
= stylesheet_link_tag 'overrides/chosen_overrides'

:javascript
  mixpanel.track("View Edit Organisation Page");
  mixpanel.identify("#{@current_user.id}");

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Organisation' => account_organisation_path(@recipient)

%main
  .maxw1080.mx-auto.px20

    %section.md.mb20.px20
      %h1.light.mb20 Dashboard

    %nav.md.mb40.px20
      %ul.border-bottom.border-lightest-gray.fs14
        %li.mr20.py10.inline-block
          = link_to 'Account', account_path, class: 'blue'
        %li.mr20.py10.inline-block.border-bottom-thick.border-blue
          = link_to 'Organisation', account_organisation_path(@recipient), class: 'blue'
        %li.mr20.py10.inline-block
          = link_to 'Subscription', account_subscription_path(@recipient), class: 'blue'
        %li.mr20.py10.inline-block
          = link_to 'Proposals', proposals_path, class: 'blue'

  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      %h2.light.mb20 Organisation
      %h4.light Update your organisation or project's details.


    %section.perc75.md.mb80.px20.fs14
      = simple_form_for @recipient, url: account_organisation_path(@recipient) do |f|

        = cell(:recipient_form, @recipient, f: f)
        = cell(:submit_form, @recipient, f: f, button_text: 'Update', disable_with_text: 'Saving')
