= content_for :title, 'Edit Organisation'

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Organisation' => account_organisation_path(@recipient)

%main
  .maxw1080.mx-auto.px20

    %section.md.mb20.px20
      %h1.mb20 Dashboard

    = render partial: 'accounts/subnav'

  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      %h2.mb20 Organisation
      %h4 Update your organisation or project's details.

    %section.perc75.md.mb80.px20
      = simple_form_for @recipient, url: account_organisation_path(@recipient) do |f|

        .mb20= f.input :name

        .mb20= f.input :country, priority: ['GB'], include_blank: true

        .mb20= f.input :street_address

        .mb20= f.input :operating_for, as: :select, collection: OPERATING_FOR

        .mb20= f.input :income_band, as: :select, collection: INCOME_BANDS

        .mb20= f.input :employees, as: :select, collection: EMPLOYEES

        .mb20= f.input :volunteers, as: :select, collection: EMPLOYEES

        .mb20= f.input :website, as: :url

        = f.submit 'Update', class: 'btn-wide bg-rich-blue white shadow', data: { disable_with: 'Saving...' }
