= javascript_include_tag 'chosen-jquery'
= javascript_include_tag 'chosen'
= stylesheet_link_tag 'chosen'
= stylesheet_link_tag 'overrides/chosen_overrides'
= stylesheet_link_tag 'signup'
= javascript_include_tag 'signup'

= content_for :title, "Basics #{@recipient.name}"

= render partial: 'signup/subnav', locals: { current_step: 0 }

.uk-container.uk-container-center.uk-margin-large
  %h2 Basics
  %h4 Which type of organisation or project you are seeking funding for?

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    = render partial: 'proposals/cta'

    = render partial: 'organisations/edit'
