= content_for :title, 'Edit Organisation'

-# TODO: refactor
:javascript
  mixpanel.track("View Edit Organisation Page");
  mixpanel.identify("#{@current_user.id}");

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Organisation' => account_organisation_path(@recipient)

%main
  .maxw1080.mx-auto.px20

    %section.md.mb20.px20
      %h1.mb20 Dashboard

    = render partial: 'accounts/subnav'

  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      %h2.mb20 Organisation
      %h4 Update your organisation or project's details.

    %section.perc75.md.mb80.px20
      = simple_form_for @recipient, url: account_organisation_path(@recipient) do |f|

        = cell(:recipient_form, @recipient, f: f)
        = cell(:submit_form, @recipient, f: f, button_text: 'Update', disable_with_text: 'Saving')
