= content_for :title, "Eligibility for #{@funder.name}"

-# refactor
:javascript
  mixpanel.track("View New Eligibility Page", {"Funder": "#{@funder.name}"});

= render partial: 'funders/subnav', locals: {funder: @funder}

.uk-container.uk-container-center.uk-margin-large.uk-margin-large-top.uk-animation-fade
  .uk-grid
    .uk-width-medium-1-3
      .card
        %a{href: funder_path(@funder), alt: @funder.name}
          .thumbnail
            .funder{class: @funder.slug}
        .details
          .content{style: 'margin-top: 15px;'}
            = render partial: 'recipients/funders/insights', locals: {funder: @funder}

    .uk-width-medium-2-3

      - if @recipient.load_recommendation(@funder).eligibility
        - if @recipient.eligible?(@funder)
          .cta.wide.green
            You are eligible for at least one funding programme.
            = link_to 'Apply for funding', recipient_apply_path(@funder), class: 'uk-button uk-button-large uk-button-success invert'
        - else
          .cta.wide.red
            You are ineligible, and did not meet
            %strong= @recipient.eligibility_restrictions(@funder).where(eligible: false).count
            of the criteria below.

      %h3.uk-margin-top Eligibility questions
      %p.uk-margin-bottom
        The following questions have been set by
        = succeed '.' do
          = @funder.name
        Complete them to see if your non-profit is eligible for their support.

      %hr.thick

      %h4.uk-text-bold Are you seeking funding for?
      .uk-form.uk-form-stacked

        - if @recipient.load_recommendation(@funder).eligibility
          = simple_form_for @recipient, url: recipient_eligibility_path(@funder) do |f|
            = f.simple_fields_for :eligibilities, @recipient.eligibility_restrictions(@funder).each { |e| Eligibility.where(recipient_id: @recipient, restriction_id: e.restriction.id).first_or_initialize } do |e|
              = render partial: 'recipients/restriction', locals: {e: e}
            = f.button :button, 'Update', class: 'uk-button uk-button-primary uk-button-large uk-width-large-2-5 uk-float-right', data: {disable_with: "<i class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i> Updating..."}

        - else
          = simple_form_for @recipient, url: recipient_eligibility_path(@funder) do |f|
            = f.simple_fields_for :eligibilities, @eligibility do |e|
              - if e.object.new_record?
                = render partial: 'recipients/restriction', locals: {e: e}
            = f.button :button, "Check eligibility (#{(Recipient::MAX_FREE_LIMIT - @recipient.unlocked_funders.count)} left)", class: 'uk-button uk-button-primary uk-button-large uk-width-large-2-5 uk-float-right', data: {disable_with: "<i class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i> Checking..."}, "data-uk-tooltip" => "{pos:'top'}", :title => "This will use one of your eligibility checks."
