:javascript
  mixpanel.track("Page View", {"Page Name": "Recipient Gateway"});
  mixpanel.track_links("#mp-complete-profile", "Clicked 'Complete profile' Link");

#bg-color{style: 'border-bottom: solid 3px #EAEAEA;'}
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-small-1-1.uk-width-medium-1-4.uk-width-large-1-4.uk-vertical-align.uk-text-center{style: 'height: 220px;'}
        .uk-vertical-align-middle
          .uk-border-circle.uk-vertical-align.shadow{style: 'background: #fff; height: 160px; width: 160px; border: 3px solid #F7BA0E; position: relative;'}
            - if @recipient.recommended_funder?(@funder) && @recipient.profiles.count > 0
              .funder-logo-banner.shadow
                %p Recommended
            .uk-vertical-align-middle
              .funder{class: "#{@funder.slug}-small", alt: "#{@funder.name} Logo"}
      .uk-width-small-1-1.uk-width-medium-3-4.uk-width-large-2-4.uk-vertical-align{style: 'height: 220px;'}
        .uk-vertical-align-middle
          %h6.uk-text-muted.uk-text-bold.upcase.uk-margin-bottom-remove Mission
          %p.uk-margin-top-remove= @funder.mission
          %h6.uk-text-muted.uk-text-bold.upcase.uk-margin-bottom-remove.uk-margin-top-remove Countries targeted
          .uk-width-1-1.uk-margin-small-top
            - if @funder.attributes.count < 1
              %h2.uk-text-primary Missing
            - else
              - @funder_attribute.countries.limit(12).each do |country|
                = link_to country.name, funders_path(:'q[grants_countries_id_eq]' => "#{country.id}"), class: 'uk-button uk-button-small shadow', style: 'margin-bottom: 3px;'
              - if @funder_attribute.countries.count > 15
                %span ...

      .uk-width-medium-1-1.uk-width-large-1-4.uk-vertical-align.uk-text-center{style: 'height: 220px;'}
        .uk-vertical-align-middle
          .uk-panel.cta.shadow{"data-uk-sticky" => "{top:40, media: 959}"}
            - if @recipient.can_unlock_funder?(@funder)
              %p Now that you have completed a profile you can click below to unlock this funder.
              = link_to "Unlock Funder (#{(Recipient::MAX_FREE_LIMIT - @recipient.unlocked_funders.count)} left)", recipient_unlock_funder_path(@funder), class: 'uk-button uk-button-large uk-button-primary uk-width-1-1 shadow bounce', method: :post

            - elsif @recipient.profiles.where(year: Date.today.year).count == 0
              %p Before you continue, get recommendations of which funders to look at
              = link_to "Recommend funders", new_recipient_profile_path(@recipient), class: 'uk-button uk-button-large uk-button-primary uk-width-1-1 shadow bounce', id: 'mp-complete-profile'

            - elsif @recipient.unlocked_funders.count < Recipient::MAX_FREE_LIMIT
              %p Now that you have completed a profile you can click below to unlock this funder.
              = link_to "Unlock Funder (#{(Recipient::MAX_FREE_LIMIT - @recipient.unlocked_funders.count)} left)", recipient_unlock_funder_path(@funder), class: 'uk-button uk-button-large uk-button-primary uk-width-1-1 shadow bounce', method: :post

            - else
              %p
                You can only unlock
                = Recipient::MAX_FREE_LIMIT
                funders at the moment. Let us know what you like to do next...
              %a.uk-button.uk-button-large.uk-button-primary.uk-width-1-1.shadow.bounce{"data-uk-modal" => "{target:'#next'}"} Next step

#next.uk-modal
  .uk-modal-dialog
    %a.uk-modal-close.uk-close
    :plain
      <style>.embed-container { position: relative; padding-bottom: 95%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://docs.google.com/forms/d/1AVr3pcIvkz-LYZbtpUyOCh52uxQNiOw5YO0QaHcwTS0/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></div>

#overview.overview-offset{style: 'background: #454545'}
%div{style: 'background: #454545; padding-top: 30px;'}
  %h3.uk-text-center{style: 'color: #eee;'}
    In
    = succeed '...' do
      = Date.today.year - 1
  .uk-margin-top
    %ul.uk-subnav.uk-subnav-pill.uk-text-center.uk-margin-bottom-remove{"data-uk-scrollspy-nav" => "{closest:'li', topoffset:-350}", "data-uk-sticky" => "{top:40}"}
      %li
        %a.shadow{:href => "#top", "data-uk-smooth-scroll" => ""}
          %i.uk-icon-arrow-up
      %li
        %a.shadow{:href => "#overview", "data-uk-smooth-scroll" => "", style: 'margin-bottom: 3px;'} Funding overview
      %li
        %a.shadow{:href => "#similar", "data-uk-smooth-scroll" => "{offset: 92}", style: 'margin-bottom: 3px;'} Similar funders

  .uk-container.uk-container-center.uk-animation-fade
    %hr
    %h2.uk-text-center.upcase.white Funding overview

    .uk-grid.uk-margin-bottom{"data-uk-grid-match" => "{target:'.uk-panel'}"}
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.shadow
          - if @funder.grants.count > 0 && @funder_attribute.grant_count.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'left'}", :title => "This information is from open grants data made possible by 360Giving"}
          .uk-panel-title.uk-text-center Funding awarded
          .uk-text-center
            %h6.uk-text-bold.upcase Grants
            - if @funder.attributes.count < 1 || @funder_attribute.grant_count.nil?
              = simple_data_not_available('request_grant_count')
            - else
              %h1.uk-margin-top-remove.stat-big
                = @funder_attribute.grant_count
          %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              %h6.uk-text-bold.upcase Applications
              - if @funder.attributes.count < 1 || @funder_attribute.application_count.nil?
                = simple_data_not_available('request_applications_count')
              - else
                %h2.uk-margin-top-remove.stat-normal
                  = @funder.attributes.where('funding_stream = ?', @funding_stream).first.application_count
            .uk-width-1-2
              %h6.uk-text-bold.upcase Enquiries
              - if @funder.attributes.count < 1 || @funder_attribute.enquiry_count.nil?
                = simple_data_not_available('request_enquiry_count')
              - else
                %h2.uk-margin-top-remove.stat-normal
                  = @funder_attribute.enquiry_count

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.shadow
          - if @funder.grants.count > 0 && @funder_attribute.funding_size_average.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'left'}", :title => "This information is from open grants data made possible by 360Giving"}
          .uk-panel-title.uk-text-center Funding size
          .uk-text-center
            - if @funder.attributes.count < 1 || @funder_attribute.funding_size_min.nil?
              = data_not_available('request_amount_awarded')
            - elsif @funder.grants.count == 0
              %h6.uk-text-bold.upcase Average
              %h1.uk-margin-top-remove.stat-big
                - unless @funder.attributes.count < 1 || @funder_attribute.funding_size_average.nil?
                  = number_to_currency(@funder_attribute.funding_size_average, unit: '£', precision: 0)
                - else
                  %h2.uk-text-primary Not provided
              %hr
              .uk-grid.uk-text-center
                .uk-width-1-2
                  - unless @funder.attributes.count < 1 || @funder_attribute.funding_size_min.nil?
                    %h6.uk-text-bold.upcase Min
                    %h2.uk-margin-top-remove.stat-normal
                      = number_to_currency(@funder_attribute.funding_size_min, unit: '£', precision: 0)
                .uk-width-1-2
                  - unless @funder.attributes.count < 1 || @funder_attribute.funding_size_max.nil?
                    %h6.uk-text-bold.upcase Max
                    %h2.uk-margin-top-remove.stat-normal
                      = number_to_currency(@funder_attribute.funding_size_max, unit: '£', precision: 0)
            - else
              - if @funder.grants.where('approved_on IS NOT NULL').count == @funder.grants.count
                #funding_frequency_distribution{ data: {data: funding_frequency_distribution(@funder, @year_of_funding).to_json} }

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box#panel.shadow
          - if @funder.grants.count > 0 && @funder_attribute.funding_duration_average.present?
            .uk-panel-badge
              %i.uk-icon-pie-chart.uk-icon-small.yellow{"data-uk-tooltip" => "{pos:'left'}", :title => "This information is from open grants data made possible by 360Giving"}
          .uk-panel-title.uk-text-center Funding duration
          .uk-text-center
            - if @funder.attributes.count < 1 || @funder_attribute.funding_duration_average.nil?
              = data_not_available('request_funding_dates')
            - else
              %h6.uk-text-bold.upcase Average
              %h1.uk-margin-top-remove.stat-big
                = (@funder_attribute.funding_duration_average / 365).round(2)
                %span.uk-text-small year(s)
              %hr
          .uk-grid.uk-text-center
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder_attribute.funding_duration_min.nil?
                %h6.uk-text-bold.upcase Min
                %h2.uk-margin-top-remove.stat-normal
                  = (@funder_attribute.funding_duration_min / 365).round(2)
                  %span.uk-text-small year(s)
            .uk-width-1-2
              - unless @funder.attributes.count < 1 || @funder_attribute.funding_duration_max.nil?
                %h6.uk-text-bold.upcase Max
                %h2.uk-margin-top-remove.stat-normal
                  = (@funder_attribute.funding_duration_max / 365).round(2)
                  %span.uk-text-small year(s)

      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box.uk-text-center.shadow
          %a.locked-overlay.uk-vertical-align.uk-text-center.white{:href => "#top", "data-uk-smooth-scroll" => "{offset: 40}"}
            .uk-vertical-align-middle
              %i.uk-icon-lock.uk-icon-large
          %div
            %h1.uk-margin-top-remove.stat-big.redacted.uk-text-muted 000
            %h5.uk-text-bold.upcase Type(s) of funding
            %hr
            .uk-button.uk-button-small
              .redacted.uk-text-muted 00000
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box.uk-text-center.shadow
          %a.locked-overlay.uk-vertical-align.uk-text-center.white{:href => "#top", "data-uk-smooth-scroll" => "{offset: 40}"}
            .uk-vertical-align-middle
              %i.uk-icon-lock.uk-icon-large
          %div
            %h1.uk-margin-top-remove.stat-big.redacted.uk-text-muted 000
            %h5.uk-text-bold.upcase Funding stream(s)
            %hr
            .uk-button.uk-button-small
              .redacted.uk-text-muted 00000
            .uk-button.uk-button-small
              .redacted.uk-text-muted 000
            .uk-button.uk-button-small
              .redacted.uk-text-muted 00000 000
      .uk-width-medium-1-3.uk-margin-bottom
        .uk-panel.uk-panel-box.uk-text-center.shadow
          %a.locked-overlay.uk-vertical-align.uk-text-center.white{:href => "#top", "data-uk-smooth-scroll" => "{offset: 40}"}
            .uk-vertical-align-middle
              %i.uk-icon-lock.uk-icon-large
          %div
            %h1.uk-margin-top-remove.stat-big.redacted.uk-text-muted 000
            %h5.uk-text-bold.upcase Approval month(s)
            %hr
            .uk-button.uk-button-small
              .redacted.uk-text-muted 000
            .uk-button.uk-button-small
              .redacted.uk-text-muted 000
            .uk-button.uk-button-small
              .redacted.uk-text-muted 000

#bg-color
  .uk-container.uk-container-center#similar
    .uk-margin-large-top.uk-margin-large-bottom
      %h2.uk-text-center.upcase Similar funders
      .uk-grid.uk-text-center
        - 3.times do |i|
          .uk-width-medium-1-3.uk-margin-bottom
            .uk-panel.uk-panel-box.uk-text-center.shadow{style: 'height: 190px;'}
              %a.locked-overlay.uk-vertical-align.uk-text-center.white{:href => "#top", "data-uk-smooth-scroll" => "{offset: 40}"}
                .uk-vertical-align-middle
                  %i.uk-icon-lock.uk-icon-large
