%tr
  %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
    / BEGIN BODY //
    %table#templateBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;", :width => "100%"}
      %tr
        %td{:align => "center", :style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
          %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
            %tr
              %td.bodyContainer{:style => "padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "100%"}
                  %tbody.mcnTextBlockOuter
                    %tr
                      %td.mcnTextBlockInner{:style => "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :valign => "top"}
                        %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", :width => "600"}
                          %tbody
                            %tr
                              %td.mcnTextContent{:style => "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", :valign => "top"}
                                %p
                                  Hello
                                  = succeed ',' do
                                    = @funder.name
                                %h1{:style => "margin: 0 0 12px -2px;padding: 0;display: block;font-family: Helvetica;font-size: 35px;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: -1px;text-align: left;color: #da314b !important;"}
                                  = @recipient.name
                                  is not eligible

                            %table
                              %tbody
                                %tr
                                  %td
                                    %strong Year of profile
                                  %td= @profile.year
                                %tr
                                  %td
                                    %strong Age (years)
                                  %td
                                    = ((Date.today - @profile.organisation.founded_on).to_f / 356).round(1)
                            %hr
                            %h3 Location
                            %table
                              %tbody
                                %tr
                                  %td
                                    %strong In which countries does your organisation benefit people?
                                  %td
                                    - @profile.countries.each do |c|
                                      %ul
                                        %li= c.name
                                %tr
                                  %td
                                    %strong In which districts does your organisation benefit people?
                                  %td
                                    - @profile.districts.each do |d|
                                      %ul
                                        %li= d.label
                            %hr
                            %h3 Beneficiaries
                            %table
                              %tbody
                                %tr
                                  %td
                                    %strong Who/what does your organisation target?
                                  %td
                                    - @profile.beneficiaries.each do |b|
                                      %ul
                                        %li= b.label
                                %tr
                                  %td
                                    %strong Which gender does your organisation target?
                                  %td= @profile.gender
                                %tr
                                  %td
                                    %strong Min. age you target
                                  %td= @profile.min_age
                                %tr
                                  %td
                                    %strong Max. age you target
                                  %td= @profile.max_age
                            %hr
                            %h3 Team
                            %table
                              %tbody
                                %tr
                                  %td
                                    %strong Number of staff
                                  %td= @profile.staff_count
                                %tr
                                  %td
                                    %strong Number of volunteers
                                  %td= @profile.volunteer_count
                                %tr
                                  %td
                                    %strong Who delivers your work?
                                  %td
                                    - @profile.implementors.each do |i|
                                      %ul
                                        %li= i.label
                            %hr
                            %h3 Work
                            %table
                              %tbody
                                %tr
                                  %td
                                    %strong How do you deliver your work?
                                  %td
                                    - @profile.implementations.each do |i|
                                      %ul
                                        %li= i.label
                                %tr
                                  %td
                                    %strong Do you recieve financial payment for your work?
                                  %td= @profile.does_sell
                                %tr
                                  %td
                                    %strong How many beneficiaries has your work affected?
                                  %td= @profile.beneficiaries_count
                                %tr
                                  %td
                                    %strong Beneficiaries, actual figures?
                                  %td= @profile.beneficiaries_count_actual
                            %hr
                            %h3 Finance
                            %table
                              %tbody
                                %tr
                                  %td
                                    %strong Income in GBP (£)
                                  %td= number_to_currency(@profile.income, unit: '£', precision: 0)
                                %tr
                                  %td
                                    %strong Income, actual figures?
                                  %td= @profile.income_actual
                                %tr
                                  %td
                                    %strong Expenditure in GBP (£)
                                  %td= number_to_currency(@profile.expenditure, unit: '£', precision: 0)
                                %tr
                                  %td
                                    %strong Expenditure, actual figures?
                                  %td= @profile.expenditure_actual
