.tm-section-color-2
  .uk-container.uk-container-center
    .uk-grid.tm-section-colored
      .uk-width-medium-1-1.uk-margin-large.uk-margin-large-top
        %h1.uk-text-center
          Beehive was created by the
          = link_to 'Forward Foundation', 'http://www.forwardfoundation.org.uk/?utm_source=Beehive&utm_medium=Link&utm_campaign=Beehive%2Bto%2BFoundation', target: '_blank', style: "font-style:italic;"
          in response to their experience of the way funding takes place in the non-profit sector.

        .uk-grid
          .uk-width-medium-1-3.uk-margin-top.uk-text-center
            %h2.uk-text-bold.uk-margin-remove For non-profits
            .uk-text-large.uk-text-justify Beehive makes it possible to understand their fit with different funders. Meaning more funding for their great work and less wasted time on fundraising.
          .uk-width-medium-1-3.uk-margin-top.uk-text-center
            %h2.uk-text-bold.uk-margin-remove For funders
            .uk-text-large.uk-text-justify Beehive compares suitable non-profits in a simple, scientific way and allows them to compare themselves to other funders. Meaning better and more efficient philanthropy.
          .uk-width-medium-1-3.uk-margin-top.uk-text-center
            %h2.uk-text-bold.uk-margin-remove For the sector
            .uk-text-large.uk-text-justify Beehive paints a picture of the funding landscape, which can be used to identify funding gaps and improve collaboration between organisations.

.uk-container.uk-container-center
  .uk-container.uk-container-center
    .uk-width-medium-3-4.uk-container-center.uk-margin-large.uk-margin-large-top
      %p.uk-text-large.uk-text-bold Michael, Director of Forward Foundation explains:

      .uk-grid
        .uk-width-small-1-4.uk-float-right.uk-margin-bottom
          .uk-text-center
            = image_tag "about/michael-head.svg", width: '100px'
        .uk-width-small-3-4.uk-float-left
          .uk-panel.uk-panel-box
            %blockquote After we launched as a new funder we soon realised that the funding game is deeply flawed. We've found that the number one challenge faced by the organisations we support is funding. We quickly realised that the funding game is deeply flawed. We found that the number one challenge our partners face is funding. They don’t know who to approach and get frustrated when their time is wasted applying to organisations unlikely to support them. Meanwhile, our fellow funders were telling us that they struggle to cope with the volume of interest in their funding and find it difficult to compare organisations to support. We made it our mission to find a better way of doing things to help both those looking for funding and those distributing it.

      %p.uk-text-large.uk-text-bold
        So, in 2014, the team at
        = link_to 'Forward Foundation', 'http://www.forwardfoundation.org.uk/?utm_source=Beehive&utm_medium=Link&utm_campaign=Beehive%2Bto%2BFoundation', target: '_blank', style: 'color:#000; font-style:italic;'
        HQ put on their thinking caps to reimagine how funding could take place. Suraj, Head of Digital, explains the path they then took:

      .uk-grid
        .uk-width-small-1-4.uk-margin-bottom
          .uk-text-center
            = image_tag "about/suraj-head.svg", width: '100px'
        .uk-width-small-3-4
          .uk-panel.uk-panel-box
            %blockquote We spent time really understanding the problem. We talked to as many non-profits and funders as we could. We created a basic offline solution that responded to the frustrations that we were hearing about funding. The results of our tests were really positive and gave us lots more insight. So we built an online version, named it Beehive and launched in April 2015.

.tm-section-color-2
  .uk-container.uk-container-center
    .uk-grid.uk-margin-large.uk-margin-large-top.tm-section-colored.uk-grid-divider{"data-uk-grid-match" => ""}
      .uk-width-medium-1-4.uk-margin
        %h1 What's with the name?
      .uk-width-medium-3-4
        %p.uk-text-large We love small charities and social enterprises. Rocks of their communities, innovators of social change; they improve the lives of millions every day. Like the humble honeybee, they’re essential to our world. Yet many aren’t able to survive, let alone scale their work. Their hands are tied by lack of funding and high fundraising costs. Critically, their transformational work is often invisible to funders, resulting in insufficient funding.
        %p.uk-text-large Beehive is our attempt to make the work of small non-profits visible to those most likely to support them. Like a beehive, the non-profit sector is a complex, interconnected organism that will only operate successfully if everyone works together. And that’s exactly what Beehive does – it finds the right organisations to work together to achieve great things in the world.

.uk-container.uk-container-center
  .uk-width-medium-1-1.uk-margin-large.uk-margin-large-top
    %h1.uk-text-center Beehive is...
    .uk-grid
      .uk-width-medium-1-5.uk-text-center.uk-margin.uk-margin-top
        .uk-panel.uk-panel-header
          %h3.uk-panel-title.uk-text-bold Accurate
          Beehive provides up to date information, owned by those that it relates to.

      .uk-width-medium-1-5.uk-text-center.uk-margin.uk-margin-top
        .uk-panel.uk-panel-header
          %h3.uk-panel-title.uk-text-bold Impartial
          Beehive makes no judgements about organisations.

      .uk-width-medium-1-5.uk-text-center.uk-margin.uk-margin-top
        .uk-panel.uk-panel-header
          %h3.uk-panel-title.uk-text-bold Transparent
          Beehive encourages information to be shared to improve all our work.

      .uk-width-medium-1-5.uk-text-center.uk-margin.uk-margin-top
        .uk-panel.uk-panel-header
          %h3.uk-panel-title.uk-text-bold Understandable
          Beehive presents information in a clear and understandable way.

      .uk-width-medium-1-5.uk-text-center.uk-margin.uk-margin-top
        .uk-panel.uk-panel-header
          %h3.uk-panel-title.uk-text-bold Useful
          Beehive only exists to produce better results and save time, for individual organisations and the entire sector.

.tm-section-color-2
  .uk-container.uk-container-center
    .uk-grid.uk-margin-large.uk-margin-large-top.tm-section-colored.uk-grid-divider{"data-uk-grid-match" => ""}
      .uk-width-medium-1-4.uk-margin
        %h1 We're lean, not mean
      .uk-width-medium-3-4
        .uk-grid
          .uk-width-small-1-2.uk-text-center.uk-margin.uk-margin-top
            .uk-thumbnail.uk-overlay-toggle.uk-border-circle
              .uk-overlay
                = image_tag "about/michael.jpg", size: "150x150", class: 'uk-border-circle'
                .uk-overlay-area.uk-border-circle
                  .uk-overlay-area-content
                    %h2.uk-margin-bottom-remove
                      = link_to 'Michael', 'mailto:michael@forwardfoundation.org.uk'
                    %p.uk-margin-top-remove Bee keeper
          .uk-width-small-1-2.uk-text-center.uk-margin
            .uk-thumbnail.uk-overlay-toggle.uk-border-circle
              .uk-overlay
                = image_tag "about/suraj.jpg", size: "150x150", class: 'uk-border-circle'
                .uk-overlay-area.uk-border-circle
                  .uk-overlay-area-content
                    %h2.uk-margin-bottom-remove
                      = link_to 'Suraj', 'mailto:suraj@forwardfoundation.org.uk'
                    %p.uk-margin-top-remove Queen Bee, drone and worker!

        %hr.uk-grid-divider
        %h2.uk-margin-top-remove.uk-text-center Advisers
        .uk-grid
          .uk-width-small-1-4.uk-text-center.uk-margin-bottom
            = link_to image_tag("about/neon-adventures.png", size: "150x150"), "http://neonadventures.com/", target: "_blank"
            %p Tech development
          .uk-width-small-1-4.uk-text-center.uk-margin-bottom
            = link_to image_tag("about/forward-partners.png", size: "150x150"), "http://www.forwardpartners.com/", target: "_blank"
            %p Business development
          .uk-width-small-1-4.uk-text-center.uk-margin-bottom
            = link_to image_tag("about/forward-3d.png", size: "150x150"), "http://www.forward3d.com/", target: "_blank"
            %p Digital marketing
          .uk-width-small-1-4.uk-text-center.uk-margin-bottom
            = link_to image_tag("about/data-kind.png", size: "150x150"), "http://www.datakind.org/", target: "_blank"
            %p Data science

.uk-container.uk-container-center
  .uk-width-medium-1-1.uk-margin-large.uk-margin-large-top
    %h1.uk-text-center Roadmap
    %ul.timeline
      %li
        %span.text1 June 2014
        %span.bull
        %span.text Research & development
      %li
        %span.text1 August 2014
        %span.bull
        %span.text Initial prototype
      %li
        %span.text1 October 2014
        %span.bull
        %span.text Second iteration
      %li
        %span.text1 January 2015
        %span.bull
        %span.text Build web app
      %li.todo
        %span.text1 April 2015
        %span.bull
        %span.text Beehive launched
      %li.todo
        %span.text1 June 2015
        %span.bull
        %span.text Recommendation algorithm
      %li.todo
        %span.text1 December 2015
        %span.bull
        %span.text 50 top funders on Beehive

%a.uk-button.uk-button-primary.uk-button-large.uk-width-1-1.uk-vertical-align.uk-animation-fade.uk-active{ href: tour_path, style: 'height: 60px;'}
  .uk-vertical-align-middle{style: 'font-size: 20px;'}
    Find out more
