= content_for :title, 'My reports'

%header.bg-ice
  = render partial: 'shared/nav', locals: { color: 'blue' }

%main.bg-ice.flex
  .maxw1050.mx-auto.mt40.flex.flex-wrap.items-center
    .col2.px15.mb40
      %h1.bold.mb20 Save time and avoid wasted effort
      %p.h4.mb30.night Get a free suitability report that helps your decide where to apply

      -# TODO: style
      = link_to 'Get started', opportunities_path, class: 'btn white bg-rich-blue mb15'

      .fs15.night.mb40
        Support to offer?
        = link_to 'Add opportunity', add_opportunity_path, class: 'bold'

      %blockquote.slate.fs14.lh18
        The option to click on a few additional questions to rule [funders] in or out was a HUGE bonus for me – it saved me trawling through myriad websites to ascertain whether or not our project was eligible for funding.
        .mt10.fs16.heading.bold.night
          Karen,
          = link_to "Erb's Palsy Group", 'http://www.erbspalsygroup.co.uk/', target: '_blank'

    .col2.mb40
      .col1.md.px15
        .bg-white.rounded.shadow
          .bg-ice.border-bottom.border-mist.p20.h5.bold
            Recent reports
          .p20.heading
            - @proposals.each do |proposal|
              -# TODO: style and links to opportunity_path
              .mb10
                = link_to proposal.identifier, report_path(proposal), class: 'bold'
                = proposal.name

            = link_to 'More...', opportunities_path, class: 'bold'

.bg-ice
  = render partial: 'shared/footer', locals: { color: 'slate' }
