= javascript_include_tag 'signup'

= content_for :title, "Find grant funding for #{@tag}"

- content_for :public do
  .background
    .uk-width-large-9-10.uk-container.uk-container-center.uk-animation-fade
      .uk-grid.uk-margin-large.uk-margin-large-top
        .uk-width-large-3-5.uk-width-medium-1-2.uk-margin
          %h1.hero.uk-margin-top
            Find grant funding for
            = @tag
          %h4 Sign up to see more grant funding opportunities and check your eligibility

          .uk-panel.uk-panel-box.ripped.uk-margin-top
            .uk-panel-badge.italics Sample
            %h3.uk-margin-top
              .yellow.redacted.large
                Some fund name
                %span.year.muted
                  %span.redacted Sample funder

            %p= truncate(raw(@fund.description), length: 250, separator: ' ', escape: false)

            - if @fund.open_data
              = period(@fund)

            .uk-panel.uk-panel-box
              %ul.insights
                %li.eligible
                  %a.badge.no-click Eligible
                  You are eligible for funding.
                  .action.yellow See criteria

                - if @fund.open_data && @fund.grant_count
                  %li
                    Awarded
                    .highlight= number_with_delimiter(@fund.grant_count)
                    grants.
                    .action.yellow More info

                - if @fund.open_data? && @fund.award_month_distribution?
                  %li
                    Awarded the most funding in
                    = succeed '.' do
                      %strong= top_award_months(@fund)
                    .action.yellow More info

                  - if @fund.open_data? && @fund.country_distribution?
                    %li
                      Awarded most funding in the
                      = succeed '.' do
                        %strong= top_countries(@fund)
                      .action.yellow More info
            .hidden

          .cta
            Quickly find and understand who is the right grant funder for your project.

        .uk-width-large-2-5.uk-width-medium-1-2
          .form.uk-form.uk-form-stacked.uk-panel.uk-panel-box#panel{style: 'border-radius: 3px; border: 3px solid #dadada;'}
            %h4.uk-text-bold.uk-text-center Create your Beehive account
            = render partial: 'users/form'

    .banner
      .uk-width-large-9-10.uk-container.uk-container-center
        .uk-grid.uk-grid-divider{"data-uk-grid-match" => ""}
          .uk-width-medium-2-3.mobile-margin
            %h4.hero.white.italics “The option to click on a few additional questions to rule [funders] in or out was a HUGE bonus for me – it saved me trawling through myriad websites to ascertain whether or not our project was eligible for funding”
            %h4.hero.white
              Karen,
              = link_to "Erb's Palsy Group", 'http://www.erbspalsygroup.co.uk/', target: '_blank', class: 'yellow'
          .uk-width-medium-1-3.uk-text-center
            %h2.hero.white 9,000+
            %h4.white
              projects matched
              %br with funders
