= content_for :title, 'Pricing'

%main.bg-ice
  %header
    = render partial: 'shared/nav', locals: { color: 'blue' }
    = cell(:breadcrumb, { 'Pricing' => pricing_path }, color: 'blue')

  %section.col2.mx-auto.mb40
    .center.px15
      %h1.h2.m10 Pricing
      %h5.night.mb40 Free suitability reports for a more efficient social sector

    .flex.flex-wrap
      .col1.md.px15.mb30
        .px20.py25.bg-white.shadow.rounded
          .fs18.mb15.slate Public
          %h1.bold.mb5 Free
          .fs14.mb25.slate Default
          %p By default, every report you make is added to a publicly viewable directory that others can browse.

      .col1.md.px15.mb30
        .px20.py25.bg-white.shadow.rounded
          .fs18.mb15.slate Private
          .mb5
            %h1.bold.inline-block £19.99
            .fs14.inline-block.slate + card fees
          .fs14.mb25.slate Per report
          %p You can remove one of your reports from the public directory at any time by making it private for a small fee.

    .center.mb20.px15
      Support to offer? See our
      = link_to 'pricing for opportunity provider', provider_pricing_path, class: 'bold'

.bg-ice
  = render partial: 'shared/footer', locals: { color: 'slate' }