= content_for :title, 'Privacy'

%main.bg-ice
  %header
    = render partial: 'shared/nav', locals: { color: 'blue' }
    = cell(:breadcrumb, { 'Privacy' => privacy_path }, color: 'blue')

  %section.col2.mx-auto.mb40.px15
    .bg-white.rounded.shadow
      .p20.border-bottom.border-mist.rounded-top
        %h1.h3 Privacy
      .p20

        = link_to('#general-information', data: { turbolinks: false }) do
          %h4.pb20#general-information General Information

        %p
          This Privacy Policy applies to the Beehive service
          = surround '(', ')' do
            %span.bold "Beehive"
          provided by the Centre For The Acceleration Of Social Technology
          = precede '(' do
            %span.bold "CAST", "we"
          or
          = succeed ').' do
            %span.bold "us"

        = link_to('#information-gathering-and-usage', data: { turbolinks: false }) do
          %h3.py20#information-gathering-and-usage Information Gathering and Usage

        %p.mb20
          We collect the following types of information from users of our website
          = succeed ':' do
            = surround '(', ')' do
              %span.bold "Users"

        %ul.list.pl30
          %li.mb5 Information input by Users as part of the process of registration to use our website;
          %li.mb5 E-mail addresses of Users who communicate with us via e-mail;
          %li.mb5 Information volunteered by Users in the course of use of our website (such as, for example their profile, information about their organisation, survey responses); and
          %li.mb20 Analytics and tracking data about Users site usage.

        %p.mb20 When you register for Beehive we ask for information including your name, email address, organisation name, billing address, and payment information (Members who sign up for the free account are not required to enter any payment details). Once you have registered for Beehive you may also submit additional information relating to your funding activities or requirements, your other activities or objectives, or those of your organisation, and other relevant information.

        %p.mb20 Unless we obtain your permission, information that is identifiable as relating to you (i.e. it has not been edited to make it anonymous) is not shared with or sold to other organizations for commercial purposes, except in connection with the operation of the Beehive service (including matching users with other users, providing insights into the activities of Users and related research and publications), or under the following circumstances:

        %ul.list.pl30
          %li.mb5 If it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.
          %li If we transfer information about you if Beehive is acquired by or merged with another organisation, other than an organisation established by us and controlled by us. In this event, Beehive will notify you before information about you is transferred and becomes subject to a different privacy policy.

        = link_to('#your-rights', data: { turbolinks: false }) do
          %h4.py20#your-rights Your rights

        %p.mb20
          You have the right to delete your account (unless we need to keep details for auditing purposes). You also have the right to access the information we hold on you - this can be done by emailing
          = succeed '.' do
            = mail_to('support@beehivegiving.org')

        %p.mb20 The data we hold on you will be removed from our systems after a reasonable period following from your last interaction with the service, unless we need to keep the information for legal or auditing purposes.

        %p Beehive uses automated decision making to determine your eligibility and suitability for the funds we hold information on, but the ultimate decision on whether you receive funding continues to be made by the grant-makers themselves through their own processes.

        = link_to('#cookies', data: { turbolinks: false }) do
          %h4.py20#cookies Cookies

        %p
          We use cookies to give you the best experience on our website. In addition to strictly neccesary cookies, third party cookies may track your use of Beehive. If you continue without changing your settings (below), we'll assume that you are happy to receive all cookies.
          = link_to 'More about cookies', 'https://cookiesandyou.com/', target: '_blank'

.bg-ice
  = render partial: 'shared/footer', locals: { color: 'slate' }