.card
  %a{href: funder_path(funder), alt: funder.name}
    .thumbnail
      .funder{class: funder.slug}
  .details
    .content
      %h4.uk-text-bold
        Your recommendation
        %small.muted Beta
      %table.uk-table.uk-table-condensed
        %thead
          %tr
            %th Decision factor
            %th Match
        %tbody
          %tr
            %td
              Eligibility
            %td
              - if @recipient.load_recommendation(funder).eligibility
                - if @recipient.eligible?(funder)
                  %strong= link_to 'Eligible', recipient_eligibility_path(funder), class: 'excellent'
                - else
                  %strong= link_to 'Ineligible', recipient_eligibility_path(funder), class: 'very-poor'
              - else
                = link_to 'Check', recipient_eligibility_path(funder), class: 'uk-text-bold primary'
          - unless @recipient.recommended_funder?(funder) || @recipient.eligible?(funder)
            %tr
              %td.muted{colspan: 2}
                %a{href: '#why-hidden', class: 'uk-text-bold', onclick: '$.UIkit.modal("#why-hidden").show();'} Upgrade to see more
          %tr
            %td Organisation type
            %td= render_recommendation(funder, 'org_type_score', 2)
          %tr
            %td Beneficiaries
            %td= render_recommendation(funder, 'beneficiary_score')
          %tr
            %td Location
            %td= render_recommendation(funder, 'location_score', 2)
          %tr
            %td Activities
            %td.muted Coming soon
          %tr
            %td Outcomes
            %td.muted Coming soon
          %tr
            %td Type of funding
            %td.muted Coming soon
          - unless @recipient.transferred?
            %tr
              %td Funding amount
              %td= render_recommendation(funder, 'grant_amount_recommendation')
            %tr
              %td Funding duration
              %td= render_recommendation(funder, 'grant_duration_recommendation')

    - unless %w[eligibility update_eligibility apply].include?(params[:action])
      .card-cta
        .content.center
          = funder_card_cta_button_copy(@recipient, funder)
        - unless params[:controller] == 'funders' && params[:action] == 'show'
          .content.center
            = link_to 'More info', funder_path(funder)
