- params[:funding_navbar] = true
.subnav{"data-uk-sticky" => ""}
  .uk-container.uk-container-center
    %ul.nav{ class: current_user.role == 'Funder' ? 'funder' : 'recipient' }
      %a{href: recommended_funds_path}
        %li.first{ class: ('active' if current_page?(recommended_funds_path)) }
          Recommended
          .highlight
      %span &middot;

      %a{ href: eligible_funds_path }
        %li{ class: ('active' if current_page?(eligible_funds_path)) }
          Eligible
          - if @recipient.eligible_funds.any?
            = surround '(', ')' do
              = @recipient.eligible_funds.count
          .highlight
      %span &middot;

      %a{ href: ineligible_funds_path }
        %li{ class: ('active' if current_page?(ineligible_funds_path)) }
          Ineligible
          - if @recipient.ineligible_funds.any?
            = surround '(', ')' do
              = @recipient.ineligible_funds.count
          .highlight
      %span &middot;

      %a{href: all_funds_path}
        %li.last{ class: ('active' if current_page?(all_funds_path)) }
          All
          .highlight

      - if params[:tag]
        %span &rsaquo;
        %a{href: tag_path(@tag)}
          %li.last.active
            = @tag.name
            .highlight
