- params[:funding_navbar] = true
.subnav{"data-uk-sticky" => ""}
  .uk-container.uk-container-center
    %ul.nav{ class: current_user.role == 'Funder' ? 'funder' : 'recipient' }
      %a{href: recommended_funds_path}
        %li.first{ class: ('active' if current_page?(recommended_funds_path)) }
          Recommended
          .highlight
      %span &middot;

      %a{ href: eligible_funds_path }
        %li{ class: ('active' if current_page?(eligible_funds_path)) }
          Eligible
          - unless @proposal.eligible_funds.empty?
            = surround '(', ')' do
              = @proposal.eligible_funds.count
          .highlight
      %span &middot;

      %a{ href: ineligible_funds_path }
        %li{ class: ('active' if current_page?(ineligible_funds_path)) }
          Ineligible
          - unless @proposal.ineligible_funds.empty?
            = surround '(', ')' do
              = @proposal.ineligible_funds.count
          .highlight
      %span &middot;

      %a{href: all_funds_path}
        %li.last{ class: ('active' if current_page?(all_funds_path)) }
          All
          .highlight

      - if params[:tag]
        %span &rsaquo;
        -# TODO: refactor
        %a{href: tag_path(@tag.parameterize)}
          %li.last.active
            = @tag
            .highlight
