- params[:funders_navbar] = true
.subnav{"data-uk-sticky" => ""}
  .uk-container.uk-container-center
    %ul.nav{ class: current_user.role == 'Funder' ? 'funder' : 'recipient' }
      -# %a{href: recommended_funders_path, "data-uk-tooltip" => "{pos:'bottom'}", :title => "Funders Beehive thinks would be suitable for you."}
      %a{href: recommended_funders_path}
        %li.first{ class: ('active' if current_page?(recommended_funders_path)) }
          Recommended
          .highlight
      %span &middot;

      %a{href: eligible_funders_path}
        %li{ class: ('active' if current_page?(eligible_funders_path)) }
          Eligible
          - if @recipient.get_funders_by_eligibility('Eligible').count > 0
            = surround '(', ')' do
              = @recipient.get_funders_by_eligibility('Eligible').count
          .highlight
      %span &middot;

      %a{href: ineligible_funders_path}
        %li{ class: ('active' if current_page?(ineligible_funders_path)) }
          Ineligible
          - if @recipient.get_funders_by_eligibility('Ineligible').count > 0
            = surround '(', ')' do
              = @recipient.get_funders_by_eligibility('Ineligible').count
          .highlight
      %span &middot;

      %a{href: all_funders_path}
        %li.last{ class: ('active' if current_page?(all_funders_path)) }
          All
          .highlight

      - if params[:tag]
        %span &rsaquo;
        %a{href: tag_path(@tag)}
          %li.last.active
            = @tag.name
            .highlight
