.uk-grid
  .uk-width-medium-1-3
    .card
      %a{href: funder_path(funder), alt: funder.name}
        .thumbnail
          .funder{class: funder.slug}
      .details
        -# Score:
        -# = @recipient.load_recommendation(funder).score
        -# | Total:
        -# = @recipient.load_recommendation(funder).total_recommendation
        .content
          %h4.uk-text-bold
            Your recommendation
            %small.muted Beta
          %table.uk-table.uk-table-condensed
            %thead
              %tr
                %th Decision factor
                %th Match
            %tbody
              %tr
                %td
                  Organisation type
                  -# %i.uk-icon.uk-icon-question-circle.muted{"data-uk-tooltip" => "{pos:'top'}", :title => "Recipients profiles coming soon."}
                %td
                  = score_to_match_copy(@recipient.load_recommendation(funder).org_type_score, 2)
              %tr
                %td
                  Beneficiaries
                  -# %i.uk-icon.uk-icon-question-circle.muted{"data-uk-tooltip" => "{pos:'top'}", :title => "Recipients profiles coming soon."}
                %td
                  = score_to_match_copy(@recipient.load_recommendation(funder).beneficiary_score)
              %tr
                %td
                  Location
                  -# %i.uk-icon.uk-icon-question-circle.muted{"data-uk-tooltip" => "{pos:'top'}", :title => "Recipients profiles coming soon."}
                %td
                  = score_to_match_copy(@recipient.load_recommendation(funder).location_score, 2)
              %tr
                %td
                  Activity
                  -# %i.uk-icon.uk-icon-question-circle.muted{"data-uk-tooltip" => "{pos:'top'}", :title => "Recipients profiles coming soon."}
                %td.muted Coming soon
              %tr
                %td
                  Outcomes
                  -# %i.uk-icon.uk-icon-question-circle.muted{"data-uk-tooltip" => "{pos:'top'}", :title => "Recipients profiles coming soon."}
                %td.muted Coming soon
              %tr
                %td
                  Type of funding
                  -# %i.uk-icon.uk-icon-question-circle.muted{"data-uk-tooltip" => "{pos:'top'}", :title => "Recipients profiles coming soon."}
                %td.muted Coming soon
              - unless @recipient.transferred?
                %tr
                  %td
                    Funding amount
                    -# %i.uk-icon.uk-icon-question-circle.muted{"data-uk-tooltip" => "{pos:'top'}", :title => "Recipients profiles coming soon."}
                  %td
                    = score_to_match_copy(@recipient.load_recommendation(funder).funding_amount_score)
                %tr
                  %td
                    Funding duration
                    -# %i.uk-icon.uk-icon-question-circle.muted{"data-uk-tooltip" => "{pos:'top'}", :title => "Recipients profiles coming soon."}
                  %td
                    = score_to_match_copy(@recipient.load_recommendation(funder).funding_duration_score)

        .content.center
          = funder_card_cta_button_copy(@recipient, funder)
        .content.center
          = link_to 'More info', funder_path(funder)

  .uk-width-medium-2-3
    %h3.uk-margin-top
      = link_to funder.name, funder_path(funder), class: 'yellow'
      %span.year.muted
        in
        = funder.current_attribute.year

    = render partial: 'recipients/funders/insights', locals: {funder: funder}

    - if funder.tag_list.present?
      .uk-margin-top
        - if @recipient.recommended_funder?(funder)
          = raw funder.tags.order(:name).map { |t| link_to t, tag_path(t.slug), class: 'uk-button uk-button-small uk-button-primary invert uk-margin-small-bottom' }.join(' ')
        - else
          .uk-margin-small-bottom
            %a{href: '#why-hidden', class: 'uk-text-bold', onclick: '$.UIkit.modal("#why-hidden").show();'} Upgrade to see funding themes (coming soon)
          = raw funder.tags.order(:name).map { |t| link_to scramble_name(t.name), '#why-hidden', class: 'uk-button uk-button-small uk-button-primary invert uk-margin-small-bottom redacted', onclick: '$.UIkit.modal("#why-hidden").show();' }.join(' ')
