-# Update tracking START
:javascript
  mixpanel.track("View Funders Index Page");
  mixpanel.identify('#{current_user.id}');
  mixpanel.people.set({
    'Funder Unlocks': '#{@recipient.recipient_funder_accesses_count}',
  });

- if @recipient.recipient_funder_accesses.any?
  :javascript
    mixpanel.people.set({
      'Last Unlocked Funder': '#{Funder.find(@recipient.recipient_funder_accesses.last.funder_id).name}',
      'Last Funder Eligibility': '#{@recipient.eligible?(Funder.find(@recipient.recipient_funder_accesses.last.funder_id))}'
    });

:javascript
  var google_conversion_id = 958190855;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "RAlQCI7Qp18Qh6rzyAM";
  var google_remarketing_only = false;
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/958190855/?label=RAlQCI7Qp18Qh6rzyAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
-# Update tracking END

= render partial: 'recipients/funders/subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 All funders
  %h4 You are seeing all of the funders currently on Beehive.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    - @funders.each_with_index do |funder, i|
      -# refactor
      - if @recipient.is_subscribed?
        = render partial: 'recipients/funders/summary', locals: { funder: funder }
      - else
        - if i > 5
          = render partial: 'recipients/funders/summary_redacted', locals: { funder: funder }
        - else
          = render partial: 'recipients/funders/summary', locals: { funder: funder }
      - if i == 5
        %hr.thick
        -# .cta.wide
        -#   Add a project to improve your matches.
        -#   .uk-button.uk-button-large.uk-button-primary.invert Add a project
      - elsif i == @funders.count-1
        .cta.wide
          More funders coming soon. Drop us an
          = link_to 'email', 'mailto:support@beehivegiving.org'
          if you'd like to see any in particular.
      - else
        %hr.thick
