= content_for :title, 'Eligible funds'

:javascript
  mixpanel.track("View Eligible Funds Page");
  mixpanel.identify('#{current_user.id}');

= render partial: 'recipients/funders/subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Eligible funds
  %h4 You are seeing funds which you are eligible to apply for.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    - if @funds.count == 0
      .cta.wide
        You don't have any eligible funds.
        = link_to 'Find a fund', recommended_funds_path, class: 'uk-button uk-button-large uk-button-primary invert'

    - @funds.each_with_index do |fund, i|
      = render partial: 'recipients/funders/summary', locals: { fund: fund }
      - unless i == @funds.count-1
        %hr.thick
