= content_for :title, 'Ineligible funds'

:javascript
  mixpanel.track("View Ineligible Funds Page");
  mixpanel.identify('#{current_user.id}');

= render partial: 'recipients/funders/subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Ineligible funds
  %h4 You are seeing funds that you are not able to apply for.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    - if @funds.count == 0
      .cta.wide
        Awesome, you're not ineligible for any funds!
        = link_to 'Find a fund', recommended_funds_path, class: 'uk-button uk-button-large uk-button-primary invert'

    - @funds.each_with_index do |fund, i|
      = render partial: 'recipients/funders/summary', locals: { fund: fund }
      - unless i == @funds.count-1
        %hr.thick
