= stylesheet_link_tag 'overrides/morris_overrides'
= javascript_include_tag 'raphael'
= javascript_include_tag 'morris'
= javascript_include_tag "//www.google.com/jsapi", "chartkick"

-# Update tracking START
:javascript
  mixpanel.track("View Funders Index Page");
  mixpanel.identify('#{current_user.id}');
  mixpanel.people.set({
    'Funder Unlocks': '#{@recipient.recipient_funder_accesses_count}',
  });

- if @recipient.recipient_funder_accesses.any?
  :javascript
    mixpanel.people.set({
      'Last Unlocked Funder': '#{Funder.find(@recipient.recipient_funder_accesses.last.funder_id).name}',
      'Last Funder Eligibility': '#{@recipient.eligible?(Funder.find(@recipient.recipient_funder_accesses.last.funder_id))}'
    });

:javascript
  var google_conversion_id = 958190855;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "RAlQCI7Qp18Qh6rzyAM";
  var google_remarketing_only = false;
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/958190855/?label=RAlQCI7Qp18Qh6rzyAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
-# Update tracking END

= render partial: 'recipients/funders/subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Recommended funders
  %h4 You are seeing funders that Beehive thinks would be suitable for you.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade

    - @funders.each_with_index do |funder, i|
      .uk-grid
        .uk-width-medium-1-3
          .card
            %a{href: recipient_comparison_path(funder), alt: funder.name}
              .thumbnail
                .funder{class: funder.slug}
            .details
              .content.center
                = funder_card_cta_button_copy(@recipient, funder)
              .content.center
                = link_to 'More info', recipient_comparison_path(funder)

        .uk-width-medium-2-3
          %h3.uk-margin-top
            = link_to funder.name, recipient_comparison_path(funder), class: 'yellow'
            %span.year.muted
              in
              = funder.current_attribute.year
          %ul.insights

            %li.eligible
              %a.badge{href: eligible_funders_path} Eligible
              You are eligible for funding.
              %a.action See criteria

            %li.ineligible
              %a.badge{href: ineligible_funders_path} Ineligible
              You are not eligible for funding.
              %a.action Find out why

            %li
              Awarded funding in
              = succeed '.' do
                %span.bold April, August, and October

            %li
              - if false
                You are not eligible for funding.
              - else
                .action.redacted.muted Some dummy text.

              - if false
                %a.action Find out why
              - else
                .action.redacted.yellow Fund

      - if i == 2
        .cta.wide
          Add a project to improve your matches.
          .uk-button.uk-button-large.uk-button-primary.invert Add a project
      - elsif i == @funders.count-1
      - else
        %hr.thick

-# Is this needed, and when would it show (logout, then login without complete profile?)
- if current_user_should_render_welcome_modal?
  = render partial: 'recipients/modals/welcome'
