= content_for :title, 'Recommended funds'

:javascript
  mixpanel.track("View Recommended Funds Page");
  mixpanel.identify('#{current_user.id}');
  mixpanel.people.set({
    'Fund Unlocks': '#{@recipient.funds_checked}',
  });

= render partial: 'recipients/funders/subnav'

.uk-container.uk-container-center.uk-margin-large
  .uk-grid
    .uk-width-medium-2-3
      %h2
        Recommended funds
        %span.uk-text-small.muted Beta
      %h4 You are seeing funds that Beehive thinks would be suitable for you.

    -# TODO: refactor
    -# - if @proposal
    -#   .uk-width-medium-1-3.uk-text-right.uk-margin-top
    -#     .muted Recommendations for
    -#     %a{href: edit_recipient_proposal_path(@recipient, @proposal)}= @proposal.title.truncate(44)

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade

    = render partial: 'eligibilities/legacy_notice'

    - @funds.each_with_index do |fund, i|
      = render partial: 'recipients/funders/summary', locals: { fund: fund }
      - if i == @funds.count-1
        .cta.wide
          Want to see more?
          %a.uk-button.uk-button-large.uk-button-primary.invert{ href: all_funds_path } All funds
      - else
        %hr.thick

:javascript
  var google_conversion_id = 937505505;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "LPzOCKWprGMQ4eWEvwM";
  var google_remarketing_only = false;
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/937505505/?label=LPzOCKWprGMQ4eWEvwM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
