= stylesheet_link_tag 'overrides/morris_overrides'
= javascript_include_tag 'raphael'
= javascript_include_tag 'morris'
= javascript_include_tag "//www.google.com/jsapi", "chartkick"

-# Update tracking START
:javascript
  mixpanel.track("View Funders Index Page");
  mixpanel.identify('#{current_user.id}');
  mixpanel.people.set({
    'Funder Unlocks': '#{@recipient.recipient_funder_accesses_count}',
  });

- if @recipient.recipient_funder_accesses.any?
  :javascript
    mixpanel.people.set({
      'Last Unlocked Funder': '#{Funder.find(@recipient.recipient_funder_accesses.last.funder_id).name}',
      'Last Funder Eligibility': '#{@recipient.eligible?(Funder.find(@recipient.recipient_funder_accesses.last.funder_id))}'
    });

:javascript
  var google_conversion_id = 958190855;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "RAlQCI7Qp18Qh6rzyAM";
  var google_remarketing_only = false;
%script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/958190855/?label=RAlQCI7Qp18Qh6rzyAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
-# Update tracking END

= render partial: 'recipients/funders/subnav'

= render partial: 'recipients/funders/header', mode: {}

.base.background
  .uk-container.uk-container-center
    .uk-margin-top.uk-margin-large-bottom.uk-animation-fade
      .uk-grid{'data-uk-grid-match' => "{target:'.funder-card'}"}
        -# Is this needed, and when would it show (logout, then login without complete profile?)
        - if current_user_should_render_welcome_modal?
          = render partial: 'funders/static_background'

        - else
          - @funders.each_with_index do |funder, i|

            .uk-width-medium-1-2.uk-width-large-1-3.uk-margin-bottom

              .uk-panel.funder-card
                = render partial: 'recipients/funders/badge', locals: { funder: funder }

                .uk-panel-teaser.uk-text-center.uk-vertical-align{style: 'height: 140px;'}
                  .uk-vertical-align-middle
                    .funder{class: "#{funder.slug}", alt: "#{funder.name} Logo"}

                .cta
                  .uk-grid.uk-grid-small
                    .uk-width-1-2
                      = funder_card_cta_button_copy(@recipient, funder)
                    .uk-width-1-2
                      = link_to 'More info', recipient_comparison_path(funder), class: 'uk-width-1-1 uk-button uk-button-large uk-button-primary invert'

                .year
                  In
                  = funder.current_attribute.year

                .grants-stats
                  .main-stat{ style: ('margin: 42px 0;' unless funder.current_attribute.application_count)}
                    No. of Grants
                    %span.help-icon{'data-uk-tooltip' => "{pos:'top'}", :title => "The total number of grants awarded by #{funder.name} in #{funder.current_attribute.year}."}
                      %i.uk-icon.uk-icon-question-circle
                    %h1= funder.current_attribute.grant_count
                  - if funder.current_attribute.application_count
                    .uk-grid.uk-grid-small
                      .uk-width-1-2
                        .sub-stat
                          No. of Applications
                          %span.help-icon{'data-uk-tooltip' => "{pos:'top'}", :title => "The total number of applications received by #{funder.name} in #{funder.current_attribute.year}."}
                            %i.uk-icon.uk-icon-question-circle
                          %h1= funder.current_attribute.application_count
                      .uk-width-1-2
                        .sub-stat
                          \% Successful
                          %span.help-icon{'data-uk-tooltip' => "{pos:'top'}", :title => "The percentage of applications that received funding from #{funder.name} in #{funder.current_attribute.year}."}
                            %i.uk-icon.uk-icon-question-circle
                          %h1<
                            = percentage(funder.current_attribute.application_count, funder.current_attribute.grant_count)
                            %small> %

                %hr
                .grants-stats
                  .main-stat
                    Funding Size
                    %span.help-icon{'data-uk-tooltip' => "{pos:'top'}", :title => "How the funding given by #{funder.name} in #{funder.current_attribute.year} is distributed."}
                      %i.uk-icon.uk-icon-question-circle
                    %div{ id: "funding-size-#{i}", data: {data: funding_frequency_distribution(funder, funder.current_attribute.year).to_json} }

                %hr
                .grants-stats
                  .main-stat{style: 'margin-bottom: 10px;'}
                    Countries Funded
                    %span.help-icon{'data-uk-tooltip' => "{pos:'top'}", :title => "The countries where #{funder.name} has given funding in #{funder.current_attribute.year}."}
                      %i.uk-icon.uk-icon-question-circle
                  .uk-margin-small-bottom= geo_chart funder.countries_by_year.group(:name).count, height: '200px', library: {colorAxis: {colors: ['#f5e8c4', '#fadc89', '#f5b918']}, tooltip: {textStyle: {color: '#353f45'}}}

  .dark.background
    .uk-container.uk-container-center
      .cta.wide
        Add a project to improve the accuracy of your matches.
        .uk-button.uk-button-large.uk-button-primary Improve your results

-# Is this needed, and when would it show (logout, then login without complete profile?)
- if current_user_should_render_welcome_modal?
  = render partial: 'recipients/modals/welcome'
