= content_for :title, 'Funding Proposal'

= simple_form_for [@recipient, @proposal], url: edit_recipient_proposal_path(@recipient, @proposal), method: :patch, remote: true, authenticity_token: true do |f|
  .uk-form.uk-form-stacked.form

    %h3 Summary
    .uk-width-medium-1-2.uk-margin-top
      .label Proposal title
      = f.input :title, input_html: { class: 'large uk-width-medium-1-1' }
      = f.error :title, class: 'error-message'

    .uk-width-medium-1-1.uk-margin-top
      .label Describe your proposed work in a sentence or two
      = f.input :tagline, as: :text, input_html: { class: 'uk-width-1-1' }
      = f.error :tagline, class: 'error-message'
      .muted.uk-float-right#char_count

    %hr.thick

    = render partial: 'proposals/states/fields', locals: { f: f, country: @recipient_country }
