%h3 Requirements
.uk-width-medium-1-2.uk-margin-top
  .label What type of support are you seeking?
  = f.input :type_of_support, collection: Proposal::TYPE_OF_SUPPORT, input_html: { class: 'large uk-width-medium-1-1' }
  = f.error :type_of_support, class: 'error-message'

.uk-width-medium-1-2.uk-margin-top
  .label How long do you require funding for?
  = f.input :funding_duration, as: :month, input_html: { class: 'numeric integer large', min: 0 }, placeholder: 'e.g. 12'
  = f.error :funding_duration, class: 'error-message'

.uk-width-medium-1-2.uk-margin-top
  .label What type of funding are you seeking?
  = f.input :funding_type, collection: Proposal::FUNDING_TYPE, input_html: { class: 'large uk-width-medium-1-1' }
  = f.error :funding_type, class: 'error-message'

.uk-width-medium-1-1.uk-margin-top
  .label How much funding are you seeking?
  .uk-grid
    .uk-width-medium-1-2
      = f.input :total_costs, as: :currency, input_html: { class: 'numeric integer uk-width-1-1 large', min: 0 }, placeholder: 'e.g. 1234'
      = f.error :total_costs, class: 'error-message'
    .uk-display-block.boolean-padding
      = f.input :total_costs_estimated, as: :boolean, inline_label: 'Are these estimated figures?'

.uk-width-medium-1-1.uk-margin-top
  .label Is this all of the funding required for the proposed work?
  = f.input :all_funding_required, as: :radio_buttons
  = f.error :all_funding_required, class: 'error-message'

%hr.thick

%h3 Beneficiaries
.label Who or what will your proposed work affect?
.uk-width-1-1.uk-margin-top
  .label People
  = f.input :affect_people, as: :radio_buttons, input_html: { class: 'large uk-width-1-1' }
  = f.error :affect_people, class: 'error-message error-margin', id: 'people-error'

  #people-options{class: ('uk-hidden' unless @proposal.affect_people?)}

    .label.question-padding Which genders?
    .question-padding
      = f.input :gender, collection: Profile::GENDERS, input_html: { class: 'large uk-width-1-1' }
      = f.error :gender, class: 'error-message'

    %hr

    .label.question-padding Which age groups?
    #age_groups
      = f.association :age_groups, as: :check_boxes, label_method: :label, value_method: :id
      -# = f.error :age_groups, class: 'error-message error-margin'

    %hr

    .label.question-padding Which types of people?
    %small.question-padding Select as many as applicable.
    #people= f.association :beneficiaries, as: :check_boxes, collection: Beneficiary.order(:sort).where(category: 'People'), label_method: :label, value_method: :id

.uk-width-1-1.uk-margin-top
  .label Other groups (not people)
  .question-padding
    = f.input :affect_other, as: :radio_buttons, input_html: { class: 'large uk-width-1-1' }
    = f.error :affect_other, class: 'error-message error-margin', id: 'other-error'

  #other-options{class: ('uk-hidden' unless @proposal.affect_other?)}
    %small.question-padding Select as many as applicable.
    #other= f.association :beneficiaries, as: :check_boxes, collection: Beneficiary.order(:sort).where(category: 'Other'), label_method: :label, value_method: :id
    .uk-width-medium-1-2
      .checkbox.wide= f.input :beneficiaries_other_required, as: :boolean, inline_label: 'Other', input_html: { class: 'toggle-other' }
      .other.uk-hidden
        = f.input :beneficiaries_other, input_html: { class: 'large other uk-width-medium-1-1' }
        = f.error :beneficiaries_other, class: 'error-message other'

%hr.thick

%h3 Location
.label Where will your proposed work affect?
= f.input :affect_geo, as: :radio_buttons, collection: Proposal::AFFECT_GEO
= f.error :affect_geo, class: 'error-message'

.uk-width-1-1.uk-margin-top.districts{class: ('uk-hidden' unless @proposal.affect_geo == 0 || @proposal.affect_geo == 1)}
  .label Please select all of the areas your proposed work will affect
  .muted You can expand each region to select individual areas, or check the box next to a regions name to select all the areas.
  %a{"data-uk-tooltip" => "{pos:'top'}", :title => "Please select 'Across many countries' and pick the countries you affect."}
    %small Affect regions in a different country?
  = f.association :districts do
    = f.select :district_ids, country.districts.order(:region, :district).map { |d| [d.district, d.id, {"data-section": "#{d.region.blank? ? 'Other' : d.region}"}] }, {}, {multiple: true, class: ('field_with_errors' unless f.object.errors.any? && f.object.districts.present?)}
  - if f.object.errors.any? && (f.object.affect_geo == 0 || f.object.affect_geo == 1)
    .field_with_errors
    = f.error :districts, class: 'error-message'

.uk-width-1-1.uk-margin-top.country{class: ('uk-hidden' unless @proposal.affect_geo == 2), style: 'padding: 0 10px;'}
  Your work will affect all of
  = succeed '.' do
    %strong= country.name
  .muted
    To change country plese select
    %strong 'Across many countries'
    above.

.uk-width-1-1.uk-margin-top.countries{class: ('uk-hidden' unless @proposal.affect_geo == 3)}
  .label Please select the countries your proposed work will affect
  = f.association :countries, collection: Country.order('priority DESC'), input_html: { class: 'country_field chosen-select large' }
  = f.error :countries, class: 'error-message'

- unless @proposal.state == 'registered' || @proposal.state == 'complete'
  = f.button :button, 'Next', class: 'uk-button uk-button-primary uk-margin-top uk-button-large uk-width-medium-1-2 uk-float-right', data: {disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> That wasn't so bad...</span>"}
