= content_for :title, 'Improve Proposal'

= simple_form_for [@recipient, @proposal], url: edit_recipient_proposal_path(@recipient, @proposal), method: :patch, remote: true, authenticity_token: true do |f|
  .uk-form.uk-form-stacked.form

    - if @recipient.incomplete_first_proposal?
      .cta.red
        %strong Important:
        Please fully complete your funding proposal to continue.

    %h3 Summary
    .uk-width-medium-1-2.uk-margin-top
      .label Proposal title
      = f.input :title, input_html: { class: 'large uk-width-medium-1-1' }
      = f.error :title, class: 'error-message'

    .uk-width-medium-1-1.uk-margin-top
      .label Describe your proposed work in a sentence or two
      = f.input :tagline, as: :text, input_html: { class: 'uk-width-1-1' }
      = f.error :tagline, class: 'error-message'
      .muted.uk-float-right#char_count

    %hr.thick

    %h3 Activities
    .uk-width-medium-1-1.uk-margin-top
      .label What will you proposed work provide?
      = f.association :implementations, as: :check_boxes, label_method: :label, value_method: :id
      .uk-width-medium-1-2
        .checkbox.wide= f.input :implementations_other_required, as: :boolean, inline_label: 'Other', input_html: { class: 'toggle-other' }
        .other.uk-hidden
          = f.input :implementations_other, input_html: { class: 'large other uk-width-medium-1-1' }
          = f.error :implementations_other, class: 'error-message other'

    %hr.thick

    %h3 Outcomes
    .uk-width-medium-1-1.uk-margin-top
      .label List 1-5 outcomes for your proposed work below:
      = f.input :outcome1, input_html: { class: 'large uk-width-1-1 uk-margin-small-top' }
      = f.error :outcome1, class: 'error-message'

      = f.input :outcome2, input_html: { class: 'large uk-width-1-1 uk-margin-small-top' }
      = f.input :outcome3, input_html: { class: 'large uk-width-1-1 uk-margin-small-top' }
      = f.input :outcome4, input_html: { class: 'large uk-width-1-1 uk-margin-small-top' }
      = f.input :outcome5, input_html: { class: 'large uk-width-1-1 uk-margin-small-top' }

  %hr.thick

  .uk-width-medium-1-1
    - if session[:return_to]
      = f.button :button, 'Update and check eligibility', class: 'uk-button uk-button-primary uk-margin-top uk-button-large uk-width-medium-1-2 uk-float-right', data: {disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> That wasn't so bad...</span>"}
    - else
      = f.button :button, 'Update and review recommendations', class: 'uk-button uk-button-primary uk-margin-top uk-button-large uk-width-medium-1-2 uk-float-right', data: {disable_with: "<i style='color: #fff;' class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i><span style='color: #fff;'> That wasn't so bad...</span>"}
