.uk-grid

  .uk-width-1-1
    .uk-grid

      .uk-width-medium-1-3.uk-float-right
        - if has_profile_for_year?
          .uk-panel.uk-panel-box.uk-panel-box-primary
            .uk-width-1-1.uk-margin
              .uk-text-bold Your beneficiary target
              .uk-text-primary
                - @recipient.profiles.where('year = ?', (Date.today.year - @years_ago)).first.beneficiaries.each do |b|
                  .uk-button.uk-button-primary.uk-button-mini= b.label

      .uk-width-medium-2-3.uk-float-left.uk-margin
        %h2.chart-responsive-margin.uk-margin-bottom-remove Beneficiaries
        = render partial: 'recipients/charts/beneficiaries/beneficiary_target'

  .uk-width-1-1
    .uk-grid

      .uk-width-medium-1-3.uk-float-right
        - if has_profile_for_year?
          .uk-panel.uk-panel-box.uk-panel-box-primary
            :javascript
              window.beneficiary_min_age = '#{@recipient.profiles.where('year = ?', (Date.today.year - @years_ago)).first.min_age}';
              window.beneficiary_max_age = '#{@recipient.profiles.where('year = ?', (Date.today.year - @years_ago)).first.max_age}';
            .uk-width-1-1
              .uk-text-bold Your beneficiaries age
              .uk-text-primary
                Max:
                %span.uk-text-bold= @recipient.profiles.where('year = ?', (Date.today.year - @years_ago)).first.max_age
                years old
              .uk-text-primary
                Min:
                %span.uk-text-bold= @recipient.profiles.where('year = ?', (Date.today.year - @years_ago)).first.min_age
                years old

      .uk-width-medium-2-3.uk-float-left.uk-margin
        = render partial: 'recipients/charts/beneficiaries/beneficiary_age'

  .uk-width-1-1
    .uk-grid

      .uk-width-medium-1-3.uk-float-right
        - if has_profile_for_year?
          .uk-panel.uk-panel-box.uk-panel-box-primary
            .uk-width-1-1
              .uk-text-bold Your beneficiaries gender
              .uk-text-primary
                %span.uk-text-bold= @recipient.profiles.where('year = ?', (Date.today.year - @years_ago)).first.gender
                in
                = Date.today.year - @years_ago

      .uk-width-medium-2-3.uk-float-left.uk-margin
        = render partial: 'recipients/charts/beneficiaries/beneficiary_gender'
