.uk-grid

  .uk-width-medium-1-3.uk-float-right
    .uk-panel.uk-panel-box.uk-panel-box-primary
      .uk-width-1-1.uk-margin
        .uk-text-bold Mission
        = @funder.mission
      - if @funder.attributes.where("year = ?", (Date.today.year - @years_ago)).any?
        .uk-text-bold Number of grants
        #success_rate{ data: {grants: @funder.attributes.where('year = ?', (Date.today.year - @years_ago)).all.to_json }}
      - if Grant.where('funder_id = ?', @funder).uniq.pluck(:grant_type).any?
        .uk-width-1-1.uk-margin
          .uk-text-bold Type of funding
          - Grant.where('funder_id = ?', @funder).uniq.pluck(:grant_type).each do |type|
            .uk-button.uk-button-primary.uk-button-mini= type
      - if Grant.where('funder_id = ?', @funder).uniq.pluck(:funding_stream).any?
        .uk-width-1-1.uk-margin
          .uk-text-bold
            Funding streams
            %span.uk-text-small
              = surround '(', ')' do
                = link_to 'All', params.merge(:funding_stream => nil)
          - Grant.where('funder_id = ?', @funder).uniq.pluck(:funding_stream).each do |stream|
            = link_to stream, params.merge(:funding_stream => stream), class: 'uk-button uk-button-primary uk-button-mini'
      - if Grant.where('funder_id = ?', @funder).any?
        .uk-width-1-1.uk-margin
          .uk-text-bold Funding frequency
          %span.uk-text-primary.uk-text-bold= funding_frequency(@funder, @years_ago, @funding_stream)
          times, in
          = Date.today.year - @years_ago
      - if @funder.attributes.where("year = ?", (Date.today.year - @years_ago)).any?
        .uk-width-1-1.uk-margin
          .uk-text-bold Application process
          = application_process

      - if @funder.attributes.where("year = ?", (Date.today.year - @years_ago)).any?
        .uk-width-1-1.uk-margin
          .uk-text-bold Application support
          - @funder.attributes.where("year = ?", (Date.today.year - @years_ago)).first.application_supports.each do |s|
            .uk-button.uk-button-primary.uk-button-mini= s.label
      - if @funder.attributes.where("year = ?", (Date.today.year - @years_ago)).any?
        .uk-width-1-1.uk-margin
          .uk-text-bold Level of non-financial support
          .uk-button.uk-button-primary.uk-button-mini
            = @funder.attributes.where("year = ?", (Date.today.year - @years_ago)).first.non_financial_support
      - if @funder.attributes.where("year = ?", (Date.today.year - @years_ago)).any?
        .uk-width-1-1.uk-margin
          .uk-text-bold Reporting requirements
          - @funder.attributes.where("year = ?", (Date.today.year - @years_ago)).first.reporting_requirements.each do |s|
            .uk-button.uk-button-primary.uk-button-mini= s.label

  .uk-width-medium-2-3.uk-float-left.uk-margin
    %h2.chart-responsive-margin.uk-margin-bottom-remove Overview
    = render partial: 'recipients/charts/overview/grants_size'

  .uk-width-medium-2-3.uk-float-left
    = render partial: 'recipients/charts/overview/grants_duration'
