:javascript
  mixpanel.track_links("#get-recommendations", "Click 'Get recommendations' modal");

#welcome.uk-modal
  .uk-modal-dialog
    .uk-modal-header
      %h2
        Welcome to Beehive
        = succeed '!' do
          = current_user.first_name.titleize
    %p Beehive helps you quickly and easily understand which funders to approach, in three simple steps...
    %ol
      %li Get recommendations of appropriate funders
      %li Explore their profiles
      %li Check to see if you are eligibile
    %p Beehive is currently in public testing, which means you can only unlock 3 funders  at the moment.
    %p Later in the year we'll be adding a premium service where you can access an unlimited number of funders. But in the mean time we're super keen to learn from you, our awesome users.
    %p
      So if you run into any problems or want us to change something, then please get in touch be email on
      = succeed '.' do
        = link_to 'support@beehivegiving.org', 'mailto:support@beehivegiving.org'
    %p
      = image_tag "about/suraj.jpg", size: "50x50", class: 'uk-border-circle'
      Suraj, Creator of Beehive
    %p P.S. The recommendation feature is still pretty new, so please forgive any poor recommendations you recieve.
    .uk-modal-footer.uk-text-center
      = link_to 'Get recommendations', new_recipient_profile_path(@recipient), :"data-no-turbolink" => true, class: 'uk-button uk-button-primary uk-width-medium-2-5 js-record-welcome-close #get-recommendations'
      %a.uk-text-muted.uk-modal-close.js-record-welcome-close Let me explore

:javascript
  var modal = $.UIkit.modal("#welcome");
  modal.options.bgclose = false;
  modal.options.keyboard = false;
  modal.show();
