.border.rounded.mb20{class: (context == 'muted' ? 'border-lightest-gray' : 'border-blue')}
  .px10.py10{class: (context == 'muted' ? 'bg-lightest-gray' : 'bg-blue')}
    .fs15.lh20.caps.bold{class: (context == 'muted' ? 'gray' : 'white')}
      Current Proposal
  .px10.py15
    - unless @proposal.complete?
      .mb20.caps
        %span.fs35
          = cell(:proposal_indicators, @proposal).call(:percent_complete)
        %span
          complete
    .mb20.caps
      %span.fs35
        = cell(:proposal_indicators, @proposal).call(:funds_checked)
      %span
        funds checked
    - if @proposal.complete?
      .fs20.mb10
        = @proposal.title.truncate_words(3)
    .fs15.mb20
      = number_to_currency(@proposal.total_costs, unit: "£", precision: 0)
      &middot;
      - if @proposal.funding_type == 1
        Revenue
      - elsif @proposal.funding_type == 2
        Capital
    .flex
      .col-one-third.fs12
        Eligibility
      .col-two-thirds.fs12
        = cell(:proposal_indicators, @proposal).call(:eligibility_progress_bar)

    %hr.my15
      .fs14.center
        = link_to 'Edit', edit_proposal_path(@proposal), class: 'blue'
        %span.slate &middot;
        = link_to 'Change', proposals_path, class: 'blue'
        %span.slate &middot;
        = link_to 'New', new_proposal_path, class: 'blue'
