= simple_form_for @proposal do |f|
  .mb20= f.input :title

  .mb20= f.input :tagline, as: :text, input_html: { rows: 2 }

  .mb20= f.input :funding_type, collection: FUNDING_TYPES

  .mb15= f.input :total_costs, as: :currency

  %blockquote.border-mist.mb20.ml15= f.input :all_funding_required, as: :radio_buttons

  .mb20= f.input :funding_duration, input_html: { max: 120 }

  .mb20= f.association :themes, collection: Theme.all, input_html: { multiple: true, class: 'choices-select' }

  .mb15= f.input :affect_geo, collection: Proposal::AFFECT_GEO

  .mb20
    %blockquote.border-mist= f.association :districts, collection: @country.districts, input_html: { multiple: true, class: 'choices-select' }

    %blockquote.border-mist= f.association :countries, priority: ['GB'], include_blank: true, input_html: { multiple: true, class: 'choices-select' }

    %blockquote.border-mist.recipient_country
      .heading.mb5
        Your work will affect all of
        %strong= @country.name
      .fs14 To change country select ‘Across many countries’ above.

  .mb30= f.input :private, as: :radio_buttons, collection: [['Yes', false], ['No', true]]

  = f.submit (submit_text || 'Save'), class: 'btn-wide bg-rich-blue white shadow', data: { disable_with: 'Checking suitability...' }