= content_for :title, 'Edit Proposal'

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Proposals' => proposals_path, @proposal.id => edit_proposal_path(@proposal)

%main
  .maxw1080.mx-auto.px20
    %section.md.mb20.px20
      %h1.mb20 Dashboard
    = render partial: 'accounts/subnav'

  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      %h2.mb20 Edit Proposal
      %h4 Update details of your funding request.

    %section.perc75.md.mb80.px20

      - if @proposal.basics? || @proposal.invalid? || @proposal.incomplete?
        .individual_notice.mb20.p15.heading.red.rounded.border.border-pale-red.bg-light-red
          %strong IMPORTANT:
          You need to complete this proposal before continuing to use the site.

      = render partial: 'form', locals: { submit_text: 'Update proposal' }