= content_for :title, 'Your funding proposals'

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Proposals' => proposals_path

:javascript
  mixpanel.track('View Proposals Index Page');

%main
  .maxw1080.mx-auto.px20

    %section.md.mb20.px20
      %h1.light.mb20 Dashboard

    %nav.md.mb40.px20
      %ul.border-bottom.border-lightest-gray.fs14
        %li.mr20.py10.inline-block
          = link_to 'Account', account_path, class: 'blue'
        %li.mr20.py10.inline-block
          = link_to 'Organisation', edit_signup_recipient_path, class: 'blue'
        %li.mr20.py10.inline-block.border-bottom-thick.border-blue
          = link_to 'Proposals', '#', class: 'blue'

    %section.md.mb20.px20.flex-wrap.flex.dashboard-columns
      .mb20.border.rounded.border-lightest-gray.bg-lightest-gray.p15.shadow
        %h2.fs22
          Your proposals

      - @proposals.each do |proposal|
        .mb20.border.rounded.border-lightest-gray.proposal
          = render partial: 'proposals/card', locals: { proposal: proposal }
          = cell(:new_proposal_links, proposal).call(:dashboard)
      
      .mb20.flex.items-center
        - if @proposal.complete?
          - if @recipient.subscribed?
            = link_to "+ New proposal", new_proposal_path, class: 'button-wide bg-green white fs16 caps'
          - else
            Upgrade to add new proposals
            = link_to '+ New proposal', account_upgrade_path(@recipient), class: 'button-wide bg-green white fs16 caps'
        - else
          = link_to '+ New proposal', edit_signup_proposal_path(@proposal), class: 'button-wide bg-green white fs16 caps'
