= content_for :title, 'Your funding proposals'

:javascript
  mixpanel.track('View Proposals Index Page');

.uk-container.uk-container-center.uk-margin-large{:style => 'min-height: 480px;'}
  %h2 Your funding proposals
  %h4 Update and manage your funding proposals

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    .uk-grid
      - @proposals.each do |proposal|
        .uk-width-medium-1-2
          .card
            .details
              .content
                %h3= proposal.title
                %h4= proposal.tagline
                .muted
                  Seeking
                  %strong= number_to_currency(proposal.total_costs, unit: '£', precision: 0)
                  over
                  %strong= proposal.funding_duration
                  months
              %hr
              .content.uk-grid.uk-grid-small{style: 'margin-top: 15px;'}
                .uk-width-1-2
                  = link_to 'Update proposal', edit_recipient_proposal_path(current_user.organisation, proposal), class: 'uk-button uk-button-primary uk-button-large uk-width-1-1', style: 'font-size: 14px;'
                .uk-width-1-2
                  = link_to 'Matched funders', recommended_funders_path, class: 'invert uk-button uk-button-primary uk-button-large uk-width-1-1', style: 'font-size: 14px;'
