= content_for :title, 'Your funding proposals'

:javascript
  mixpanel.track('View Proposals Index Page');

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Proposals' => proposals_path

%main
  .maxw1080.mx-auto.px20

    %section.md.mb20.px20
      %h1.mb20 Dashboard

    = render partial: 'accounts/subnav'

    %section.md.mb20.px20.flex-wrap.flex.dashboard-columns
      .mb20.md.border.rounded.border-silver.bg-silver.shadow
        .p15
          %h2.fs22
            Your proposals

      - @proposals.each do |proposal|
        .mb20.md
          .border.rounded.border-silver.proposal
            = render partial: 'proposals/card', locals: { proposal: proposal, context: 'proposal' }

      .mb20.md
        - if @proposal.complete?
          - if @recipient.subscribed?
            = link_to "+ New proposal", new_proposal_path, class: 'button-wide bg-green white fs16 caps'
          - else
            %div.mb30
              Upgrade to add new proposals
            = link_to '+ New proposal', account_upgrade_path(@recipient), class: 'button-wide bg-green white fs16 caps'
        - else
          = link_to '+ New proposal', edit_signup_proposal_path(@proposal), class: 'button-wide bg-green white fs16 caps'
