= content_for :title, 'Set a password'

%main.bg-rich-blue.flex.justify-center.items-center.py40
  %section.col1.px15
    .center.mb20
      = link_to(root_path) do
        = image_tag('logo.svg', width: 102)

    .bg-white.rounded.shadow
      .bg-ice.p20.border-bottom.border-mist.rounded-top
        %h1.h4.bold Set a password
      .p20
        = simple_form_for @form, url: sign_in_set_path do  |f|
          .mb20
            .label Email
            .slate= obscure_email(@user.email)
          .mb20
            = f.input :password, autofocus: true, required: true
          .mb20= f.input :password_confirmation

          - if @user.marketing_consent.nil?
            .mb20.field_with_errors
              = f.input :marketing_consent, as: :radio_buttons
              .error= @user.errors[:marketing_consent][0]

          - if @user.terms_agreed != true
            .mb20.field_with_errors
              = f.input :terms_agreed, as: :boolean, label: false, inline_label: "I accept the #{link_to('terms of service', terms_path, target: '_blank')} and #{link_to('privacy policy', privacy_path, target: '_blank')}".html_safe
              .error= @user.errors[:terms_agreed][0]

          = f.submit 'Continue', class: 'btn-wide bg-rich-blue white shadow', data: { disable_with: 'Setting...' }

.bg-rich-blue
  = render partial: 'shared/footer', locals: { color: 'white' }