= simple_form_for [@organisation, @grant] do |f|
  = f.input :funding_stream, collection: Grant::FUNDING_STREAM
  = f.input :grant_type, collection: Grant::GRANT_TYPE
  = f.input :attention_how, collection: Grant::ATTENTION_HOW
  = f.input :amount_awarded
  = f.input :amount_applied
  = f.input :installments
  = f.input :approved_on
  = f.input :start_on
  = f.input :end_on
  = f.input :attention_on
  = f.input :applied_on
  -# = f.association :beneficiaries, label_method: :label, value_method: :id
  = f.submit
