.uk-form.uk-form-stacked.uk-panel.uk-panel-box
  %fieldset
  = simple_form_for [@funder, @grant] do |f|
    .uk-width-medium-1-1.uk-margin-top
      .uk-form-controls{style: 'position: relative;'}
        = f.association :funder, error: false, type: 'text', input_html: { class: 'uk-width-1-1 chosen-select' }, include_blank: 'Select a funder...', label_method: :name, value_method: :id
    .uk-width-medium-1-1.uk-margin-top
      .uk-form-controls{style: 'position: relative;'}
        = f.association :organisation, error: false, type: 'text', input_html: { class: 'uk-width-1-1 chosen-select' }, include_blank: 'Select a recipient...', label_method: :name, value_method: :id
    = f.input :funding_stream, collection: Grant::FUNDING_STREAM
    = f.input :grant_type, collection: Grant::GRANT_TYPE
    = f.input :attention_how, collection: Grant::ATTENTION_HOW
    = f.input :amount_awarded
    = f.input :amount_applied
    = f.input :installments
    = f.input :approved_on
    = f.input :start_on
    = f.input :end_on
    = f.input :attention_on
    = f.input :applied_on
    = f.submit
