= content_for :title, 'Opportunities'

%main.bg-ice

  %header.bg-rich-blue
    = render partial: 'shared/nav', locals: { color: 'white' }
    = cell(:breadcrumb, 'Opportunities' => opportunities_path)

    .maxw1050.mx-auto.px15
      %h1.h2.white.mb10 Pick the opportunity you’d like a suitability report for…
      .white.pb40 Avoid wasted effort with a suitability report that helps you decide where to apply

  .maxw1050.mx-auto
    .my40.flex.flex-wrap
      .col1.md.px15

        .border.border-mist.rounded.mb30
          .p20.border-bottom.border-mist
            %h5.bold.slate Funding or support to offer?
          .p20.night
            .mb20 Do you provide grants or offer non- financial support to social sector organisations? Add your latest opportunities here, and we’ll get them listed on the website.
            -# TODO: link
            %a.btn.btn-wide.blue.bg-light-blue.border-pale-blue{ target: '_blank'} Add opportunity

        .border.border-mist.rounded.mb30
          .p20.border-bottom.border-mist
            %h5.bold.slate Don’t see the opportunities you’d like a report for?
          .p20.night
            .mb20 Let us know which opportunity you’d like to check and we’ll create you a custom report for a small fee.
            -# TODO: link
            %a.btn.btn-wide.blue.bg-light-blue.border-pale-blue{ target: '_blank'} Request custom report

      .col2.px15.grid
        - @opportunities.each do |opp|
          .bg-white.rounded.shadow.flex.flex-column.justify-between
            %div
              .pb5.rounded-top{ style: "background: #{primary_color(opp)};" }
              .p20
                .caps.grey.mb5= opp.class

                %h3.mb10= opp.name
                -# TODO: opportunities count
                %p= pluralize(opp.funds.active.size, 'opportunity')

            .px20.pb20.flex
              = link_to 'Get report', new_recipient_path(opp), class: 'btn btn-wide white bg-blue'
              .mr10
              = link_to 'Recent reports', new_recipient_path(opp), class: 'btn btn-wide blue bg-light-blue border-pale-blue truncate'

    -# TODO: pagination

.bg-ice
  = render partial: 'shared/footer', locals: { color: 'slate' }
