= content_for :title, "Eligibility for #{@fund.name}, #{@fund.funder.name}"

:javascript
  mixpanel.track("View Eligibility Page", {"Fund": "#{@fund.name}"});
  mixpanel.identify('#{@current_user.id}');
  mixpanel.people.set({
    'Fund Unlocks': '#{@recipient.funds_checked}',
  });

- if params[:mixpanel_eligibility_tracking]
  :javascript
    mixpanel.people.set({
      'Last Unlocked Fund': '#{@fund.name}',
      'Last Fund Eligibility': '#{@proposal.eligibility_as_text(@fund.slug)}',
      'Eligibility #{@fund.slug}': '#{@proposal.eligibility_as_text(@fund.slug)}'
    });

= render partial: 'funds/fund_subnav', locals: { fund: @fund }

.uk-container.uk-container-center.uk-margin-large.uk-margin-large-top
  .uk-grid
    .uk-width-medium-1-3
      = render partial: 'funds/card', locals: { fund: @fund }

    .uk-width-medium-2-3
      = cell(:eligibility_banner, @proposal, fund: @fund)

      %h3.uk-margin-top Eligibility questions
      %p.uk-margin-bottom
        The following questions have been set by
        = succeed ',' do
          = @fund.funder.name
        complete them to see if you are eligible for their
        = link_to @fund.short_name, proposal_fund_path(@proposal, @fund)
        fund.

      %hr.thick

      %h3.uk-text-bold Are you seeking funding for?
      .uk-form.uk-form-stacked
        = simple_form_for :check, url: eligibility_proposal_fund_path(@proposal, @fund), method: :patch do |f|

          - if ensure_restriction_category('Organisation')
            %h4.uk-text-bold About your organisation
            = f.simple_fields_for @recipient do |r|
              = r.simple_fields_for :eligibilities, @org_criteria do |e|
                - if ensure_fund_restriction(e)
                  .uk-width-1-1.recipient_restriction.recipient_restriction
                    .restrictions
                      .restriction
                        %label.capitalize
                          = succeed '?' do
                            = raw(render_restriction_details(e))
                      .answer
                        = e.hidden_field :restriction_id
                        = e.input :eligible, as: :radio_buttons, collection: render_restriction_radio_buttons(e)
                        - if e.object.eligible == false && @recipient.valid? && @proposal.checked_fund?(@fund)
                          .restriction-error-message You did not meet this criteria
                      %hr

          - if ensure_restriction_category('Proposal')
            %h4.uk-text-bold About your funding proposal
            = f.simple_fields_for @proposal do |proposal|
              = proposal.simple_fields_for :eligibilities, @proposal_criteria do |e|
                - if ensure_fund_restriction(e)
                  .uk-width-1-1.proposal_restriction
                    .restrictions
                      .restriction
                        %label.capitalize
                          = succeed '?' do
                            = raw(render_restriction_details(e))
                      .answer
                        = e.hidden_field :restriction_id
                        = e.input :eligible, as: :radio_buttons, collection: render_restriction_radio_buttons(e)
                        - if e.object.eligible == false && @recipient.valid? && @proposal.checked_fund?(@fund)
                          .restriction-error-message You did not meet this criteria
                      %hr

          - if @proposal.checked_fund?(@fund)
            = f.button :button, 'Update', class: 'uk-button uk-button-primary uk-button-large uk-width-large-2-5 uk-float-right', data: {disable_with: "<i class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i> Updating..."}
          - else
            = f.button :button, check_eligibility_button_copy, class: 'uk-button uk-button-primary uk-button-large uk-width-large-2-5 uk-float-right', data: {disable_with: "<i class='uk-icon uk-icon-circle-o-notch uk-icon-spin'></i> Checking..."}, "data-uk-tooltip" => "{pos:'top'}", :title => "This will use one of your free eligibility checks."
