= content_for :title, "Eligibility for #{@fund.title}, #{@fund.subtitle}"

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, (@proposal.title? ? @proposal.title : 'Current proposal').upcase_first => nil,
                      'Funds' => proposal_funds_path(@proposal),
                      @fund.funder.name => nil,
                      @fund.name => proposal_fund_path(@proposal, @fund),
                      'Eligibility' => eligibility_proposal_fund_path(@proposal, @fund)

:javascript
  mixpanel.track("View Eligibility Page", {"Fund": "#{@fund.name}"});
  mixpanel.identify('#{@current_user.id}');
  mixpanel.people.set({
    'Fund Unlocks': '#{@recipient.funds_checked}',
  });

- if params[:mixpanel_eligibility_tracking]
  :javascript
    mixpanel.people.set({
      'Last Unlocked Fund': '#{@fund.name}',
      'Last Fund Eligibility': '#{@proposal.eligibility_as_text(@fund.slug)}',
      'Eligibility #{@fund.slug}': '#{@proposal.eligibility_as_text(@fund.slug)}'
    });


%main
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      = render partial: 'funds/card', locals: { fund: @fund }
      = render partial: 'proposals/card', locals: { context: 'muted' }

    %section.perc75.md.mb80.px20
      %section
        %h1.light
          Eligibility for
          = @fund.title
        .fs15.lh20.mid-gray= @fund.subtitle

      %hr.my40

      %section
        .mb20
          %h2.light Eligibility

        = render partial: 'funds/eligibility', locals: { return_to: 'eligibility' }
