= content_for :title, 'Funds preview'

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Funds' => public_funds_path

%main.maxw1080.mx-auto.px20.flex.flex-wrap
  %aside.perc25.md.px20.mb40
    .bg-mint.white.px10.py15.rounded-top
      %h3 Check your eligibility and suitability for funds in seconds.
    %a.button-wide.button-bottom.white.bg-olive.caps.shadow{ href: root_path } Sign up

  %section.perc75.md.mb80.px20
    %h1.light.mb30 Funds

    - @funds.each_with_index do |fund, i|
      %article.mb40

        - if i < 3 && params[:page].to_i < 2
          .mb5
            = link_to fund.name, public_fund_path(fund), class: 'blue fs22 lh30'
          .mb5.fs15.lh20.mid-gray
            = fund.funder.name

        - else
          .muted
            .mb5.blue.fs22.lh30.redacted= scramble_name fund.name
            .mb5.fs15.lh20.mid-gray.redacted= scramble_name fund.funder.name

        .mb5.fs15.lh20
          %p
            = raw fund.description_html.truncate_words(24)

      - if i == 2 && params[:page].to_i < 2
        .flex.mb40
          %a.fs14.white.bg-darken-blue.circle.shadow.inline-block.py5.pr14.pl5.truncate{ href: root_path }
            .fs12.bg-green.caps.bold.circle.inline-block.py3.px5 Preview
            Sign in or create a free account to see more

    .center
      = paginate @funds
