= content_for :title, "Preview #{@fund.title}"

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Funds' => public_funds_path, @fund.name => public_fund_path

%main
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      .bg-mint.white.px10.py15.rounded-top
        %h3 Check your eligibility and suitability for funds in seconds.
      %a.button-wide.button-bottom.white.bg-olive.caps.truncate.shadow{ href: root_path } Sign up

    %section.perc75.md.px20.mb40

      %section
        %h1.light= @fund.title
        .fs15.lh20.mid-gray= @fund.subtitle

      %hr.my40

      %section
        .mb20
          %h2.light Summary

        .mb20.markdown
          = raw @fund.description_html

        - if @fund.period_end.present? && @fund.period_end > 3.years.ago
          %small.slate
            = cell(:fund_insight, @fund).call(:data_source)
          .slate.fs15.my10
            = period(@fund)

        - unless @fund.open_call?
          %div.cta Please note this fund does not accept unsolicited applications. Please read the fund guidance for more information.

        %ul.list.pl30
          = cell(:fund_insight, @fund).call(:amount)
          = cell(:fund_insight, @fund).call(:duration)

          - if @fund.open_data && @fund.grant_count
            %li.mb5
              Awarded
              %span.bold= number_with_delimiter(@fund.grant_count)
              = "grant".pluralize(@fund.grant_count) + '.'

          - if @fund.open_data? && @fund.award_month_distribution?
            %li.mb5<
              Awarded the most funding in
              = succeed '.' do
                %strong= top_award_months(@fund)

          - if @fund.open_data? && @fund.country_distribution?
            %li.mb5<
              Awarded most funding in the
              = succeed '.' do
                %strong= top_countries(@fund)

          = cell(:fund_insight, @fund).call(:grant_examples)

      %hr.my40

      %section.muted
        .mb20
          %h2.light Eligibility

        %p.mb40
          The following questions have been set by
          = succeed '.' do
            = @fund.funder.name

        %p.bold.mb20 Are you seeking funding for?

        %h5.mb20 Your organisation

        - @restrictions.select { |i| i[0] == 'Recipient' }.each do |r|
          .mb20.flex.items-center.fs15.lh20
            .blue.nowrap.mr30 Yes &nbsp;&nbsp; No
            = r[1].capitalize

        %h5.mb20 Your proposal

        - @restrictions.select { |i| i[0] == 'Proposal' }.each do |r|
          .mb20.flex.items-center.fs15.lh20
            .blue.nowrap.mr30 Yes &nbsp;&nbsp; No
            = r[1].capitalize

        .bg-silver.rounded.shadow.fs14.p10.mb20
          .bold.caps.mb10 Good to know
          Eligibility checks for location, the amount you are seeking and other factors will been done automatically.

        .button.white.bg-blue.caps.shadow Check eligibility

      %hr.my40

      %section.muted
        .mb40
          %h2.light Apply

        .button.white.bg-blue.caps.shadow.mb40 Application form

        %h5.mb20 Status

        .button.blue.border-blue.caps.mb10 Submitted
        .button.green.border-green.caps.mb10 Successful
        .button.red.border-red.caps.mb10 Declined

  = render partial: 'layouts/sign_up_cta'
