= content_for :title, "Preview #{@fund.title}"

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Funds' => public_funds_path, @fund.name => public_fund_path

%main
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      .bg-mint.white.px10.py15.rounded-top
        %h3 Check your eligibility and suitability for funds in seconds.
      %a.button-wide.button-bottom.white.bg-olive.caps.truncate.shadow{ href: root_path } Sign up

    %section.perc75.md.px20.mb40

      %section
        %h1.light= @fund.title
        .fs15.lh20.mid-gray= @fund.subtitle

        %p.fs15.mt15.lh20
          = cell(:fund_insight, @fund, proposal: @proposal).call(:themes)

      %hr.my40

      %section
        .mb20
          %h2.light Analysis

        .mb20.flex.flex-wrap

          .md.perc33.mb20.pr10
            %h3.caps.fs14.bold 
              1. Eligibility

            .mt20.fs14.lh16
              Check your eligibility against the fund's criteria

            %ul.mt20
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Location
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Grant amount
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Organisation type
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Organisation income
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Additional restrictions

          .md.perc33.px10.mb20.border-left.border-lightest-gray
            %h3.caps.fs14.bold 
              2. Suitability

            .mt20.fs14.lh16
              Check if you're suitable for this fund

            %ul.mt20
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Location
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Grant amount
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Organisation type
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Funding duration
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Funding themes
              %li.mb15.fs14 
                %span.fs16.green 
                  = "\u2714".html_safe
                Fund priorities

          .md.perc33.pl10.mb20.border-left.border-lightest-gray
            %h3.caps.fs14.bold 
              3. Apply

            .mt20.fs14.lh16
              Once you've checked your eligibility and suitability you can apply for the funding.

      %hr.my40

      %section
        .mb20
          %h2.light Summary

        .mb20.markdown
          = raw @fund.description_html

        - if @fund.period_end.present? && @fund.period_end > 3.years.ago
          %small.slate
            = cell(:fund_insight, @fund).call(:data_source)
          .slate.fs15.my10
            = period(@fund)

        - unless @fund.open_call?
          .bg-silver.rounded.shadow.fs18.lh22.p10.mb20
            Please note this fund does not accept unsolicited applications. Please read the fund guidance for more information.

        %ul.list.pl30
          = cell(:fund_insight, @fund).call(:amount)
          = cell(:fund_insight, @fund).call(:duration)
          = cell(:fund_insight, @fund).call(:grant_count)
          = cell(:fund_insight, @fund).call(:award_months)
          = cell(:fund_insight, @fund).call(:countries)
          = cell(:fund_insight, @fund).call(:grant_examples)

      .muted
        = cell(:eligibility, @proposal, fund: @fund).call(:page)

      .muted
        = cell(:suitability, @proposal, fund: @fund).call(:page)

  = render partial: 'layouts/sign_up_cta'
