.card
  .thumbnail
    .funder{ class: fund.funder.slug }
  .details
    .content
      .muted= fund.name
      %h4.uk-text-bold
        Your recommendation
        %small.muted Beta
      %table.uk-table.uk-table-condensed
        %thead
          %tr
            %th Decision factor
            %th Match
        %tbody
          %tr
            %td
              Eligibility
            %td
              %strong
                = fund_card_eligibility_text(fund)

          - unless @proposal.show_fund?(fund)
            %tr
              %td.muted{ colspan: 2 }
                = cell(:coming_soon_link).call(:show, 'Upgrade to see more', 'uk-text-bold')
          %tr
            %td Organisation type
            %td= render_recommendation(fund, 'org_type_score', 2)
          %tr
            %td Beneficiaries
            %td= render_recommendation(fund, 'beneficiary_score', 2)
          %tr
            %td Location
            %td= render_recommendation(fund, 'location_score', 2)

          - unless @recipient.transferred?
            %tr
              %td Funding amount
              %td= render_recommendation(fund, 'grant_amount_recommendation')
            %tr
              %td Funding duration
              %td= render_recommendation(fund, 'grant_duration_recommendation')

    - unless %w[eligibility update_eligibility apply].include?(params[:action])
      .card-cta
        .content.center
          = fund_card_cta_button_copy(fund)
        - unless params[:controller] == 'funds' && params[:action] == 'show'
          .content.center
            = link_to 'More info', fund_path(fund)
