= cell(:eligibility_banner, @proposal, fund: @fund).call(:eligible)

%ul
  - {'Location': 'location', 'Grant amount': 'amount', 'Organisation type': 'org_type', 'Organisation income': 'org_income'}.each do |k, v|
    %li.mb15
      .flex
        %div
          = cell(:fund_indicators, @fund, proposal: @proposal, criteria: v, large: true).call(:tag)
        %div.ml5
          = k
      - if @proposal.ineligible_reasons(@fund.slug).include? v
        .bg-red.rounded.shadow.fs14.p10.mb20.mt10.white
          .bold.caps.mb10 Ineligible
          = cell(:eligibility_banner, @proposal, fund: @fund).call(v.to_sym)

  %li.mb15
    .flex
      %div
        = cell(:fund_indicators, @fund, proposal: @proposal, criteria: 'quiz', large: true).call(:tag)
      %div.ml5
        Quiz

%h4.mb10
  Quiz

.uk-form.uk-form-stacked.uk-clearfix
  = simple_form_for :check, url: eligibility_proposal_fund_path(@proposal, @fund), method: :patch do |f|
    = f.hidden_field :return_to, :value => return_to
    = cell(:eligibility_quiz, @fund, proposal: @proposal, f: f).call(:show)
