
.mb40.border.border-silver.rounded.shadow
  .p20
    .flex.justify-between
      .block
        %h3.mb5= link_to fund.name, proposal_fund_path(@proposal, fund)
        .fs15.night
          by
          = fund.funder.name

      - if fund.featured
        .block
          .btn.fs15.slate.border-silver.disabled Featured

  .p20.border-top.border-silver
    %h6.bold.mb10= cell(:fund_insight, fund, proposal: @proposal).call(:summary)

    .night= raw strip_tags(fund.description_html).truncate_words(30, omission: "... #{link_to 'more', proposal_fund_path(@proposal, fund)}")

    .truncate.mt10= cell(:fund_insight, fund, proposal: @proposal).call(:themes)

  = render(partial: 'status', locals: { fund: fund })
