.mb40.border.border-silver.rounded
  .p20
    .flex.justify-between
      .block
        %h3.mb5= link_to 'Hidden fund', fund_path(fund, @proposal)
        .fs15.night
          by
          %span.grey.redacted= scramble_name fund.funder.name

  .p20.border-top.border-silver
    %h6.bold.mb10= cell(:fund_insight, fund, proposal: @proposal).call(:summary)

    .night= raw redact(fund, :description, trim: 30, omission: "... #{link_to 'more', fund_path(fund, @proposal)}")

    .truncate.mt10= cell(:fund_insight, fund, proposal: @proposal).call(:themes)

  = render(partial: 'status', locals: { fund: fund })
