%article.mb30.flex.flex-wrap{:class => ("p10 border-thick border-blue rounded featured" if fund.featured)}
  .col-two-thirds.pr10.md.mb10
    - if policy(FundContext.new(fund, @proposal)).show?
      .mb5
        = link_to fund.title, proposal_fund_path(@proposal, fund), class: 'blue fs22 lh30 mr5'
        - if fund.featured
          %span.bg-blue.white.fs14.bold.rounded.py3.px5.inline-block
            Featured
      .mb5.fs15.lh20.mid-gray
        = fund.subtitle
      %p.fs14.lh18.mb5.mid-gray.truncate
        = cell(:fund_insight, fund, proposal: @proposal).call(:themes)
      %p.mb5.fs15.lh20
        = raw strip_tags fund.description_html.truncate_words(30)

    - else
      .mb5
        = link_to 'Hidden fund', proposal_fund_path(@proposal, fund), class: 'blue fs22 lh30 italic mr5'

        - if @current_user.subscription_version == 2
          = link_to 'Reveal', reveals_path(fund: fund), method: :post, class: 'bg-blue white fs14 bold rounded py3 px5 inline-block'

      .mb5.fs15.lh20.mid-gray.redacted= scramble_name fund.funder.name
      %p.fs14.lh18.mb5.mid-gray.truncate
        = cell(:fund_insight, fund, proposal: @proposal).call(:themes)
      %p.mb5.fs15.lh20= raw fund.description_redacted.truncate_words(30)

    %p.fs12.lh18.mb5.slate
      = cell(:fund_insight, fund, proposal: @proposal).call(:summary)

  .col-one-third.border-left.pl10.border-lightest-gray.md.mb10.pt20
    = render partial: 'actions', locals: { fund: fund }
