.mb40.border.border-silver.rounded.shadow
  .p20.bg-ice
    %h3.mb5= link_to fund.pretty_name, fund_path(fund, @proposal)
    .fs15.night
      Actual fund identity hidden
      -# TODO: %a • Why?

  .p20.border-top.border-silver
    %h6.bold.mb10= cell(:fund_insight, fund, proposal: @proposal).call(:summary)

    .night= raw redact(fund, :description, trim: 30, omission: "... #{link_to 'more', fund_path(fund, @proposal), class: 'bold'}")

    .truncate.mt12= cell(:fund_insight, fund, proposal: @proposal).call(:themes)

  = render(partial: 'status', locals: { fund: fund })
