%p= raw(fund.description)
- if fund.period_end.present? && fund.period_end > 3.years.ago
  = period(fund)
- else
  = period(fund)
  %span.year.muted (recommendation based on older data)

%ul.insights
  - unless params[:controller] == 'recipients' && %w(eligibility update_eligibility apply).include?(params[:action])
    - unless @proposal.eligibility_for(fund).negative?
      %li{ class: (@proposal.eligible?(fund) ? 'eligible' : 'ineligible')}
        - if @proposal.eligible?(fund)
          %a.badge{ href: eligible_proposal_funds_path(@proposal) } Eligible
          You are eligible for funding.
          %a.action{href: eligibility_proposal_fund_path(@proposal, fund)} See criteria
        - else
          %a.badge{ href: ineligible_proposal_funds_path(@proposal) } Ineligible
          You are ineligible for funding.
          %a.action{href: eligibility_proposal_fund_path(@proposal, fund)} Find out why

  - if @proposal && !@recipient.transferred?
    -# TODO:
    - if @proposal.deprecated_recommendation(fund).grant_amount_recommendation.positive?
      %li
        %strong= number_to_percentage((@proposal.deprecated_recommendation(fund).grant_amount_recommendation * 100), precision: 0)
        of funding was similar to the
        %strong amount
        you're seeking.
    -# TODO:
    - if @proposal.deprecated_recommendation(fund).grant_duration_recommendation.positive?
      %li
        %strong= number_to_percentage((@proposal.deprecated_recommendation(fund).grant_duration_recommendation * 100), precision: 0)
        of funding was similar to the
        %strong duration
        you're seeking.

  - if fund.open_data && fund.grant_count
    %li
      Awarded
      .highlight= number_with_delimiter(fund.grant_count)
      = "grant".pluralize(fund.grant_count) + '.'
      %a.action{href: proposal_fund_path(@proposal, fund, anchor: 'how-was-funding-distributed')} More info

  - if fund.open_data? && fund.award_month_distribution?
    %li
      Awarded the most funding in
      = succeed '.' do
        %strong= top_award_months(fund)
      %a.action{href: proposal_fund_path(@proposal, fund, anchor: 'when-was-funding-awarded')} More info

  - if fund.open_data? && fund.country_distribution?
    %li
      Awarded most funding in the
      = succeed '.' do
        %strong= top_countries(fund)
      %a.action{href: proposal_fund_path(@proposal, fund, anchor: 'where-was-funding-awarded')} More info

  = cell(:fund_insight, fund).call(:grant_examples)
