.pills.mb35
  %h4.bold.mb15 Shortcuts

  = link_to 'All funds', funds_path(@proposal)
  .mb15= link_to 'Revealed', funds_path(@proposal, revealed: true)

  %h6.bold.slate.mb10 Eligibility

  = link_to 'Incomplete', funds_path(@proposal, eligibility: 'to_check'), class: selected('to_check', params)
  = link_to 'Eligible', funds_path(@proposal, eligibility: 'eligible'), class: selected('eligible', params)
  = link_to 'Ineligible', funds_path(@proposal, eligibility: 'ineligible'), class: selected('ineligible', params)

.pills
  %h4.bold.mb15 Categories

  - Theme.includes(:themes).primary.each do |theme|
    .accordion
      %input{ id: theme.slug, type: 'checkbox' }
      %label.heading.bold{ for: theme.slug }= theme.name
      .accordion-content.pills
        = link_to theme.name, theme_path(theme.slug, @proposal)
        - theme.themes.each do |child|
          = link_to child.name, theme_path(child.slug, @proposal)
        %hr.my10.mx5.border-mist
