- params[:funding_navbar] = true
.subnav{ "data-uk-sticky" => "" }
  .uk-container.uk-container-center
    %ul.nav{ class: @current_user.role == 'Funder' ? 'funder' : 'recipient' }
      %a{ href: recommended_proposal_funds_path(@proposal) }
        %li.first{ class: ('active' if current_page?(recommended_proposal_funds_path(@proposal))) }
          Recommended
          .highlight
      %span &middot;

      %a{ href: eligible_proposal_funds_path(@proposal) }
        %li{ class: ('active' if current_page?(eligible_proposal_funds_path(@proposal))) }
          Eligible
          - unless @proposal.eligible_funds.empty?
            = surround '(', ')' do
              = @proposal.eligible_funds.count
          .highlight
      %span &middot;

      %a{ href: ineligible_proposal_funds_path(@proposal) }
        %li{ class: ('active' if current_page?(ineligible_proposal_funds_path(@proposal))) }
          Ineligible
          - unless @proposal.ineligible_funds.empty?
            = surround '(', ')' do
              = @proposal.ineligible_funds.count
          .highlight
      %span &middot;

      %a{ href: all_proposal_funds_path(@proposal) }
        %li.last{ class: ('active' if current_page?(all_proposal_funds_path(@proposal))) }
          All
          .highlight

      - if params[:tag]
        %span &rsaquo;
        -# TODO: refactor
        %a{ href: tag_proposal_funds_path(@proposal, @tag.parameterize) }
          %li.last.active
            = @tag
            .highlight
