%ul.flex.flex-wrap
  - {'Location': 'location', 'Grant amount': 'amount', 'Organisation type': 'org_type', 'Funding duration': 'duration', 'Theme': 'theme', 'Additional questions': 'quiz'}.each do |k, v|
    %li.col-one-third.mb15.px5
      %span.green.fs20
        = "\u2714".html_safe
      = k
      .fs14.mt5.lh16.p5.border-green.border.rounded
        - if @proposal.suitability[@fund.slug][v]
          = score_to_match_copy(@proposal.suitability[@fund.slug][v]&.fetch("score", 0))

= @proposal.suitability[@fund.slug]

- if @fund.priorities.present?
  %h4.mb10
    Additional questions

  .uk-form.uk-form-stacked.uk-clearfix
    = simple_form_for :check, url: eligibility_proposal_fund_path(@proposal, @fund), method: :patch do |f|

      - if @proposal.recipient.incomplete_first_proposal?
      
        .bg-silver.rounded.shadow.fs18.lh22.p10.mb20
          .bold.caps.mb10.fs15 Incomplete proposal
          To complete eligibility for this fund you need to add some more information to your proposal.
          .mt10
            = f.button :button, "Complete proposal",
                                class: 'button white bg-blue caps shadow'
        .muted

          = cell(:quiz, @fund, quiz_type: 'Priority', proposal: @proposal, f: f).call(:show_public)

      - else
          
        = f.hidden_field :return_to, :value => return_to
        = cell(:quiz, @fund, quiz_type: 'Priority', proposal: @proposal, f: f).call(:show)
