.locked-fund
  .uk-grid
    .uk-width-medium-1-3
      .card
        .details
          .content
            %h4.uk-text-bold
              Analysis
              .beta.muted Beta
            %table.uk-table.uk-table-condensed
              %thead
                %tr
                  %th Decision factor
                  %th Match
              %tbody
                %tr
                  %td
                    Eligibility
                  %td
                    %strong
                      = redacted_fund_card_eligibility_text(fund)
                %tr
                  %td Organisation
                  %td= scramble_recommendations
                %tr
                  %td Beneficiaries
                  %td= scramble_recommendations
                %tr
                  %td Location
                  %td= scramble_recommendations

                - unless @recipient.transferred?
                  %tr
                    %td Funding amount
                    %td= scramble_recommendations
                  %tr
                    %td Funding duration
                    %td= scramble_recommendations

          .content.center
            = link_to 'Show fund', account_upgrade_path(@recipient), class: 'uk-width-1-1 uk-button uk-button-primary uk-button-large'

    .uk-width-medium-2-3
      %h3.uk-margin-top
        = link_to scramble_name(fund.name), account_upgrade_path(@recipient), class: 'yellow redacted large'
        %span.year.muted
          %span.redacted= scramble_name(fund.funder.name)

      %p.redacted.muted= scramble_name(raw(fund.description))

      %ul.insights
        - unless @proposal.eligibility_for(fund).negative?
          %li{ class: (@proposal.eligible?(fund) ? 'eligible' : 'ineligible')}
            - if @proposal.eligible?(fund)
              %a.badge{ href: eligible_proposal_funds_path(@proposal) } Eligible
              You are eligible for funding.
              %a.action{ href: account_upgrade_path(@recipient) } See criteria
            - else
              %a.badge{ href: ineligible_proposal_funds_path(@proposal) } Ineligible
              You are ineligible for funding.
              %a.action{ href: account_upgrade_path(@recipient) } Find out why

        - (3..5).to_a.sample.times do |i|
          %li
            .action.redacted.muted= redacted_insights
            - if i < 2
              .action.redacted.yellow= redacted_actions

      - if fund.tags?
        .uk-margin-top= render_redacted_tags(fund)
