.locked-fund
  .uk-grid
    .uk-width-medium-1-3
      .card
        .details
          .content
            %h4.uk-text-bold
              Analysis
              .beta.muted Beta
            %table.uk-table.uk-table-condensed
              %thead
                %tr
                  %th Decision factor
                  %th Match
              %tbody
                %tr
                  %td Eligibility
                  %td= scramble_recommendations
                %tr
                  %td Organisation type
                  %td= scramble_recommendations
                %tr
                  %td Beneficiaries
                  %td= scramble_recommendations
                %tr
                  %td Location
                  %td= scramble_recommendations

                - unless @recipient.transferred?
                  %tr
                    %td Funding amount
                    %td= scramble_recommendations
                  %tr
                    %td Funding duration
                    %td= scramble_recommendations

          .content.center
            = link_to 'Show fund', account_upgrade_path(@recipient), class: 'uk-width-1-1 uk-button uk-button-primary uk-button-large'

    .uk-width-medium-2-3
      %h3.uk-margin-top
        -# TODO: refactor
        - if @current_user.feedbacks.count.positive?
          = link_to (@tag.present? ? scramble_name(fund.name) : fund.name), proposal_fund_path(@proposal, fund), class: (@tag.present? ? 'yellow redacted large': 'yellow')
        - else
          = link_to (@tag.present? ? scramble_name(fund.name) : fund.name), account_upgrade_path(@recipient), class: (@tag.present? ? 'yellow redacted large': 'yellow')
        %span.year.muted
          %span.redacted= scramble_name(fund.funder.name)

      %p.redacted.muted= scramble_name(raw(fund.description))

      %ul.insights
        - 5.times do |i|
          %li
            .action.redacted.muted= redacted_insights
            - if i < 2
              .action.redacted.yellow= redacted_actions

      - if fund.tags?
        .uk-margin-top= render_redacted_tags(fund)
