= content_for :title, 'All funds'

:javascript
  mixpanel.track('View All Funds Page');

= render partial: 'subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 All funds
  %h4 You are seeing all of the funds currently on Beehive.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade

    - @funds.each_with_index do |fund, i|

      = render partial: 'summary', locals: { fund: fund }

      - if i == 5
        .cta.wide
          Go unlimited with Beehive Pro and see all funders with complete profiles.
          = cell(:coming_soon_link).call(:show, 'Upgrade (coming soon)', 'uk-button uk-button-large uk-button-primary invert')

      - if i == @funds.count - 1
        .cta.wide
          More funds coming soon. Drop us an
          = link_to 'email', 'mailto:support@beehivegiving.org'
          if you'd like to see any in particular.
      - else
        - unless i == 5
          %hr.thick

= render partial: 'why_hidden'
