= content_for :title, 'Eligible funds'

:javascript
  mixpanel.track('View Eligible Funds Page');
  mixpanel.identify("#{@current_user.id}");

= render partial: 'subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Eligible funds
  %h4
    You are seeing funds which
    - if @proposal.complete?
      #proposal-title
        .text= @proposal.title
    - else
      your
      #proposal-title
        .text current proposal
    is eligible for.

    = cell(:new_proposal_links, @proposal)

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    = render partial: 'eligibilities/legacy_notice'

    - if @funds.empty?
      .cta.wide
        You don't have any eligible funds.
        = link_to 'Find a fund', recommended_proposal_funds_path(@proposal), class: 'uk-button uk-button-large uk-button-primary invert'

    - @funds.each_with_index do |fund, i|

      - if @proposal.show_fund?(fund)
        = render partial: 'summary', locals: { fund: fund }
      - else
        = render partial: 'summary_redacted', locals: { fund: fund }

      - unless i == @funds.count - 1
        %hr.thick
