= content_for :title, 'Funds'

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, (@proposal.title? ? @proposal.title : 'Current proposal').upcase_first => nil,'Funds' => proposal_funds_path(@proposal)

:javascript
  mixpanel.track('View Funds Page');
  mixpanel.identify("#{@current_user.id}");
  mixpanel.people.set({
    'Fund Unlocks': "#{@recipient.funds_checked}",
  });

  ga("send", "event", "Eligibility", "Eligible", "#{@proposal.eligible_funds.count}");
  ga("send", "event", "Eligibility", "Ineligible", "#{@proposal.ineligible_funds.count}");

/ Google Code for View recommended funds
:javascript
  /* <![CDATA[ */
  var google_conversion_id = 937505505;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "LPzOCKWprGMQ4eWEvwM";
  var google_remarketing_only = false;
  /* ]]> */
%script{ src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript" }
%noscript
  %div{ style: "display:inline;" }
    %img{ alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/937505505/?label=LPzOCKWprGMQ4eWEvwM&amp;guid=ON&amp;script=0", style: "border-style:none;", width: "1" }


%main
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      = render partial: 'proposals/card', locals: { context: 'bold' }

    %section.perc75.md.mb80.px20
      %h1.light.mb20 Funds

      = render partial: 'eligibilities/legacy_notice'

      .mb30
        = cell :filter, params, funding_duration: @proposal.funding_duration
        %small.slate
          = pluralize(@fund_count, 'fund')
          found

      - @funds.each_with_index do |fund, i|
        %article.mb40

          = cell(:fund_indicators, fund, proposal: @proposal)

          - if policy(FundContext.new(fund, @proposal)).show?
            .mb5
              = link_to fund.title, proposal_fund_path(@proposal, fund), class: 'blue fs22 lh30'
            .mb5.fs15.lh20.mid-gray
              = fund.subtitle
            %p.mb5.fs15.lh20
              = raw strip_tags fund.description_html.truncate_words(30)

          - else
            .muted
              .mb5
                = link_to scramble_name(fund.name), account_upgrade_path(@recipient), class: 'blue fs22 lh30 redacted'
              .mb5.fs15.lh20.mid-gray.redacted= scramble_name fund.funder.name
              %p.mb5.fs15.lh20= raw fund.description_redacted.truncate_words(30)

          %p.fs14.lh18
            = cell(:fund_insight, fund, proposal: @proposal).call(:themes)

      = paginate @funds
