= content_for :title, @fund.title

- if @proposal # TODO: refactor
  :javascript
    mixpanel.track('View Fund Page', { "Fund": "#{@fund.name}" });
    mixpanel.identify("#{@current_user.id}");

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, (@proposal ? 'Current proposal' : nil) => nil, 'Funds' => funds_path(@proposal), @fund.funder.name => nil, @fund.name => fund_path(@fund, @proposal)

%main
  .maxw1080.mx-auto.px40.mt40

    .flex.flex-wrap.mb40
      %section.perc50.md.mb40.px20
        %h1.mb10= @fund.name
        .mb30.night
          by
          = @fund.funder.name

        .mb30.fs18.night.lh25= raw strip_tags @fund.description_html.truncate_words(30)

        %hr
        %h6.my20.slate= cell(:fund_insight, @fund, proposal: @proposal).call(:summary)
        %hr.mb30

        = cell(:fund_insight, @fund, proposal: @proposal).call(:themes)

      %section.perc50.md
        = cell(:progress, @assessment || @stub_assessment, subscribed: @current_user&.subscription_active?)

    %section.px20.mb80.md
      %h2.mb20 Summary

      .mb20.markdown
        = raw @fund.description_html

      - if @fund.period_end.present? && @fund.period_end > 3.years.ago
        .mt30.night
          .fs14.mb10
            = cell(:fund_insight, @fund).call(:data_source)
          .mb20
            %strong= period(@fund)

      - unless @fund.open_call?
        .bg-ice.rounded.shadow.fs18.lh22.p10.mb20
          .bold.caps.mb10.fs15 Unsolicited applications
          Please note this fund does not accept unsolicited applications. Please read the fund guidance for more information.

      %ul.list.pl30
        = cell(:fund_insight, @fund).call(:amount)
        = cell(:fund_insight, @fund).call(:costs)
        = cell(:fund_insight, @fund).call(:countries)
        = cell(:fund_insight, @fund).call(:duration)
        = cell(:fund_insight, @fund).call(:grant_count)
        = cell(:fund_insight, @fund).call(:award_months)
        = cell(:fund_insight, @fund).call(:grant_examples)

    = render partial: 'checks'
