= content_for :title, "More info for #{@fund.name}"

:javascript
  mixpanel.track("View Fund Page", { "Fund": "#{@fund.name}" });

= render partial: 'fund_subnav', locals: { fund: @fund }

.uk-container.uk-container-center.uk-margin-large.uk-margin-large-top
  .uk-grid
    .uk-width-medium-1-3
      = render partial: 'card', locals: { fund: @fund }

    .uk-width-medium-2-3
      %section
        %h3.uk-margin-top
          Summary

        = render partial: 'insights', locals: { fund: @fund }

        = cell(:fund_insight, @fund, proposal: @proposal).call(:themes)

        %hr.thick

      %section
        %h3.uk-margin-top
          Eligibility

        - {'Location': 'location', 'Grant amount': 'amount', 'Organistion type': 'org_type'}.each do |k, v|
          %h4.uk-margin-top.uk-text-bold
            = k

          - if @proposal
            - if @proposal.ineligible_reasons(@fund.slug).include? v
              .cta.red
                = cell(:eligibility_banner, @proposal, fund: @fund).call(v.to_sym)
            - else
              .cta.green
                Eligible

        %h4.uk-margin-top.uk-text-bold
          Eligibility criteria
        %p.uk-margin-bottom
          The following questions have been set by
          = succeed ',' do
            = @fund.funder.name
          complete them to see if you are eligible for their
          = link_to @fund.short_name, proposal_fund_path(@proposal, @fund)
          fund.

        .uk-form.uk-form-stacked.uk-clearfix
          = simple_form_for :check, url: eligibility_proposal_fund_path(@proposal, @fund), method: :patch do |f|
            = cell(:eligibility_quiz, @fund, proposal: @proposal, f: f).call(:show)

        %hr.thick

      %section#how-was-funding-distributed.offset
        %h3.uk-margin-top
          How was funding distributed?
          = period

        - if @fund.open_data?
          %p
            Awarded
            %span.uk-text-bold= number_with_delimiter(@fund.grant_count)
            = "grant".pluralize(@fund.grant_count) + '.'

          #amount_awarded_distribution.chart{ data: { data: amount_awarded_distribution } }

        - else
          = render partial: 'not_enough_data'

        %hr.thick

      %section#when-was-funding-awarded.offset
        %h3.uk-margin-top
          When was funding awarded?
          = period

        - if @fund.open_data? && @fund.award_month_distribution?
          %p
            Awarded the most funding in
            = succeed '.' do
              %strong= top_award_months

          #award_month_distribution.chart{ data: { data: award_month_distribution } }

        - else
          = render partial: 'not_enough_data'

        %hr.thick

      %section#where-was-funding-awarded.offset
        %h3.uk-margin-top
          Where was funding awarded?
          = period

        - if @fund.open_data? && @fund.country_distribution?
          %p
            Awarded most funding in the
            = succeed '.' do
              %strong= top_countries

          = geo_chart country_distribution, id: 'country_distribution', library: { colorAxis: { colors: ['#f5e8c4', '#fadc89', '#f5b918'] }, tooltip: { textStyle: { color: '#353f45' } } }

        - else
          = render partial: 'not_enough_data'

      - unless @proposal.checked_fund?(@fund)
        .cta.wide
          See if you are eligible for funding.
          %a.uk-button.uk-button-large.uk-button-primary.invert{ href: eligibility_proposal_fund_path(@proposal, @fund) } Check eligibility
