= content_for :title, @fund.title

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, (@proposal.title? ? @proposal.title : 'Current proposal').upcase_first => nil, 'Funds' => proposal_funds_path(@proposal), @fund.funder.name => nil, @fund.name => proposal_fund_path(@proposal, @fund)

:javascript
  mixpanel.track('View Fund Page', { "Fund": "#{@fund.name}" });
  mixpanel.identify("#{@current_user.id}");

%main
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      = render partial: 'card', locals: { fund: @fund }
      = render partial: 'proposals/card', locals: { context: 'muted' }

    %section.perc75.md.mb80.px20
      %section
        %h1.light= @fund.title
        .fs15.lh20.mid-gray= @fund.subtitle

        %p.fs15.mt15.lh20
          = cell(:fund_insight, @fund, proposal: @proposal).call(:themes)

      %hr.my40

      %section
        .mb20
          %h2.light Summary

        .mb20.markdown
          = raw @fund.description_html

        - if @fund.period_end.present? && @fund.period_end > 3.years.ago
          %small.slate
            = cell(:fund_insight, @fund).call(:data_source)
          .slate.fs15.my10
            = period(@fund)

        - unless @fund.open_call?
          .bg-silver.rounded.shadow.fs18.lh22.p10.mb20
            .bold.caps.mb10.fs15 Unsolicited applications
            Please note this fund does not accept unsolicited applications. Please read the fund guidance for more information.

        %ul.list.pl30
          = cell(:fund_insight, @fund).call(:amount)
          = cell(:fund_insight, @fund).call(:duration)
          = cell(:fund_insight, @fund).call(:grant_count)
          = cell(:fund_insight, @fund).call(:award_months)
          = cell(:fund_insight, @fund).call(:countries)
          = cell(:fund_insight, @fund).call(:grant_examples)

      %hr.my40

      = cell(:eligibility, @proposal, fund: @fund).call(:page)

      %hr.my40

      %section
        .mb20
          %h2.light 
            Suitability

        = render partial: 'suitability', locals: { return_to: 'fund' }

      %hr.my40

      - if @proposal.eligible?(@fund.slug)
        %section
          .mb40
            %h2.light Apply

          = link_to "Application form", apply_proposal_fund_path(@proposal, @fund), class: "button white bg-blue caps shadow mb40"

      - else
        %section.muted
          .mb40
            %h2.light Apply

          - unless @fund.open_call?
            .bg-silver.rounded.shadow.fs18.lh22.p10.mb20
              .bold.caps.mb10.fs15 Unsolicited applications
              Please note this fund does not accept unsolicited applications. Please read the fund guidance for more information.

          .button.white.bg-blue.caps.shadow.mb40 Application form
        -#
        -# %h5.mb20 Status
        -#
        -# .button.blue.border-blue.caps.mb10 Submitted
        -# .button.green.border-green.caps.mb10 Successful
        -# .button.red.border-red.caps.mb10 Declined
