= content_for :title, @fund.title

-# TODO: refactor
- if @proposal && allow_performance_cookies?
  :javascript
    mixpanel.track('View Fund Page', { "Fund": "#{@fund.name}" });
    mixpanel.identify("#{@current_user.id}");


%header
  = cell :navbar, @current_user
  = cell :breadcrumb, (@proposal ? 'Current proposal' : nil) => nil, 'Funds' => funds_path(@proposal), @fund.funder.name => fund_path(@fund, @proposal)

%main
  .maxw1080.mx-auto.px40.mt40

    .flex.flex-wrap.mb40
      %section.perc50.md.mb40.px20
        %h1.mb10= @fund.funder.name

        .mb30.fs18.night.lh25= raw @fund.description_html

        %hr
        %h6.my20.slate= cell(:fund_insight, @fund, proposal: @proposal).call(:summary)
        %hr.mb30

        = cell(:fund_insight, @fund, proposal: @proposal).call(:themes)

      %section.perc50.md
        = cell(:progress, @assessment || @stub_assessment)

    %section.px20.mb80.md
      .p20.bg-light-blue.border.border-blue.rounded
        %h2.mb20 About this fund

        %p.mb10
          This fund is a "stub". This means we don't have all the information we would usually
          need to check your eligibility and suitability. We have selected it based on the theme
          and location of your proposal.

        %p.mb10
          You can request that we update this fund with the full details.

        = link_to 'Request fund update', requests_path(fund: @fund), method: :post, class: 'btn white bg-blue shadow mt10'

        %h4.mb20.mt20 Data source

        %p.mb10
          The information we have here is generated from data from the Charity Commission for England
          and Wales, used under the
          = succeed '.' do
            = link_to 'Open Government License', 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/', class: 'blue'
          More details are available on our
          = link_to 'Beehive Data', 'http://data.beehivegiving.org/sources', class: 'blue'
          site.
