= content_for :title, "#{@tag} funds"

:javascript
  mixpanel.track("View #{@tag} Funds Page");

= render partial: 'subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2
    = @tag
    = surround '(', ')' do
      = @funds.count
  %h4
    You are seeing
    = @tag.downcase
    funds.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade

    - @funds.each_with_index do |fund, i|

      - if @recipient.subscribed? || i < 1
        = render partial: 'summary', locals: { fund: fund }
        - unless @recipient.subscribed?
          .cta.wide
            Go unlimited with Beehive Pro to see more
            = @tag
            funds.
            = link_to 'Upgrade', account_upgrade_path(@recipient), class: 'uk-button uk-button-large uk-button-primary invert'

      - else
        = render partial: 'summary_redacted', locals: { fund: fund }
        - unless i == @funds.count - 1
          %hr.thick
