= content_for :title, "#{@theme.name} funds"

%header
  = cell :breadcrumb, (@proposal ? 'Current proposal' : nil) => nil, 'Funds' => funds_path(@proposal), @theme.name => theme_path(@theme, @proposal)

  .maxw1080.mx-auto.px20
    .px20.md
      = cell(:terms_notice, @current_user)

%main
  .maxw1080.mx-auto.px20.flex.flex-wrap
    = render partial: 'context'

    %aside.perc25.md.px20.mb40
      = render partial: 'sidebar'

    %section.perc75.md.mb40.px20
      %h1.mb10= @theme.name

      = render partial: 'sort'

      - @funds.each do |fund|
        = render(partial: 'fund', locals: { fund: fund })

      .mb40.center= paginate @funds
