= content_for :title, "#{@theme.name} funds"

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Funds' => proposal_funds_path(@proposal), @theme.name => theme_proposal_funds_path(@proposal, @theme)

%main
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      .border.rounded.mb20.border-blue
        .px10.py10.bg-blue
          .fs15.lh20.caps.bold.white
            Current Proposal
        = render partial: 'proposals/card', locals: { proposal: @proposal }
        .fs14.center.py15.border-top.border-lightest-gray 
          = link_to 'Edit', edit_proposal_path(model), class: 'blue' 
          span.slate>  &middot; 
          = link_to 'Change', proposals_path, class: 'blue' 

    %section.perc75.md.mb80.px20
      %h1.light.mb20=@theme.name

      .mb30
        = cell :filter, params, funding_duration: @proposal.funding_duration
        %small.slate
          = pluralize(@fund_count, 'fund')
          found

      - @funds.each_with_index do |fund, i|
        = render partial: 'fund', locals: { fund: fund }

        - if i < 1 && params[:page].to_i < 2 && !@recipient.subscribed?
          %a{ href: account_upgrade_path(@recipient) }
            .mb40.fs14.white.bg-darken-blue.circle.shadow.inline-block.py5.pr14.pl5.truncate
              .fs12.bg-green.caps.bold.circle.inline-block.py3.px5 Upgrade
              Go unlimited with Beehive Pro to see more
              = @theme.name
              funds

      = paginate @funds
