= content_for :title, 'My reports'

%main.bg-ice

  %header.bg-rich-blue
    = render partial: 'shared/nav', locals: { color: 'white' }
    = cell(:breadcrumb, 'My reports' => reports_path)

    .maxw1050.mx-auto.px15
      %h1.h2.white.mb10 My reports
      .white.pb40
        Reports for
        = obscure_email(@current_user.email)

  .maxw1050.mx-auto.px15
    %section.grid.py40
      - @reports.each do |report|
        -# TODO: progress bars
        .bg-white.rounded.shadow.flex.flex-column

          .p20.border-bottom.border-mist

            .caps.grey.mb5= report.status

            %h4.mb10
              = report.name
              %span.h4.grey= report.identifier

            .fs15.night
              Created
              = time_ago_in_words(report.created_at)
              ago
              -# •
              -# TODO: opportunities count

          .p20.flex.flex-column.f1
            .f1
              .night.h6.bold.mb5 Proposal
              -# TODO: default text for missing title from legacy record
              .mb15= report.title

              .night.h6.bold.mb5 Recipient
              .mb20= recipient_name(report.recipient)

            %div
              = link_to 'View full report', report_path(report), class: 'btn btn-wide blue bg-light-blue border-pale-blue'

    -# TODO: pagination

.bg-ice
  = render partial: 'shared/footer', locals: { color: 'slate' }
