= content_for :title, "#{@proposal.name} #{@proposal.identifier}"

%main.bg-ice

  %header.bg-primary
    = render partial: 'shared/nav', locals: { color: 'white' }
    -# TODO: spec
        - if @collection
      = cell(:breadcrumb, 'Opportunities' => opportunities_path, @collection.name => opportunity_path(@collection), @proposal.identifier => report_path(@proposal))
    - else
      = cell(:breadcrumb, 'Opportunities' => opportunities_path, "Report #{@proposal.identifier}" => report_path(@proposal))

    .maxw1050.mx-auto.px15.pb40
      .flex.justify-between.white

        %div
          %h1.h2.mb5
            = @proposal.name
            %span.muted= @proposal.identifier
            -# TODO: status
            -# .btn.border-white= @proposal.status.capitalize
          Created for
          = created_by
          = time_ago_in_words(@proposal.created_at)
          ago

        %div
          -# TODO: spec
          - if @collection
            = link_to('New report', new_recipient_path(@collection), class: 'btn bg-secondary')

  .maxw1050.mx-auto

    .mt40.flex.flex-wrap
      .col2.px15
        %h3.bold.night.mb40
          -# TODO: opportunities count
          = pluralize(@proposal.assessments.size, 'opportunity')
          checked

        - @proposal.assessments.includes(fund: [:funder]).each do |a|

          .bg-white.rounded.shadow.mb40
            .pb5.rounded-top{ class: a.banner.indicator }

            %h4.p20.border-bottom.border-mist
              = a.fund.name
              by
              = a.fund.funder.name
              %span.grey= "##{a.id}"

            .p20
              -# TODO: truncate
              .mb15.markdown= raw(a.fund.description_html)
              -# TODO: size
              = link_to 'Website', a.fund.website, target: '_blank', rel: 'noopener', class: 'btn blue border-mist', onclick: "trackOutboundLink('#{a.fund.website}');"
              - a.fund.links.each do |text, href|
                = link_to text, href, target: '_blank', rel: 'noopener', class: 'btn blue border-mist', onclick: "trackOutboundLink('#{href}');"

            .p20.border-top-thick.border-bottom-thick{ class: a.banner.background }
              .flex.items-center
                .dot.ml5.mr15{ class: a.banner.indicator }
                .heading.bold{ class: a.banner.color }= a.banner.text

            %h5.p20 Rating details

            -# TODO: sort
            - a.ratings.each do |rating|
              .p20.border-top.border-silver.flex.items-center
                .dot.ml5.mr15{ class: "bg-#{rating.indicator}" }
                .fs15
                  = rating.messages
                  = rating.link

      .col1.md.px15
        .border.border-mist.rounded.mb20
          .p20.border-bottom.border-mist
            %h6.bold.slate Proposal
          .m20
            .fs14.heading.bold.night.mb5 Title
            .fs14.lh18.slate= @proposal.title_with_default
          .m20
            .fs14.heading.bold.night.mb5 Description
            .fs14.lh18.slate= @proposal.description_with_default
          .m20
            .fs14.heading.bold.night.mb5 Support type
            .fs14.lh18.slate= support_type
          -# TODO: spec
          - if @proposal.seeking_funding?
            .m20
              .fs14.heading.bold.night.mb5 Amount sought
              .fs14.lh18.slate= amount_sought
          .m20
            .fs14.heading.bold.night.mb5 Area of benefit
            .fs14.lh18.slate= location_description
          .m20
            .fs14.heading.bold.night.mb5 Themes
            .fs14.lh18.slate= themes_description

        .border.border-mist.rounded
          .p20.border-bottom.border-mist
            %h6.bold.slate Recipient
          -# TODO: spec
          - unless @proposal.recipient.individual?
            .m20
              .fs14.heading.bold.night.mb5 Name
              .fs14.slate= @proposal.recipient.name
          .m20
            .fs14.heading.bold.night.mb5 Type
            .fs14.slate= recipient_type
          .m20
            .fs14.heading.bold.night.mb5 Country
            .fs14.slate= @proposal.recipient.country.name
          -# TODO: spec
          - if @proposal.recipient.district
            .m20
              .fs14.heading.bold.night.mb5 Area
              .fs14.slate= @proposal.recipient.district.name
          -# TODO: spec
          - unless @proposal.recipient.individual?
            .m20
              .fs14.heading.bold.night.mb5 Annual income
              .fs14.slate= @proposal.recipient.income_band_name
            .m20
              .fs14.heading.bold.night.mb5 Operating for
              .fs14.slate= @proposal.recipient.operating_for_name
          -# TODO: spec
          - if @proposal.recipient.website.present?
            .m20
              .fs14.heading.bold.night.mb5 Website
              = link_to(@proposal.recipient.website, @proposal.recipient.website, target: '_blank', rel: 'noopener', class: 'fs14 slate', onclick: "trackOutboundLink('#{@proposal.recipient.website}');")

.bg-ice
  = render partial: 'shared/footer', locals: { color: 'slate' }
