= content_for :title, "#{@proposal.name} #{@proposal.identifier}"

%main.bg-white

  %header.bg-primary.px35
    %nav.pt35.mb35.heading.bold.flex.justify-between.items-center
      %span.maxw200
        = image_tag("beehive-logo-white.png")


    .mx-auto.pb20
      .flex.flex-wrap.white
        .col-grow.mb20
          %h1.h2.mb15
            = @proposal.name
            %span.muted.inline-flex.items-center
              = @proposal.identifier
          Created for
          = created_by
          on
          = @proposal.created_at.strftime("%e %B %Y")

  .mx-auto.fs18.p20
  
    .mb20
      .p20
        %h3.bold.night About Beehive
        %p.mt20
          Beehive was a free funding suitability checking tool that used a funder’s guidelines, 
          priorities and open data to produce a report that helped fund seekers decide where to apply.
        %p.mt20
          After checking well over 18,000 proposals from individuals and organisations 
          seeking charitable funding Beehive was retired in September 2020. 
        %p.mt20
          This report is a copy of a proposal submitted by
          = created_by
          on #{@proposal.created_at.strftime("%e %B %Y")}, alongside the opportunities that Beehive checked it against.
        %p.mt20
          You can find out more about Beehive's legacy at
          = succeed '.' do
            = link_to 'www.beehivegiving.org', 'https://www.beehivegiving.org/'
  
    .mb20
      .p20.border-bottom.border-mist
        %h3.bold.night About this proposal
      .m20
        .heading.bold.night.mb5 Title
        .lh18.slate= @proposal.title_with_default
      .m20
        .heading.bold.night.mb5 Description
        .lh18.slate= @proposal.description_with_default
      .m20
        .heading.bold.night.mb5 Support type
        .lh18.slate= support_type
      - if @proposal.seeking_funding?
        .m20
          .heading.bold.night.mb5 Amount sought
          .lh18.slate= amount_sought
      .m20
        .heading.bold.night.mb5 Area of benefit
        .lh18.slate= location_description
      .m20
        .heading.bold.night.mb5 Themes
        .lh18.slate= themes_description

    %div
      .p20.border-bottom.border-mist
        %h3.bold.night About the recipient
      - unless @proposal.recipient.individual?
        .m20
          .heading.bold.night.mb5 Name
          .slate= @proposal.recipient.name
      .m20
        .heading.bold.night.mb5 Type
        .slate= recipient_type
      .m20
        .heading.bold.night.mb5 Country
        .slate= @proposal.recipient.country.name
      - if @proposal.recipient.district
        .m20
          .heading.bold.night.mb5 Area
          .slate= @proposal.recipient.district.name
      - unless @proposal.recipient.individual?
        .m20
          .heading.bold.night.mb5 Annual income
          .slate= @proposal.recipient.income_band_name
        .m20
          .heading.bold.night.mb5 Operating for
          .slate= @proposal.recipient.operating_for_name
      - if @proposal.recipient.website.present?
        .m20
          .heading.bold.night.mb5 Website
          = link_to(@proposal.recipient.website, @proposal.recipient.website, target: '_blank', rel: 'noopener', class: 'fs14 slate', onclick: "trackOutboundLink('#{@proposal.recipient.website}');")

    .mt40.flex.flex-wrap
      .px15
        %h3.bold.night.mb40
          = pluralize(@proposal.assessments_count, 'opportunity')
          checked

        - @proposal.assessments.includes(fund: [:funder]).each do |a|

          .bg-white.rounded.shadow.mb40{ id: "assessment-#{a.id}" }
            .pb5.rounded-top{ class: a.banner.indicator }

            %h4.p20.border-bottom.border-mist
              = a.fund.name
              by
              = a.fund.funder.name
              %span.grey= "##{a.id}"

            .p20
              .mb15.markdown= raw(a.fund.description_html)

              -#.mb15.heading= link_to 'Spot a mistake?', spot_mistake_form_url(report_path(@proposal, assessment: a.id)), class: 'bold', target: '_blank', rel: 'noopener'

              = link_to 'Website', a.fund.website, target: '_blank', rel: 'noopener', class: 'btn btn-sm blue border-mist', onclick: "trackOutboundLink('#{a.fund.website}');"
              - a.fund.links.each do |text, href|
                = link_to text, href, target: '_blank', rel: 'noopener', class: 'btn btn-sm blue border-mist', onclick: "trackOutboundLink('#{href}');"

            .px20.pt10.border-top-thick.border-bottom-thick{ class: a.banner.background }

              .mb10
                .dot.ml5.mr15{ class: a.banner.indicator, style: 'float: left;' }
                .heading.bold{ class: a.banner.color }= a.banner.text

                -# .mb10
                  %span.night.mr10
                    = a.agree_count
                    agree
                    •
                    = a.disagree_count
                    disagree
                  = link_to 'Vote', new_assessment_vote_path(a), class: 'btn btn-sm white bg-blue'

            %h5.p20 Rating details

            -# TODO: sort
            - a.ratings.each do |rating|
              .p20.border-top.border-silver
                .dot.ml5.mr15{ class: "bg-#{rating.indicator}", style: 'float: left;' }
                .fs15
                  = rating.messages
                  -#= rating.link

.bg-ice
  %footer.fs14.p35
    = link_to("© #{Date.today.year} CAST", 'http://www.wearecast.org.uk', class: 'ml10')
