-# TODO: implement
%h1 Report for...

- @proposal.assessments.includes(:fund).each do |a|
  = a.fund.id
  = a.fund.name

  - a.ratings.each do |rating|
    %li
      = rating.indicator
      = rating.message
      = rating.link

  %hr.my10
