- if @recipient.recommended_funder?(@funder) && @recommendation.recommendation_quality.blank?
  window.open("http://#{@funder_attribute.application_link}", "_blank");
  window.location.replace("#{recipient_recommendation_feedback_path(@funder)}");
- elsif
  $("##{@funding_stream_id}").html('#{escape_javascript(render("funding_stream"))}');
  window.open("http://#{@funder_attribute.application_link}", "_blank");
- else
  $.UIkit.notify({message: "<i class='uk-icon-exclamation-triangle'></i><span> Sorry, this link doesn't appear to be working right now.</span>", status: 'danger', timeout: 3000, pos: 'top-center' });
