= content_for :title, "Apply to #{@fund.title}, #{@fund.subtitle}"

-# TODO: refactor
- if allow_performance_cookies?
  :javascript
    mixpanel.track("View Apply Page", {"Fund": "#{@fund.name}"});

  / Google Code for View funder apply page
  :javascript
    /* <![CDATA[ */
    var google_conversion_id = 937505505;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "8GqLCMWurGMQ4eWEvwM";
    var google_remarketing_only = false;
    /* ]]> */
  %script{ src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript" }
  %noscript
    %div{ style: "display:inline;" }
      %img{ alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/937505505/?label=8GqLCMWurGMQ4eWEvwM&amp;guid=ON&amp;script=0", style: "border-style:none;", width: "1" }


%header
  = cell :navbar, @current_user
  = cell :breadcrumb, (@proposal.title? ? @proposal.title : 'Current proposal').upcase_first => nil, 'Funds' => funds_path(@proposal), @fund.funder.name => nil, @fund.name => fund_path(@fund, @proposal), 'Apply' => apply_path(@fund, @proposal)

%main
  .maxw1080.mx-auto.px40.mt40
    %section.px20.md
      %section.mb30
        %h1
          Apply to
          = @fund.funder.name
        .fs25.lh20.mt20
          = @fund.short_name
          fund

      %section
        %p
          If you haven't already, be sure to explore our analysis of the
          = link_to "#{@fund.short_name.strip}", fund_path(@fund, @proposal), class: 'blue'
          fund, otherwise below are a few things to consider before you proceed.

      %hr.my40

      %section
        .mb20
          %h2
            Key criteria
        .mb20.markdown
          = raw(@fund.key_criteria_html)

      .mb80
        - if @fund.open_call?
          %span.tooltip{ 'aria-label' => 'A new page will be opened with application details' }
            = link_to "Apply to #{@fund.title} â¯",
                      apply_path(@fund, @proposal),
                      method: :post,
                      target: '_blank',
                      class: 'btn white bg-blue shadow'
        - else
          .bg-ice.rounded.shadow.fs18.lh22.p10.mb20
            .bold.caps.mb10.fs15 Unsolicited applications
            Please note this fund does not accept unsolicited applications. Please read the fund guidance for more information.
          %span.tooltip{ 'aria-label' => 'A new page will be opened with guidance' }
            = link_to "More information on #{@fund.name.strip}",
                      apply_path(@fund, @proposal),
                      method: :post,
                      target: '_blank',
                      class: 'btn white bg-blue shadow'
