= content_for :title, "Apply to #{@fund.title}, #{@fund.subtitle}"

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, (@proposal.title? ? @proposal.title : 'Current proposal').upcase_first => nil, 'Funds' => proposal_funds_path(@proposal), @fund.funder.name => nil, @fund.name => proposal_fund_path(@proposal, @fund), 'Apply' => apply_proposal_fund_path(@proposal, @fund)

:javascript
  mixpanel.track("View Apply Page", {"Fund": "#{@fund.name}"});

/ Google Code for View funder apply page
:javascript
  /* <![CDATA[ */
  var google_conversion_id = 937505505;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "8GqLCMWurGMQ4eWEvwM";
  var google_remarketing_only = false;
  /* ]]> */
%script{ src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript" }
%noscript
  %div{ style: "display:inline;" }
    %img{ alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/937505505/?label=8GqLCMWurGMQ4eWEvwM&amp;guid=ON&amp;script=0", style: "border-style:none;", width: "1" }

%main
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      = render partial: 'funds/card', locals: { fund: @fund }

    %section.perc75.md.mb80.px20
      %section.mb30
        %h1
          Apply to
          = @fund.funder.name
        .fs25.lh20.mt20
          = @fund.short_name
          fund

      %section
        %p
          If you haven't already, be sure to explore our analysis of the
          = link_to "#{@fund.short_name.strip}", proposal_fund_path(@proposal, @fund), class: 'blue'
          fund, otherwise below are a few things to consider before you proceed.

      %hr.my40

      %section
        .mb20
          %h2
            Key criteria
        .mb20.markdown
          = raw(@fund.key_criteria_html)

      - if @fund.open_call?
        = link_to "Apply to #{@fund.title} ❯",
                  apply_proposal_fund_path(@proposal, @fund),
                  method: :post,
                  target: '_blank',
                  'data-uk-tooltip': "{pos:'top'}",
                  title: 'A new page will be opened with application details',
                  class: 'button white bg-blue caps shadow mb40 right'
      - else
        .bg-ice.rounded.shadow.fs18.lh22.p10.mb20
          .bold.caps.mb10.fs15 Unsolicited applications
          Please note this fund does not accept unsolicited applications. Please read the fund guidance for more information.
        = link_to "More information on #{@fund.name.strip}",
                  apply_proposal_fund_path(@proposal, @fund),
                  method: :post,
                  target: '_blank',
                  'data-uk-tooltip': "{pos:'top'}",
                  title: 'A new page will be opened with guidance',
                  class: 'button white bg-blue caps shadow mb40 right'
