= content_for :title, 'Coming soon'

.uk-container.uk-container-center
  .uk-grid.uk-margin-large.uk-margin-large-top
    .uk-width-medium-1-1.uk-animation-fade
      .uk-width-large-1-2.uk-container-center
        %h2 Coming soon
        %p
          Dear
          = succeed ',' do
            = current_user.first_name
        %p Thank you for using the Beehive Beta! We're working hard to add new features and funders every week.
        %p You are seeing this page because we've currently restricted access to some parts of the site. By the end of March 2016 we should be ready to give access to all areas. In the meantime please help to shape our strategy by providing some feedback below.
        %p Thank you
        %p
          Suraj
          %br
            Creator of Beehive
        %p P.S. You'll be returned to where you left off once you save your feedback.

        %hr.thick

      .uk-width-large-1-2.uk-container-center
        .uk-animation-fade.cta.tight
          %h4.uk-text-bold Give us some feedback
          = simple_form_for @feedback, url: feedback_path, method: :patch do |f|
            .uk-form.uk-form-stacked.form
              .uk-width-1-1.uk-margin-bottom
                %p{style: 'font-size: 14px;'}
                  How much would you pay
                  %strong a year
                  to have unlimited access to all of the funders on Beehive?
                = f.input :price, as: :currency, input_html: { class: 'large numeric integer uk-width-1-1', min: 0 }, placeholder: 'e.g. 50'
                = f.error :price, class: 'error-message'

            = f.submit 'Save feedback', class: 'uk-button uk-button-primary uk-button-large uk-width-1-1'
