= content_for :title, 'Before you continue'

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Feedback' => ''

%main
  .maxw1080.mx-auto.px20

  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc25.md.px20.mb40
      %h2.light.mb20 Before you continue
      %h4.light Take a minute and let us know what you think.


    %section.perc75.md.mb80.px20.fs14
      = simple_form_for @feedback, url: feedback_index_path do |f|

        .mb40
          %label.label.mb10.bold.lh16 How suitable were your recommended funders?
          = f.input :suitable, as: :select, collection: (0..10).to_a.reverse, label_method: lambda { |n| "#{n} #{Feedback::SUITABLE[n]}" }, input_html: {class: 'chosen-select'}

        .mb40
          %label.label.mb10.bold.lh16 What was most useful about Beehive?
          = f.input :most_useful, as: :select, collection: Feedback::MOST_USEFUL, input_html: {class: 'chosen-select'}

        .mb40
          %label.label.mb10.bold.lh16 How likely is it that you would recommend Beehive to a friend or colleague?
          = f.input :nps, as: :select, collection: (0..10).to_a.reverse, label_method: lambda { |n| "#{n} #{Feedback::NPS[n]}" }, input_html: {class: 'chosen-select'}

        .mb40
          %label.label.mb10.bold.lh16 How would you feel if Beehive was taken away?
          = f.input :taken_away, as: :select, collection: (0..10).to_a.reverse, label_method: lambda { |n| "#{n} #{Feedback::TAKEN_AWAY[n]}" }, input_html: {class: 'chosen-select'}

        .mb40
          %label.label.mb10.bold.lh16 Beehive informed my fundraising
          = f.input :informs_decision, as: :select, collection: (0..10).to_a.reverse, label_method: lambda { |n| "#{n} #{Feedback::INFORMS_DECISION[n]}" }, input_html: {class: 'chosen-select'}

        .mb40
          %label.label.mb10.bold.lh16 How many funding applications did you submit in the past 12 months?
          = f.input :application_frequency, as: :select, collection: Feedback::APP_AND_GRANT_FREQUENCY, input_html: {class: 'chosen-select'}

        .mb40
          %label.label.mb10.bold.lh16 How many grants did you recieve in the past 12 months?
          = f.input :grant_frequency, as: :select, collection: Feedback::APP_AND_GRANT_FREQUENCY, input_html: {class: 'chosen-select'}

        .mb40
          %label.label.mb10.bold.lh16 How often would you like to be informed about new funders and funding rounds?
          = f.input :marketing_frequency, as: :select, collection: Feedback::MARKETING_FREQUENCY, input_html: {class: 'chosen-select'}

        .mb40
          %label.label.mb10.bold.lh16 Any other feedback?
          = f.input :other, as: :text, input_html: {class: 'mb10 p5', rows: 5}

        .uk-text-right
          = f.button :button, 'Submit feedback', class: 'button bg-green white caps'
