= content_for :title, "Make report ##{@proposal.id} private"

-# TODO: refactor
- if allow_performance_cookies?
  / Google Code for View upgrade page Conversion Page
  :javascript
    /* <![CDATA[ */
    var google_conversion_id = 937505505;
    var google_conversion_language = 'en';
    var google_conversion_format = '3';
    var google_conversion_color = 'ffffff';
    var google_conversion_label = 'JjT_CMfMg3AQ4eWEvwM';
    var google_remarketing_only = false;
    /* ]]> */
  %script{ src: '//www.googleadservices.com/pagead/conversion.js', type: 'text/javascript' }
  %noscript
    %div{ style: 'display:inline;' }
      %img{ alt: '', height: '1', src: '//www.googleadservices.com/pagead/conversion/937505505/?label=JjT_CMfMg3AQ4eWEvwM&guid=ON&script=0', style: 'border-style:none;', width: '1' }

%main.bg-secondary
  %section.maxw750.mx-auto.mt40.pt10
    .center.px15.my40
      %h1.h2.white.mb15 Your report's visibility
      
      .bg-white.shadow.rounded
        .bg-ice.rounded-top.border-bottom.border-mist.p20

          %p.black Details about your support request such as the amount, description and eligibility reasons will be included in a publicly viewable directory that others can browse unless you opt for a ‘Private’ report.

          .flex.flex-wrap.justify-between
            .col1.md.px15
              .center.my20.px15
                = link_to 'Keep my report public', report_path(@proposal) , class: 'white btn-wide bg-primary'
            .col1.md.px15
              .center.my20.px15
                = link_to 'Make my report private', make_report_private_path(@proposal) , class: 'white btn-wide bg-primary'

.bg-secondary
  = render partial: 'shared/footer', locals: { color: 'white' }