= content_for :title, 'Upgrade'

%script{ src: "https://js.stripe.com/v2/", type: "text/javascript" }
= javascript_include_tag 'charges'

:javascript
  mixpanel.track("View Upgrade Page");
  mixpanel.identify("#{@current_user.id}");

= render partial: 'accounts/subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Upgrade
  %h4
    By completing the form you will be charged
    %strong= number_to_currency(@payment.plan_cost, unit: '£', precision: 0)
    for one years access to a Beehive Giving
    %strong= @payment.plan_name
    plan.

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade

    = form_tag account_upgrade_path(@recipient), id: 'payment-form', class: 'uk-form form' do
      %noscript
        .cta.red.tight.uk-margin-bottom
          %strong You have JavaScript disabled
          and this page will not work. Please use a device that supports JavaScript.

      %input#stripeToken{ name: "stripeToken", type: "hidden" }

      .payment-errors
        - if params[:coupon_errors]
          .cta.red= params[:coupon_errors]

      .form-row
        %label.label Card number
        %input.large#card-number{"data-stripe": "number", size: "20", type: "text", placeholder: '4242 4242 4242 4242'}

      .form-row
        %label.label Expiration
        %input.large#expiry-month{"data-stripe": "exp_month", size: "2", type: "text", placeholder: 'MM'}
        %span
        %input.large#expiry-year{"data-stripe": "exp_year", size: "2", type: "text", placeholder: 'YY'}

      .form-row
        %label.label CVC
        %input.large#cvc{"data-stripe": "cvc", size: "4", type: "text", placeholder: '123'}

      .form-row
        %label.label Discount coupon
        %input.large#coupon{ name: "coupon", type: "text", placeholder: 'Optional' }

      %input.uk-button.uk-button-primary.large.submit{type: "submit", value: "Pay securely"}

      :javascript
        Stripe.setPublishableKey("#{Rails.configuration.stripe[:publishable_key]}");
