= content_for :title, 'Upgrade'

/ Google Code for View upgrade page Conversion Page
:javascript
  /* <![CDATA[ */
  var google_conversion_id = 937505505;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "JjT_CMfMg3AQ4eWEvwM";
  var google_remarketing_only = false;
  /* ]]> */
%script{ src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript" }
%noscript
  %div{ style: "display:inline;" }
    %img{ alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/937505505/?label=JjT_CMfMg3AQ4eWEvwM&guid=ON&script=0", style: "border-style:none;", width: "1" }

= javascript_include_tag 'https://js.stripe.com/v2/', 'data-no-turbolink' => true

:javascript
  mixpanel.track("View Upgrade Page");
  mixpanel.identify("#{@current_user.id}");

  ga("send", "event", "charges#new", "view", "Plan Cost: #{@payment.plan_cost}");

%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Subscription' => account_subscription_path(@recipient)

%main
  .maxw1080.mx-auto.px20

    %section.md.mb20.px20
      %h1.mb20 Dashboard

    = render partial: 'accounts/subnav'

  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc33.md.px20.mb40

      .p20.border.border-green.rounded
        %h3.mb20 Order summary

        .mb30
          .label.mb10.bold Plan
          Pro

        .mb30
          .label.mb10.bold Period
          1 year
          %small= 1.year.from_now.strftime("(expires %d %B %Y)")

        .mb30
          .label.mb10.bold Price
          = number_to_currency(@payment.plan_cost, unit: '£')
          - if @payment.discount
            %small
              = surround '(', ')' do
                = @payment.discount
                discount

        %div
          .label.mb10.bold Features
          = render 'accounts/premium_features'

    %section.perc66.md.mb80.px20
      - unless @notice
        .mb20.fit.bg-blue.caps.white.bold.rounded.p15
          Please 'reveal' the fund or upgrade to access this feature.
      %h2.mb15 Upgrade
      %p.mb30
        By completing the form you will be charged
        %strong= number_to_currency(@payment.plan_cost, unit: '£', precision: 0)
        for one years access to a
        %strong Pro
        plan.

      %h4.bold.mb20 Payment details
      = form_tag account_upgrade_path(@recipient), id: 'payment-form', class: 'uk-form form' do
        %noscript
          .p20.red.border-red
            %strong You have JavaScript disabled
            and this page will not work. Please use a device that supports JavaScript.

        %input#stripeToken{ name: "stripeToken", type: "hidden" }

        .payment-errors.mb20
          - if params[:card_errors]
            .p20.red.border-red= params[:card_errors]

        .mb20
          .label Card number
          %input.input#card-number{ "data-stripe": "number", size: "24", type: "text", placeholder: '4242 4242 4242 4242' }

        .mb20
          .label Expiration
          .flex
            .col.maxw200.mr10
              %input.input#expiry-month{ "data-stripe": "exp_month", size: "10", type: "text", placeholder: 'MM' }
            .col.maxw200
              %input.input#expiry-year{ "data-stripe": "exp_year", size: "10", type: "text", placeholder: 'YY' }

        .mb20
          .label CVC
          %input.input.maxw200#cvc{ "data-stripe": "cvc", size: "10", type: "text", placeholder: '123' }

        .mb20
          .label Discount coupon
          %input.input#coupon{ name: "coupon", size: "24", type: "text", placeholder: 'Optional' }

        .mb15
          %button.btn.bg-green.white.shadow{ type: "submit" } Pay securely

        = link_to image_tag('powered-by-stripe.svg', width: 120), 'https://stripe.com/', target: '_blank'

        :javascript
          Stripe.setPublishableKey("#{Rails.configuration.stripe[:publishable_key]}");
