= content_for :title, 'Thank you'

:javascript
  mixpanel.track("View Thank you Page");
  mixpanel.identify("#{@current_user.id}");

/ Google Code for Pay Conversion Page
:javascript
  /* <![CDATA[ */
  var google_conversion_id = 937505505;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "X50XCO3-_G8Q4eWEvwM";
  var google_conversion_value = "#{@payment.plan_cost}";
  var google_conversion_currency = "GBP";
  var google_remarketing_only = false;
  /* ]]> */
%script{ src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript" }
%noscript
  %div{ style: "display:inline;" }
    %img{ alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/937505505/?value=50.00&currency_code=GBP&label=X50XCO3-_G8Q4eWEvwM&guid=ON&script=0", style: "border-style:none;", width: "1" }

= render partial: 'accounts/subnav'

.uk-container.uk-container-center
  .uk-grid.uk-margin-large.uk-margin-large-top
    .uk-width-medium-1-1.uk-animation-fade

      .uk-width-1-2.uk-container-center
        %h2 Thank you!
        .cta.green
          You have successfully subscribed!

        .uk-panel.uk-panel-box.none.card
          %h3 Order summary

          .uk-width-medium-1-1.uk-margin-top
            .uk-text-bold Plan
            Pro

          .uk-width-medium-1-1.uk-margin-top
            .uk-text-bold Status
            Active

          .uk-width-medium-1-1.uk-margin-top
            .uk-text-bold Period
            1 year
            %small= 1.year.from_now.strftime("(expires %d %B %Y)")

          .uk-width-medium-1-1.uk-margin-top
            .uk-text-bold Price
            = number_to_currency(@payment.plan_cost, unit: '£')
            - if @payment.discount
              %small
                = surround '(', ')' do
                  = @payment.discount
                  discount

          .uk-width-medium-1-1.uk-margin-top
            .uk-text-bold Features
            = render 'accounts/premium_features'

      .uk-width-1-2.uk-container-center.uk-margin-top
        = link_to 'Continue', session.delete(:return_to) || account_subscription_path(@recipient), class: 'uk-button uk-button-primary uk-button-large uk-width-1-1'
