= content_for :title, 'Thank you'

:javascript
  mixpanel.track("View Thank you Page");
  mixpanel.identify("#{@current_user.id}");

/ Google Code for Pay Conversion Page
:javascript
  /* <![CDATA[ */
  var google_conversion_id = 937505505;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "X50XCO3-_G8Q4eWEvwM";
  var google_conversion_value = "#{@payment.plan_cost}";
  var google_conversion_currency = "GBP";
  var google_remarketing_only = false;
  /* ]]> */
%script{ src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript" }
%noscript
  %div{ style: "display:inline;" }
    %img{ alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/937505505/?value=50.00&currency_code=GBP&label=X50XCO3-_G8Q4eWEvwM&guid=ON&script=0", style: "border-style:none;", width: "1" }


%header
  = cell :v2_navbar, @current_user
  = cell :breadcrumb, 'Subscription' => account_subscription_path(@recipient)

%main
  .maxw1080.mx-auto.px20

    %section.md.mb20.px20
      %h1.light.mb20 Dashboard

    = render partial: 'accounts/subnav'
          
  .maxw1080.mx-auto.px20.flex.flex-wrap
    %aside.perc33.md.px20.mb40

      .p20.border.border-green.rounded
        %h3.light.mb20 Your plan

        .mb30
          %label.label.mb10.bold.lh16 Plan
          Pro

        .mb30
          %label.label.mb10.bold.lh16 Period
          1 year
          %small= 1.year.from_now.strftime("(expires %d %B %Y)")

        .mb30
          %label.label.mb10.bold.lh16 Price
          = number_to_currency(@payment.plan_cost, unit: '£')
          - if @payment.discount
            %small
              = surround '(', ')' do
                = @payment.discount
                discount

        %div
          %label.label.mb10.bold.lh16 Features
          = render 'accounts/premium_features'

    %section.perc66.md.mb80.px20.fs14

      %h1.light.fs40.p50 Thank you!
      .p50.fs40.light.lh120
        You have successfully subscribed

      = link_to 'Continue', session.delete(:return_to) || account_subscription_path(@recipient), class: 'button bg-green caps white'