%footer.footer
  .uk-container.uk-container-center

    %a{href: root_path, alt: 'Beehive'}
      .logo-hex

    %p.white Intelligently connecting non-profits with funders

    = link_to 'About', faq_path(anchor: 'background'), class: 'white'
    %span &middot;
    = link_to 'Privacy', privacy_path, class: 'white'
    %span &middot;
    = link_to 'Terms', terms_path, class: 'white'
    %span &middot;
    %a{href: 'javascript:void(0)', class: 'white', 'data-uk-tooltip': "{pos:'top'}", title: 'Coming soon.'} API
    %span &middot;
    = link_to 'Contact', 'mailto:support@beehivegiving.org', class: 'white'

    %p.muted
      &copy; #{Date.today.year}
      = succeed ';' do
        = link_to 'BeehiveGiving.org', root_path, class: 'muted'
      Incubated by
      = succeed ',' do
        = link_to 'CAST', 'http://wearecast.org.uk/', target: '_blank', class: 'muted'
      Registered Charity No: 1161998, Company No: 9544506
