!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %title= content_for?(:title) ? "#{yield(:title)} | Beehive" : 'Beehive'
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = javascript_include_tag params[:controller]
      = javascript_include_tag 'helpers'
      = csrf_meta_tags
      = Gon::Base.render_data

    / Google Analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30021098-2', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

    / Mixpanel
    :javascript
      (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
      mixpanel.init("4c4e5cf90cda42b527052a9383f2f60a");

    / Hotjar
    :javascript
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:57581,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');

    - if logged_in?
      = intercom_script_tag(email: @current_user.user_email, name: @current_user.full_name)
      :javascript
        ga('set', 'userId', gon.currentUserId);

  %body#top
    = cell(:navbar, @current_user, proposal: @proposal)

    .uk-container.uk-container-center
      - if flash[:notice]
        :javascript
          $(document).ready(function() {
            return $('#notice').ready(function() {
              return $.UIkit.notify({
                message: "<i class='uk-icon-check'></i> #{flash[:notice]}",
                status: 'success',
                timeout: 3000,
                pos: 'top-center'
              });
            });
          });
        #notice
      - elsif flash[:alert]
        :javascript
          $(document).ready(function() {
            return $('#notice').ready(function() {
              return $.UIkit.notify({
                message: "<i class='uk-icon-exclamation-triangle'></i> #{flash[:alert]}",
                status: 'danger',
                timeout: 3000,
                pos: 'top-center'
              });
            });
          });
        #notice

    -# TODO: refactor
    = yield(:public) if content_for?(:public)
    = yield(:sign_in) if content_for?(:sign_in)
    = yield

  = render partial: 'layouts/footer' unless content_for?(:sign_in) || current_page?(controller: 'funders', action: 'map')
