!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %title Beehive
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = csrf_meta_tags
  %body
    .uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom
      - if flash[:notice]
        .uk-alert.uk-alert-success{'data-uk-alert' => ''}
          %a.uk-alert-close.uk-close
          %p.flash-notice= flash[:notice]
      = yield
