!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      %title Beehive
      = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = javascript_include_tag "//www.google.com/jsapi", "chartkick"
      = csrf_meta_tags
      = Gon::Base.render_data({})
    = google_webfonts_init({google: ['Roboto Slab', 'Roboto']})

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30021098-2', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');

    :javascript
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("4c4e5cf90cda42b527052a9383f2f60a");

    - if logged_in?
      = intercom_script_tag({:email => current_user.user_email, :name => current_user.name})

  %body#top
    %nav.uk-navbar#bg.border{"data-uk-sticky" => ""}
      .uk-container.uk-container-center
        %a.uk-navbar-brand.uk-hidden-small.logo{:href => root_path, title: 'Beehive'}
          .logo-label Beta
        .uk-navbar-flip
          - if logged_in?
            - unless content_for?(:signup)
              - if current_user.organisation.type == 'Funder'
                .uk-navbar-content.uk-text-muted.uk-hidden-small
                  Welcome,
                  = current_user.organisation.name
                .uk-button-group.bh-button-group
                  %a.uk-button{href: recipient_dashboard_path} Dashboard
                  %div{"data-uk-dropdown" => "{mode:'click'}"}
                    %button.uk-button
                      %i.uk-icon-caret-down
                    .uk-dropdown
                      %ul.uk-nav.uk-nav-dropdown
                        %li
                          %a{href: logout_path, method: :destroy} Sign out

              - else current_user.organisation.type == 'Recipient'
                - if current_user_should_render_feedback?
                  .uk-navbar-content.uk-hidden-small{style: 'padding-top: 2px'}
                    %a.uk-text-primary{"data-uk-modal" => "{target:'#feedback'}"} Feedback
                .uk-navbar-flip.uk-hidden-small
                  %ul.uk-navbar-nav
                    %li{class: ('uk-active' if current_page?(funders_path))}
                      %a{href: funders_path} Funders
                    %li{class: ('uk-active' if current_page?(recipient_dashboard_path))}
                      %a{href: recipient_dashboard_path}
                        Dashboard
                        -# %span.uk-badge.uk-badge-notification 1
                    %li.uk-parent{"data-uk-dropdown" => "{mode:'click'}"}
                      %a
                        %i.uk-icon-user.uk-icon-small
                      .uk-dropdown.uk-dropdown-navbar.uk-dropdown-flip#panel
                        %ul.uk-nav.uk-nav-navbar
                          %li
                            %a{:href => recipient_profiles_path(current_user.organisation)} Edit profiles
                          -# %li
                          -#   %a{:href => "#"} Edit organisation
                          %li.uk-nav-divider
                          %li
                            %a{href: logout_path, method: :destroy} Sign out

            - else
              %ul.uk-navbar-nav.uk-hidden-small
                %li
                  %a{href: logout_path, method: :destroy} Sign out

          - else
            %ul.uk-navbar-nav.uk-hidden-small
              %li
                %a{ href: tour_path } Find out more
              %li
                %a{"data-uk-offcanvas" => "", :href => "#offcanvas"} Sign in
          %a.uk-navbar-toggle.uk-visible-small#padding-remove{"data-uk-offcanvas" => "{target:'#offcanvas'}"}
        %a.uk-navbar-brand.uk-visible-small.logo{:href => root_path}
          .logo-label Beta

    .uk-container.uk-container-center
      - if flash[:notice]
        :javascript
          $(document).ready(function() {
            return $('#notice').ready(function() {
              return $.UIkit.notify({
                message: "<i class='uk-icon-check'></i> #{flash[:notice]}",
                status: 'success',
                timeout: 3000,
                pos: 'top-center'
              });
            });
          });
        #notice
      - elsif flash[:alert]
        :javascript
          $(document).ready(function() {
            return $('#notice').ready(function() {
              return $.UIkit.notify({
                message: "<i class='uk-icon-exclamation-triangle'></i> #{flash[:alert]}",
                status: 'danger',
                timeout: 3000,
                pos: 'top-center'
              });
            });
          });
        #notice

    = yield(:signup) if content_for?(:signup)
    = yield

    .uk-container.uk-container-center
      .uk-grid.uk-margin-top
        .uk-width-1-2
          .uk-text-left
            %p
              %a.uk-button.uk-button-mini{:href => about_path} About
              %a.uk-button.uk-button-mini{:href => privacy_path} Privacy
              %a.uk-button.uk-button-mini{:href => "mailto:support@beehivegiving.org"} Contact
              %small
                %a.yellow{href: "http://www.forwardfoundation.org.uk/?utm_source=Beehive&utm_medium=Link&utm_campaign=Beehive%2Bto%2BFoundation", target: "_blank"} &copy; #{Date.today.year}
        .uk-width-1-2
          .uk-text-right
            = link_to image_tag("tf-logo-light.png", size: "100"), "http://www.thefoundation.org/?utm_source=Beehive&utm_medium=Link&utm_campaign=Beehive%2Bto%2BFoundation", target: "_blank"
            .powered-by Powered by

    #offcanvas.uk-offcanvas
      .uk-offcanvas-bar.uk-offcanvas-bar-flip.uk-offcanvas-bar-show{style: 'z-index:1000;'}
        - if logged_in?
          - if current_user.organisation
            %ul.uk-nav.uk-nav-offcanvas
              %li.uk-nav-header.uk-margin-top.uk-text-center
                %i.uk-icon-user.uk-icon-small
              %li
                - if current_user.organisation.type == 'Funder'
                  %a{href: funder_path(current_user.organisation)} Dashboard
                - else
                  %a{href: recipient_dashboard_path} Dashboard
                  %a{:href => recipient_profiles_path(current_user.organisation)} Edit profiles
                  %a{"data-uk-modal" => "{target:'#feedback'}"} Feedback
              %li
                %a{href: logout_path, method: :destroy} Sign out
          - else
            %ul.uk-nav.uk-nav-offcanvas
              %li.uk-nav-header.uk-margin-top.uk-text-center
                Welcome to Beehive
              %li
                %a{href: logout_path, method: :destroy} Sign out
        - else
          %ul.uk-nav.uk-nav-offcanvas
            %li.uk-nav-header.uk-margin-top.uk-text-center Sign in
            = form_tag login_path, method: 'post', class: 'uk-panel uk-form' do
              .uk-form-row
                = text_field_tag :email, nil, placeholder: 'Email', type: 'email', class: 'uk-width-1-1'
              .uk-form-row{style: 'position: relative;'}
                = password_field_tag :password, nil, placeholder: 'Password', type: 'password', class: 'form-password uk-width-1-1'
                %a.uk-form-password-toggle{"data-uk-form-password" => "", :href => ""} Show
              .uk-form-row
                = submit_tag 'Sign in', class: 'uk-width-1-1 uk-button uk-button-primary', style: 'color: #fff; font-size: 16px;'
              .uk-form-row.uk-text-small
                %label.uk-float-left
                  = check_box_tag :remember_me, 1, params[:remember_me]
                  Remember Me
                = link_to 'Forgot Password?', new_password_reset_path, class: 'uk-float-right uk-link'
            %li.uk-nav-header.uk-margin-top.uk-text-center Or
            .uk-panel
              %a.uk-button.uk-width-1-1{ href: tour_path, style: 'font-size: 16px;'} Find out more

    - if current_user_should_render_feedback?
      = render partial: 'recipients/feedback'
