!!!
%html
  = render 'shared/head'
  :css
    .bg-primary {
      background: #{@funder&.primary_colour} !important;
    }
    .border-primary {
      border-color: #{@funder&.primary_colour} !important;
    }
    .primary {
      color: #{@funder&.primary_colour} !important;
    }
    .headline {
      color: #{@funder&.headline_colour} !important;
    }
    .subtitle {
      color: #{@funder&.subtitle_colour} !important;
    }
    .input:focus {
      border-color: #{@funder&.primary_colour} !important;
    }
    .quiz input[type='radio']:checked + label {
      color: #{@funder&.headline_colour} !important;
      background: #{@funder&.primary_colour} !important;
    }
    .quiz input[type=radio]:not(:checked) + label {
      color: #{@funder&.primary_colour} !important;
    }

  %body
    = yield
    %footer
      .maxw1080.mx-auto.p40.center
        %a{ href: '/', target: '_blank' }
          .inline-flex.items-center.justify-center
            %small.blue.mr5.block Powered by
            #navbar-logo.blue{ style: 'margin-right: 0 !important;' }