= content_for :title, 'Subscription'

:javascript
  mixpanel.track("View Subscription Page");
  mixpanel.identify("#{@current_user.id}");

= render partial: 'subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Subscription
  %h4
    You are currently subscribed to a
    - if @subscription.active?
      %strong Pro
      plan which expires on
      = succeed '.' do
        %strong= @payment.subscription_expiry
    - else
      free
      %strong Basic
      plan which
      = succeed '.' do
        %strong does not expire

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    .uk-grid
      .uk-width-medium-1-2.uk-margin-bottom
        .uk-panel.uk-panel-box{style: 'background: white; border: 2px solid #f5f5f5'}
          %h3.uk-panel-title
            Basic
            - unless @subscription.active?
              %span
                %small (Current)
          %h4.uk-text-bold FREE
          %ul
            %li 1 funding proposal analysed
            %li Check eligibility with 3 funds
            %li Browse 6 funds

      .uk-width-medium-1-2
        .uk-panel.uk-panel-box
          %h3.uk-panel-title
            = @payment.plan_name
            - if @subscription.active?
              %span
                %small (Current)
          %h4.uk-text-bold= number_to_currency(@payment.plan_cost, unit: '£', precision: 0)
          %ul
            %li UNLIMITED funding proposals analysed
            %li Check eligibility with UNLIMITED funds
            %li Browse UNLIMITED funds
            %li Browse by funding theme
          - unless @subscription.active?
            = link_to 'Upgrade', account_upgrade_path(@recipient), class: 'uk-button uk-button-primary uk-button-large uk-width-1-1'
