= content_for :title, 'Subscription'

:javascript
  mixpanel.track("View Subscription Page");
  mixpanel.identify("#{@current_user.id}");

= render partial: 'subnav'

.uk-container.uk-container-center.uk-margin-large
  %h2 Subscription
  %h4
    You are currently subscribed to a
    - if @subscription.active?
      %strong Pro
      plan which expires on
      = succeed '.' do
        %strong= @payment.subscription_expiry
        -# TODO: store date on Subscription
      After which you will be downgraded to a
      %strong Basic
      plan unless you manually re-subscribe.
    - else
      free
      %strong Basic
      plan which
      = succeed '.' do
        %strong does not expire

  .uk-width-large-4-5.uk-container-center.uk-margin-large-top.uk-animation-fade
    .uk-grid
      .uk-width-medium-1-2.uk-margin-bottom
        .uk-panel.uk-panel-box.none
          %h3
            Basic
            - unless @subscription.active?
              .uk-button.uk-button-small.uk-button-primary.invert Active
          %h4.uk-text-bold FREE
          %ul
            %li
              %strong 1
              funding proposal analysed
            %li
              Conduct
              %strong 3
              eligibility checks
            %li
              Browse
              %strong 6
              funds

      .uk-width-medium-1-2
        .uk-panel.uk-panel-box.none.card
          %h3
            Pro
            - if @subscription.active?
              .uk-button.uk-button-small.uk-button-primary.invert Active
          %h4
            %strong= number_to_currency(@payment.plan_cost, unit: '£', precision: 0)
            %small per year
          = render 'features'
          - unless @subscription.active?
            = link_to 'Upgrade', account_upgrade_path(@recipient), class: 'uk-button uk-button-primary uk-button-large uk-width-1-1'
